{{ form_start(form, { 'attr': { 'class': 'first-step-form', 'id': 'anleitung-form' } }) }}
<div class="err-msg">
    {{ form_errors(form) }}
</div>

{{ form_widget(form.success) }}

<div class="row">
<div class="col-xs-12 border-bottom-white form-head">
  <div class="form-container">
    <div class="row">
      <div class="col-md-6 "> <span class="number-one"></span>
        <p class="form-heading">Jetzt anbieten</p>
      </div>
      <div class="col-md-6"><span class="form-info">Nutze unsere <a data-toggle="modal" data-target="#hey-garantie" href="#">hey! Garantie</a> für Privatanbieter!</span> </div>
    </div>
  </div>
</div>

<style>
     .btn-group.bootstrap-select {
    width: 100%;
	max-width:375px
	 }	 
	.jetztanbieten { 
	font-size: 24px;
	max-width: 750px;
    padding: 8px 0;
    margin-top: -5px;
	display:block;
	margin:auto;
		}
	.anleitungemail {
	width:100%
	}
	.anleitung {
	text-transform:none!important;
	font-size:15px!important;
	background-color:#fff;
	font-weight:400;
	margin:auto!important;
	max-width:750px!important;
	}
	.abstand {
		margin-top:10px;
	}
	.anleitungform p {
		margin-bottom:10px;
		font-family: 'Open Sans',sans-serif;
		font-size:15px;
		font-weight:700;
	}
	.anleitungform .row {
	text-align:center;
	}
	
	.anleitungform input {
	width:100%;
	max-width:375px;
	}
	
	@media (max-width: 736px) {
	.anleitung {
	max-width:350px!important;
	background-color:#f5f5f5;
	}
	.anleitungform input {
	width:100%;
	max-width:350px!important;
	}
	.jetztanbieten { 
	max-width:350px;
	}
	.abstand {
		margin-top:60px;
	}
	}
	
</style>
         
<div class="col-xs-12">
  <div class="form-container form-input">
    <div class="row">
      <div class="col-sm-12">
        {{ form_widget(form.subcategoryId, { 'attr': { 'class': 'selectpicker', 'title': 'Detailkategorie Wählen' } }) }}
        <div class="err-msg">
            {{ form_errors(form.subcategoryId) }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 <div class="row">
                 <a data-toggle="modal" data-target="#reg-modal" href="#" class="green-big-button jetztanbieten">Jetzt anbieten!</a>
              </div>     
				  
      <div class="row">
        <div class="col-xs-12 abstand">
          <div class="form-container form-input anleitungform">
            <div class="row">            
                <p>Anleitung erhalten</p>
            </div>
            <div class="row">            
                 {# <input type="text" name="name4" placeholder="EMAIL*" class="" id="name4"> #}
            {{ form_widget(form.email, { 'attr': { 'placeholder': 'EMAIL*' } }) }}
            <div class="err-msg">
                {{ form_errors(form.email) }}
            </div>
             <div class="row">            
                <input type="submit" class="button-black backgound-yellow text-black anleitung" value="Anleitung schicken">
    </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
{{ form_end(form) }}
