{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-header ">
        <img src="/img/rent-bg.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/>
        <img src="/img/rent-bg-rwd.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
        <div class="container rent-heading ">
            <div class="row">
                <div class="col-sm-8 full">
                  <div class="text-align">
                    <h1 class="vermietung-mobile">Equipment vermieten</h1>
                  </div>

                    <ul class="heading-list mobile-hidden">
                        <li>Biete Gegenstände an, die du kaum oder nicht mehr verwendest</li>
                        <li>Nutze unsere unverbindliche <a href="#" data-target="#testandbuy" data-toggle="modal"><span class="text-yellow">Test &amp; Buy Option</span></a> </li>
                        <li>Verdiene etwas Geld dabei</li>
                        <li>Lerne neue Menschen kennen</li>
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#reg-modal" class="button-black backgound-yellow text-black no-hover mobile-hidden">Jetzt kostenlos mitmachen!</a>
                </div>
                <div class="ad col-sm-4 mobile-hidden">
                    <img src="/img/placeholder/ad.jpg" alt="ad" class="img-responsive"/>
                    <div class="product-info product-ad">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                    <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                    <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                    <li><span class="glyphicon glyphicon-star"></span> </li>
                                    <li><span class="glyphicon glyphicon-star"></span> </li>
                                </ul>
                                <p class="product-name">
                                    dein inserat bei hey! VIENNA
                                </p>
                            </div>
                        </div>
                        <img src="/img/woman2.png" alt="cart" class="product-user">
                        <img src="/img/new-icon.png" alt="cart" class="cart">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <div class="container margin-bot">
  {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_EQUIPMENT'), 'mobile': true })) }}
</div>
  <section class="main-categories main-offers">
    <div class="container background-white rent-container">
        <nav class="crumbs">
            <ul class="col-xs-8">
                <li><a href="{{ path("start-page") }}">hey! VIENNA</a></li>
                <li><a href="{{ path('rentme') }}" class="active-crumb">Equipment vermieten</a></li>
            </ul>
        </nav>
        <span class="clearfix"></span>
        <!-- Categories -->
                  
        {% for cat in categories %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
            {% endif %}
            {% if loop.index0 == 0 %}
                <div class="col-xs-12 mobile-hidden"><h2>Was möchtest du anbieten?</h2></div>
            {% endif %}
            
            <div class="col-sm-4">
                <a class="text-black" href="{{ path("rental-detail", { 'categoryId': cat.id }) }}">
                    <div class="categories-names">
                        <h3>{{ cat.name }}</h3>
                    </div>
                </a>
                <a href="{{ path("rental-detail", { 'categoryId': cat.id }) }}">
                    <img src="{{ cat.imageUrl }}" alt="{{ cat.name }}"/>
                </a>
            </div>
            {% if loop.index0 % 3 == 2 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Categories -->
    </div>
  </section>
  </div>
<div id="testandbuy" class="modal fade delete-offer" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
      <div class="content-modal">
        <p class="text-bold">Test & Buy Option</p>
        <p class="modal-long-text">
         Die "Test & Buy" Option beim Einstellen eines Angebots, weißt darauf hin, dass du dein Equipment auch zum Verkauf anbieten möchtest. Somit erhält ein potentieller Käufer die Möglichkeit dein Equipment zuerst zu testen und dann zu entscheiden ob er es auch kaufen möchte. Bei einem Kauf kannst du ihm den Mietpreis zurückerstatten. Du kannst den Verkaufspreis direkt mit dem Mieter vereinbaren und auch den Kauf direkt mit ihm abwickeln.<br><br>
         </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
