{% extends 'base.html.twig' %}

{% block body %}
  <div class="main-header ">
    <img src="{% if category.bigImage %}{{ category.bigImage.urlPath(image_url_prefix) }}{% else %}/img/cat-final/e_sport.jpg{% endif %}" alt="{{ category.name }}" class="img-responsive max-1600 max-320"/>
    <img src="{% if category.image %}{{ category.image.urlPath(image_url_prefix) }}{% else %}/img/cat-final/e_sport_small.jpg{% endif %}" alt="{{ category.name }}" class="img-responsive max-1600 min-320"/>
        <div class="container rent-heading ver-step0">
            <div class="row">
                <div class="col-sm-8 full">
                    <h1 class="vermietung-mobile mobile-hidden">{{ category.name }} vermieten</h1>
                    <div class="text-align">
                      <h1 class="vermietung-mobile desktop-hide-inline">{{ category.name }}</h1>
                    </div>
                    <div class="text-align">
                      <h1 class="vermietung-mobile desktop-hide-inline">vermieten</h1>
                    </div>
                    <ul class="heading-list mobile-hidden">
                        <li>Biete Gegenstände an, die du kaum oder nicht mehr verwendest</li>
                        <li>Nutze unsere unverbindliche <a href="#" data-target="#testandbuy" data-toggle="modal"><span class="text-yellow">Test &amp; Buy Option</span></a> </li>
                        <li>Verdiene etwas Geld dabei</li>
                        <li>Lerne neue Menschen kennen</li>
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#reg-modal" class="button-black backgound-yellow text-black no-hover mobile-hidden">Jetzt kostenlos mitmachen!</a>
                </div>
                <div class="ad mobile-hidden col-sm-4">
                    <img src="/img/placeholder/ad.jpg" alt="ad" class="img-responsive"/>
                    <div class="product-info product-ad">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                    <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                    <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                    <li><span class="glyphicon glyphicon-star"></span> </li>
                                    <li><span class="glyphicon glyphicon-star"></span> </li>
                                </ul>
                                <p class="product-name">
                                    dein inserat bei hey! Vienna
                                </p>
                            </div>
                        </div>
                        <img src="/img/woman2.png" alt="cart" class="product-user">
                        <img src="/img/new-icon.png" alt="cart" class="cart">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <section class="main-categories main-offers vermietung">
    <div class="container  background-white rent-container bg-white">
        <nav class="crumbs">
            <ul class="col-xs-8">
                <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
                <li><a href="{{ path('rental') }}">Equipment vermieten</a></li>
                <li><a class="active-crumb" href="{{ path("rental-detail", { 'categoryId': category.id }) }}">{{ category.name }}</a></li>
            </ul>
        </nav>
        <div class="mobile-hidden"> <select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
          <option value="/heyrentme">HAUPKATEGORIE</option>
          <option value="/heyrentme">HAUS & GARTEN</option>
          <option value="/heyrentme">FREIZEIT & EVENTS</option>
          <option value="/heyrentme">LEBENSHILFE</option>
          <option value="/heyrentme">OFFICE</option>
          <option value="/heyrentme">WERKZEUG</option>
          <option value="/heyrentme">SPORT-EQUIPMENT</option>
          <option value="/heyrentme">KINDERARTIKEL</option>
          <option value="/heyrentme">TECHNIK</option>
        </select>
  </div>
        <span class="clearfix"></span>
        <div id="rental-form">
        {{ render(controller('AppBundle:Rental:rentalForm', { 'categoryId': category.id })) }}
        </div>
    </div>
    </div>
  </section>
  </div>
  
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script>
    $(function() {
        $("#anleitung-form").ajaxForm({
            target: $("#anleitung-form"),
            success: makeAjaxForm
        });
    });
    function makeAjaxForm(data, status, xhr) {
        // check response
        $("#anleitung-form").ajaxForm({
            target: $("#anleitung-form"),
            success: makeAjaxForm
        });
        $(".selectpicker").selectpicker({
            style: 'btn-info',
            size: 4
        });
        if ($("#form_success").val() === "1") { // form was submitted successfully
            $("#danke").modal();
        }
    }
</script>
{% endblock %}
