{{ form_start(form, { 'attr': { 'class': 'first-step-form', 'id': 'anleitung-form' } }) }}
<div class="err-msg">
    {{ form_errors(form) }}
</div>

{{ form_widget(form.success) }}

<div class="row">
<div class="col-xs-12 border-bottom-white form-head">
  <div class="form-container">
    <div class="row">
      <div class="col-md-6 "> 
        <p class="form-heading">Jetzt anbieten</p>
      </div>
      <div class="col-md-6"><span class="form-info"></div>
    </div>
  </div>
</div>
         
<div class="col-xs-12">
  <div class="form-container form-input">
    <div class="row">
      <div class="col-sm-12">
        {{ form_widget(form.subcategoryId, { 'attr': { 'class': 'selectpicker', 'title': 'Detailkategorie Wählen' } }) }}
        <div class="err-msg">
            {{ form_errors(form.subcategoryId) }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 <div class="row">
                 <a data-toggle="modal" data-target="#reg-modal" href="#" class="green-big-button jetztanbieten">Jetzt anbieten!</a>
              </div>     
				  
      <div class="row">
        <div class="col-xs-12 abstand">
          <div class="form-container form-input anleitungform">
            <div class="row">            
                <p>Anleitung erhalten</p>
            </div>
            <div class="row">            
                 {# <input type="text" name="name4" placeholder="EMAIL*" class="" id="name4"> #}
            {{ form_widget(form.email, { 'attr': { 'placeholder': 'EMAIL*' } }) }}
            <div class="err-msg">
                {{ form_errors(form.email) }}
            </div>
             <div class="row">            
                <input type="submit" class="button-black backgound-yellow text-black anleitung" value="Anleitung schicken">
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
{{ form_end(form) }}
