{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
  <div class="request-container head-req">
  <div class="request-container head-req">
    <img src="/img/detail-bg.jpg" alt="image" class="img-responsive max-320"/></div>
    <img src="/img/detail-bg-rwd.jpg" alt="image" class="img-responsive min-320"/></div>
  </div>
  <div class="container request-container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ equipment.name }} / Vom Angebot zurücktreten</h1>
            <div class="row summary">
                <div class="ad col-md-4 col-sm-12">
                    <img src="{% if equipment.equipmentImages|length > 0 %}{{ equipment.equipmentImages[0].image.urlPath(image_url_prefix) }}{% else %}/img/equipment-default.jpg{% endif %}"
                         alt="{{ equipment.name }}" 
                         class="img-responsive"/>
                    <div class="product-info product-ad">
                        <div class="row">
                            <div class="col-xs-6">
                                {{ include('common/stars.html.twig', { rating: equipment.rating }) }}
                                <p class="product-name">{{ equipment.name }}</p>
                            </div>
                            <div class="col-xs-6"><p class="price">{{ equipment.activePrice|number_format(2, ',') }} €</p>
                                <p class="tag">pro Tag</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 summary-info">
                    <p>BEGINN:</p>
                    <p>ENDE:</p>
                    <p>Gesamtkosten:</p>
                    <p>ORT:</p><br />
                </div>
                <div class="col-sm-4 col-xs-6 summary-info">
                    <p>{{ booking.inquiry.fromAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                    <p>{{ booking.inquiry.toAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                    <p>{{ booking.totalPrice|number_format(2, ',') }} €</p>
                    <p class="dont-transform">
                        {{ equipment.addressAsString }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row legals stornieren">
        
            {{ form_widget(form.reason) }}
        
        <div class="col-xs-12">
            <h3>Ich möchte vom Angebot aus folgenden Gründen zurücktreten:</h3>
            <input type="radio" id="es" name="radio-stornieren" value="no-show"><label for="es"><span></span> Anbieter ist bis 15 min. nach Buchungsbeginn nicht erschienen (Anbieter wird abgemahnt)</label>
            <input type="radio" id="equipment" name="radio-stornieren" value="defect"><label for="equipment"><span></span> Das Equipment ist defekt (Anbieter wird abgemahnt)</label>
            <input type="radio" id="sonstiges" name="radio-stornieren" value="other"><label for="sonstiges"><span></span> Sonstiges:</label>
            {{ form_widget(form.description, { 'attr': { 'class': 'full-rwd', 'disabled': 'disabled' } }) }}
            <button class="btn-red full-rwd">Angebot stornieren</button>
        </div>
    </div>
    {{ form_end(form) }}
        <span class="add-margin-bottom-300"></span>
  </div>
  </div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        refreshCtrl();
        $(":radio[name='radio-stornieren']").on('click change blur', radioChanged);
    });
    function radioChanged() {
        var $radio = $(":radio[name='radio-stornieren']:checked");
        var $text = $("#form_reason");
        $text.val($radio.val());
        refreshCtrl();
    }
    function refreshCtrl() {
        var $radio = $(":radio[name='radio-stornieren']:checked");
        var $text = $("#form_description");
        if ($radio.attr('id') === 'sonstiges') {
            $text.attr('required', 'required');
            $text.removeAttr('disabled');
        }
        else {
            $text.removeAttr('required');
            $text.attr('disabled', 'disabled');
            $text.val('');
        }
    }
</script>    
{% endblock %}
