{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
  <div class="request-container head-req">
  <div class="request-container head-req">
    <img src="/img/detail-bg.jpg" alt="image" class="img-responsive max-320"/></div>
    <img src="/img/detail-bg-rwd.jpg" alt="image" class="img-responsive min-320"/></div>
  </div>
  <div class="container request-container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Deine offenen Buchungen als Kunde</h1>
			
        </div>
    </div>
      
    {% for booking in bookings %}
        {% if booking.inquiry.equipment is defined %}
            {% set item = booking.inquiry.equipment %}
        {% else %}
            {% set item = booking.inquiry.talent %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="row summary">
                    <div class="ad col-md-4 col-sm-12">
                        <img src="{% if booking.inquiry.equipment is defined %}{% if item.equipmentImages|length > 0 %}{{ item.equipmentImages[0].image.urlPath(image_url_prefix) }}{% else %}/img/equipment-default.jpg{% endif %}{% else %}{% if item.talentImages|length > 0 %}{{ item.talentImages[0].image.urlPath(image_url_prefix) }}{% else %}/img/equipment-default.jpg{% endif %}{% endif %}" 
                             alt="{{ item.name }}"
                             class="img-responsive"/>
                        <div class="product-info product-ad">
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ include('common/stars.html.twig', { rating: item.rating }) }}
                                    <p class="product-name">{{ item.name }}</p>
                                </div>
                                <div class="col-xs-6"><p class="price">{{ item.activePrice|number_format(2, ',') }} €</p>
                                    <p class="tag">pro Tag</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 summary-info">
                        <p>BEGINN:</p>
                        <p>ENDE:</p>
                        <p>Gesamtkosten:</p>
                        <p>ORT:</p>
                    </div>
                    <div class="col-sm-4 col-xs-6 summary-info">
                        <p>{{ booking.inquiry.fromAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                        <p>{{ booking.inquiry.toAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                        <p>{{ booking.totalPrice|number_format(2, ',') }} €</p>
                        <p class="dont-transform">
                            {{ item.addressAsString }}
                        </p>
                    </div>
					 <div class="col-sm-4 col-sm-push-4 margin-ort">
                        {% if booking.status == constant('STATUS_BOOKED', booking) %}
                            <button data-id="{{ booking.id }}" data-type="{% if booking.inquiry.equipment is defined %}equipment{% else %}talent{% endif %}" class="rabat-button">Buchung bearbeiten</button>
                        {% else %}
                            Status: {{ booking.statusAsString }}
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                Keine Buchungen
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <h1>Deine anstehenden Buchungen als Anbieter</h1>
        </div>
    </div>
      
    {% for booking in pBookings %}
        {% if booking.inquiry.equipment is defined %}
            {% set item = booking.inquiry.equipment %}
        {% else %}
            {% set item = booking.inquiry.talent %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="row summary">
                    <div class="ad col-md-4 col-sm-12">
                        <img src="{% if booking.inquiry.equipment is defined %}{% if item.equipmentImages|length > 0 %}{{ item.equipmentImages[0].image.urlPath(image_url_prefix) }}{% else %}/img/equipment-default.jpg{% endif %}{% else %}{% if item.talentImages|length > 0 %}{{ item.talentImages[0].image.urlPath(image_url_prefix) }}{% else %}/img/equipment-default.jpg{% endif %}{% endif %}" 
                             alt="{{ item.name }}"
                             class="img-responsive"/>
                        <div class="product-info product-ad">
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ include('common/stars.html.twig', { rating: item.rating }) }}
                                    <p class="product-name">{{ item.name }}</p>
                                </div>
                                <div class="col-xs-6"><p class="price">{{ item.activePrice|number_format(2, ',') }} €</p>
                                    <p class="tag">pro Tag</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 summary-info">
                        <p>BEGINN:</p>
                        <p>ENDE:</p>
                        <p>Gesamtkosten:</p>
                        <p>ORT:</p>
                    </div>
                    <div class="col-sm-4 col-xs-6 summary-info">
                        <p>{{ booking.inquiry.fromAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                        <p>{{ booking.inquiry.toAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                        <p>{{ booking.totalPrice|number_format(2, ',') }} €</p>
                        <p class="dont-transform">
                            {{ item.addressAsString }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                Keine Buchungen
            </div>
        </div>
    {% endfor %}
    <span class="add-margin-bottom-300"></span>
  </div>
{% endblock %}

{% block script %}
<script>
    $(function() {
        $('button[data-id]').click(function() {
            var id = $(this).data('id');
            var type = $(this).data('type');
            var path = type === 'equipment' ? '{{ path("booking-cancel", { 'id': 'XIDX' }) }}' : '{{ path("talent-cancel", { 'id': 'XIDX' }) }}';
            if (typeof id !== "undefined" && id !== null && id !== "") {
                var url = path.replace('XIDX', id);
                window.location = url;
            }
        });
    });
</script>
{% endblock %}