{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
  <div class="request-container head-req">
    <img src="/img/detail-bg.jpg" alt="image" class="img-responsive max-320"/></div>
    <img src="/img/detail-bg-rwd.jpg" alt="image" class="img-responsive min-320"/></div>
  </div>
  <div class="container request-container">
    {{ form_start(form, { 'attr': { 'id': 'booking-confirm' } }) }}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ equipment.name }} / Jetzt Buchen</h1>
            <div class="row summary">
                <div class="ad col-md-4 col-sm-12">
                    {% if (equipment.equipmentImages|length > 0 ) %}
                        <img src="{{ equipment.equipmentImages[0].image.urlPath(image_url_prefix) }}" alt="{{ equipment.name }}" class="img-responsive"/>
                    {% else %}
                        <img src="/img/equipment-default.jpg" alt="{{ equipment.name }}" class="img-responsive"/>
                    {% endif %}
                    <div class="product-info product-ad">
                        <div class="row">
                            <div class="col-xs-6">
                                {{ include('common/stars.html.twig', { rating: equipment.rating }) }}
                                <p class="product-name">{{ equipment.name }}</p>
                            </div>
                            <div class="col-xs-6"><p class="price">{{ equipment.activePrice|number_format(2, ',') }} €</p>
                                <p class="tag">pro Tag</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 summary-info">
                    <p>BEGINN:</p>
                    <p>ENDE:</p>
                    <p>KOSTEN:</p>
                    <p>ORT:</p><br />
                    <p>Servicegebühr:</p>
                    <p class="text-bold">Summe:</p>
                </div>
                <div class="col-sm-4 col-xs-6 summary-info">
                    <p>{{ inquiry.fromAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                    <p>{{ inquiry.toAt|localizeddate('none', 'none', 'de_AT', null, 'dd.MM.yyyy HH:mm') }}</p>
                    <p>
                        {% if inquiry.price %}
                            {{ inquiry.price|number_format(2, ',') }} &euro;
                        {% else %}
                            probefahrt
                        {% endif %}
                    </p>
                    <p class="dont-transform">
                      {{ equipment.addressAsString }}
                    </p>
                    <p>0,- &euro; (Aktion!)</p>
                    <p class="text-bold"><span id="price">
                        {% if inquiry.price %}
                            {{ inquiry.price|number_format(2, ',') }}</span> &euro; (Barzahlung)
                        {% else %}
                            probefahrt
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-4">
                    {{ form_widget(form.uuid) }}
                    {% if form.discountCode is defined %}
                        {{ form_widget(form.discountCode, { 'placeholder': 'rabattcode eingeben', 'class': 'rabat-input' }) }}
                        <div class="err-msg">{{ form_errors(form.discountCode) }}</div>
                    {% endif %}
                    <div class="err-msg">{{ form_errors(form) }}</div>
                </div>
                <div class="col-sm-4">
                    {% if form.discountCode is defined %}                    
                        <button class="rabat-button" onclick="checkCode(); return false;">rabatt einlösen</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row bewertung-request-form legals">
        <div class="col-xs-12">
            <p>Bitte achte bei einem Verleih auf sorgsamen Umgang mit dem Equipment. Der Anbieter wird dafür sorgen, dass das Gerät funktionstüchtig und einsatzbereit ist. Ihr bekommt beide noch ein Übergabeprotokoll zur Kontrolle für bereits bestehender Schäden oder Kratzer. Bitte nimm zur Übergabe die Kaution sowie einen Personalausweis mit.</p>
            <p>Sollte etwas vor dem Übergabetermin dazwischen kommen, melde dich bitte direkt beim Anbieter.<br />
                Für Rückfragen schreib uns bitte an <a href="mailto:support@heysharing.com">support@heysharing.com</a>.</p>
            <div class="checkbox">
              <div class="chbox-holder">
                  {{ form_widget(form.agree) }}<label for="form_agree" class="padding-0"><span></span>Ich habe die <a href="{{ path("kundeninfos_agb") }}" target="_blank">AGB</a> gelesen und stimme diesen zu.</label>
                  <div class="err-msg">{{ form_errors(form.agree) }}</div>
              </div>
            </div>
            <button onclick="submit();">Jetzt Buchen</button>
        </div>
    </div>
    <span class="add-margin-bottom-300"></span>
    {{ form_end(form) }}
  </div>
  </div>

  {% if saved %}
    <div id="question-modal" class="modal fade delete-offer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
        <div class="content-modal">
                  <p class="text-bold">Buchung bestätigt</p>
                  <p class="delate-info">Ihre Buchung wurde erfolgreich durchgeführt.</p>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
    <script>        
        {% if not saved %}
            function submit() {
                $("#booking-confirm").submit();
            }
            
            function checkCode() {
                var price = {{ inquiry.price|number_format(2) }};
                var dcode = $.trim($("#form_discountCode").val());
                var url = '{{ path('booking-check-code', { 'code': ':CODE', 'uuid': inquiry.uuid }) }}'
                        .replace(':CODE', dcode);
                $.get(url, function(data, status) {
                    if (status === 'success' && data.result === 'ok') {
                        var newPrice = price - data.value;                    
                        var $price = $("#price");
                        $price.text(newPrice);
                        $price.parent().css({ 'background-color': '#f0c814' });                    
                    }
                });
            }
        {% else %}
            $(function(){
                var $modal = $("#question-modal");
                $modal.modal();                
                $modal.on("hidden.bs.modal", function(){ 
                    window.location = '{{ path('dashboard') }}';
                });
            });
        {% endif %}
    </script>
{% endblock %}
