<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
        <h4 class="modal-title">Eine Frage stellen</h4>
        {{ form_start(form) }}
            <div>
                {% if not loggedIn %}
                    {{ form_widget(form.name, { 'attr': { 'placeholder': 'VORNAME*' }}) }}
                    <div class="err-msg">{{ form_errors(form.name) }}</div>
                    {{ form_widget(form.email, { 'attr': { 'placeholder': 'DEINE EMAIL*' }}) }}
                    <div class="err-msg">{{ form_errors(form.email) }}</div>
                {% endif %}
                {{ form_widget(form.message, { 'attr': { 'rows': '5', 'placeholder': 'DEINE NACHRICHT: HIER KANNST DU DEM ANBIETER EINE FRAGE ZU DEM ANGEBOT STELLEN*' }}) }}
                <div class="err-msg">{{ form_errors(form.message) }}</div>
                <input type="submit" value="abschicken">
            </div>
        {{ form_end(form) }}           
    </div>
</div>
