<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.svg" alt="close"/></button>
        <h4 class="modal-title">Anfrage</h4>
        <p><span class="text-bold" >Datum:</span>  <span id="from-date">{{ inquiry.from|date('d-M-Y, H:i') }}</span></p>
        <p><span class="text-bold">Gesamtkosten AB: </span><span class="price-calc">{{ inquiry.price|number_format(2) }}</span> €</p>
        {{ form_start(form) }}
            <div>
                {% if not loggedIn %}
                    {{ form_widget(form.name, { 'attr': { 'placeholder': 'DEIN NAME*' }}) }}
                    <div class="err-msg">{{ form_errors(form.name) }}</div>
                    {{ form_widget(form.email, { 'attr': { 'placeholder': 'DEIN EMAIL*' }}) }}
                    <div class="err-msg">{{ form_errors(form.email) }}</div>
                {% endif %}
                {{ form_widget(form.message, { 'attr': { 'rows': '5', 'placeholder': 'NACHRICHT: WOFÜR BENÖTIGST DU DAS EQUIPMENT?*' }}) }}
                <div class="err-msg">{{ form_errors(form.message) }}</div>
                <input type="submit" value="abschicken">
        {{ form_end(form) }}           
    </div>
</div>
