{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_promo_code_list') }}" class="active-crumb">Promo code</a></li>
{% endblock %}

{% block body %}
<h1>Promo code</h1>
<a class="button-black backgound-yellow text-black" href="{{ path('admin_promo_code_generate') }}">Generate promo code</a>
<br/>
<br/>
<div class="selecttionPanel">
    <div class="error" id="CancelDiscountMessage"></div>
    <a id="selectAll" href="#" >select all</a>&nbsp;|&nbsp;<a id="deselectAll" href="#" >deselect all</a>&nbsp;|&nbsp;<a id="revertSelection" href="#" >revert selection</a>
    <div id="DivCancel" class="redButtonAdmin" data-target="{{ path("admin_cancel_promo_code" ) }}" title="Cancel selected codes" >Cancel</div>
</div>
<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>


{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
    <script src="/js/discountCode.js"></script>
<script>    


    
$(document).ready(function(){    
 
    
//*******************************************
/*	JQGRID INIT
/********************************************/


function rowActions(cellvalue, options, cellobject) {
      var s = cellobject[5];
      if (s === "cancelled" || s === 'assigned' || s === 'expired'){
        return "";  
      } else {
        return   "<input type='checkbox' class='CheckboxItems' value='"   +  options.rowId + "'></a>  ";
      }
    }
function userFormatter(cellvalue, options, cellobject) {
    if (cellobject[8] === '')
        return '';
    var s = '<a href="#URL#" target="_blank">#NAME#</a>'.replace('#URL#', cellobject[10]).replace('#NAME#', cellobject[11]);
    return s;
}
function itemFormatter(cellvalue, options, cellobject) {
    if (cellobject[11] === '')
        return '';
    var name = (cellobject[13].indexOf('equipment') !== -1 ? 'E-' : 'T-') + cellobject[11] + ': ' + cellobject[12];
    var s = '<a href="#URL#" target="_blank">#NAME#</a>'.replace('#URL#', cellobject[13]).replace('#NAME#', name);
    return s;
}
function providerFormatter(cellvalue, options, cellobject) {
    if (cellobject[14] === '')
        return '';
    var s = '<a href="#URL#" target="_blank">#NAME#</a>'.replace('#URL#', cellobject[16]).replace('#NAME#', cellobject[15]);
    return s;
}
function subFormatter(cellvalue, options, cellobject) {
    return '<span title="id=' + cellobject[8] + '">' + cellobject[9] + '</span>';
}


var $grid = $('#jqgrid');

if( $('#jqgrid').length > 0 ) {
        
    
        $grid.jqGrid({
                url: '{{ path('admin_promo_code_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name: '', width:40, fixed:true, align: "center", editable:false, sortable:false, formatter:rowActions },
                        { name:'Id', index:'pc.id', editable:false, sortable:false, hidden: true },
                        { name:'Code', index:'pc.code', width: 100, editable:false, sortable:true },
                        { name:'Status', index:'pc.status', width: 100, editable:false, sortable:true },
                        { name:'Created', index:'pc.createdAt', width: 130, editable:false, sortable:true },
                        { name:'Modified', index:'pc.modifiedAt', width: 130, editable:false, sortable:true },
                        { name:'Expires', index:'pc.expiresAt', width: 130, editable:false, sortable:true },
                        { name:'Value', index:'pc.value', width: 130, align: "right", editable:false, sortable:true },
                        { name:'UserId', hidden: true },
                        { name:'User', index:'u.username', width: 200, editable:false, sortable:true, formatter: userFormatter },
                        { name:'UserUrl', hidden: true },
                        { name:'ItemId', hidden: true, editable:false, sortable:false },                   
                        { name:'Item', width: 200, editable:false, sortable:false, formatter: itemFormatter },
                        { name:'ItemUrl', hidden: true },
                        { name:'ProviderId', hidden: true, editable:false, sortable:false },                   
                        { name:'Provider', width: 200, editable:false, sortable:false, formatter: providerFormatter },
                        { name:'ProviderUrl', hidden: true }
                ],
                height: 550,
                rowNum: 20,
                rowList: [20, 50, 100],
                pager: 'jqgrid-pager',
                sortname: 'pc.createdAt',
                viewrecords: true,
                sortorder: "desc",
                multiselect: false
        });
}

var buttons = ' ';


var html = $("#jqgrid_").html();
$("#jqgrid_").html(html + buttons);

}); // end ready function
</script>    
{% endblock %}

