{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_blog_list') }}" class="active-crumb">Blog</a></li>
{% endblock %}

{% block body %}
<h1>Blog</h1>

<a class="button-black backgound-yellow text-black" href="{{ path('admin_blog_new') }}">New post</a>
<br/>
<br/>

<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover"></table>
        <div id="jqgrid-pager"></div>
</div>


{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    

function rowActions(cellvalue, options, cellobject) {
    var s =
        "<a class=\"grid-icon\" title='Edit'             href='blog/edit/"   +  options.rowId + "'><span class=\"glyphicon glyphicon-edit\"></span></a>"+
        "<a class=\"grid-icon\" title='Related'           href='blog/addrelated/" +  options.rowId + "' ><span class=\"glyphicon glyphicon-indent-left\"></span></a>"+
        "<a class=\"grid-icon\" title='Preview' target='_blank'  href='" +  cellobject[7] + "' ><span class=\"glyphicon glyphicon-picture\"></span></a>" +
        "<a class=\"grid-icon\" title='Delete'           href='blog/delete/" +  options.rowId + "' onclick=\"return confirm('Are you sure to delete?')\"><span class=\"glyphicon glyphicon-remove\"></span></a>";
        if (cellobject[2])
            s += "<a class=\"grid-icon publish\" data-id=" +  options.rowId + " title='Unpublish' href=\"#\"><span class=\"glyphicon glyphicon-eye-open\"></span></a>";
        else
            s += "<a class=\"grid-icon publish\" data-id=" +  options.rowId + " title='Publish' href=\"#\"><span class=\"glyphicon glyphicon-eye-close\"></span></a>";
        return s;
}
function publishedFormatter(cellvalue, options, cellobject) {
    return cellvalue ? "X" : "-";
}
function publish() {
    var $a = $(this);
    var url = '{{ path('admin_blog_publish', { 'id': '-ID-' }) }}';
    url = url.replace('-ID-', $a.data('id'));
    $.get(url)
        .done(function(data) {
            if (data.published) {
                toastr.info('Blog post published successfully');
                $a.attr('title', 'Unpublish');
                $a.children().removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
            }
            else {
                toastr.info('Blog post unpublished successfully');
                $a.attr('title', 'Publish');
                $a.children().removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
            }
        })
        .fail(function() {
            toastr.error('Unexpected error occurred. Please try again.', 'Failed to save');
        });
}
function gridComplete() {
    $("a.publish").click(publish);
}
    
$(document).ready(function(){    
    var grid = $('#jqgrid');

    if( $('#jqgrid').length > 0 ) {
            grid.jqGrid({
                    url: '{{ path('admin_blog_jsondata') }}',
                    mtype: 'GET',
                    datatype: 'jsonp',
                    colModel:[
                            { name:' ', width:200, fixed:true, editable:false, sortable:false, formatter:rowActions },
                            { name:'Id', index:'b.id', width: 0, editable:false, sortable:false, hidden: true },
                            { name:'Public', index:'b.published', width: 60, editable:false, sortable:true, align: 'center', formatter: publishedFormatter },
                            { name:'Title', index:'b.title', width: 400, editable:false, sortable:true },
                            { name:'Created', index:'b.createdAt', width: 130, editable:false, sortable:true },
                            { name:'Modified', index:'b.modifiedAt', width: 130, editable:false, sortable:true },
                            { name:'Position', index:'b.position', align:"right", width: 80, editable:false, sortable:true}
                    ],
                    height: 550,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    pager: 'jqgrid-pager',
                    sortname: 'b.position',
                    viewrecords: true,
                    sortorder: "asc",
                    multiselect: false,
                    gridComplete: gridComplete
            });
    }

}); // end ready function
</script>    
    
{% endblock %}

