{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_blog_list') }}" class="active-crumb">Blog</a></li>
{% endblock %}

{% block body %}
<h1>Blog</h1>

<a class="button-black backgound-yellow text-black" href="{{ path('admin_blog_new') }}">New post</a>
<br/>
<br/>

<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>


{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    
$(document).ready(function(){    
//*******************************************
/*	JQGRID INIT
/********************************************/


function rowActions(cellvalue, options, cellobject) {
      return   "<a title='Edit'             href='blog/edit/"   +  options.rowId + "'><u>Edit</u></a>  "+
  	       "<a title='Delete'           href='blog/delete/" +  options.rowId + "' onclick=\"return confirm('Are you sure to delete?')\"><u>Delete</u></a>";
  }

var grid = $('#jqgrid');

if( $('#jqgrid').length > 0 ) {
        grid.jqGrid({
                url: '{{ path('admin_blog_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width:180, fixed:true, editable:false, sortable:false, formatter:rowActions },
                        { name:'Id', index:'b.id', width:1, editable:false, sortable:false, hidden: true },
                        { name:'Title', index:'b.title', width: 200, editable:false, sortable:true },
                        { name:'CreationDate', index:'b.createdAt', width: 100, editable:false, sortable:true },
                        { name:'ModificationDate', index:'b.modifiedAt', width: 100, editable:false, sortable:true },
                        { name:'Position', index:'b.position', align:"right", width: 100, editable:false, sortable:true},
                ],
                height: 300,
                rowNum: 10,
                rowList: [10, 50, 200],
                pager: 'jqgrid-pager',
                sortname: 'b.position',
                viewrecords: false,
                sortorder: "asc",
                caption: "Posts",
                multiselect: false,
        });
}

}); // end ready function
</script>    
    
{% endblock %}

