{% extends 'admin/admin.base.html.twig' %}

{% block head %}
    {{ parent() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
      tinymce.init({ 
          selector: 'textarea.rich-text-edit',
          width: 600,
          menubar: false/*,
          content_css: '/css/main.css'*/
      });
        $(function() {
            $("#form_name").keyup(updateSlug).blur(updateSlug);
        });
        function updateSlug() {
            $("#form_slug").val(getSlug($("#form_name").val()));
        }
    </script>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_category_list') }}">Category</a></li>
    <li><a href="{{ path('admin_subcategory_list', { 'categoryID': category.id }) }}" class="active-crumb"> Subcategory</a></li>
{% endblock %}

{% block body %}
<h1>Subcategory edit</h1>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
<div class="form-horizontal">
    <div class="err-msg">{{ form_errors(form) }}</div>
    
    {{ form_widget(form.id) }}
    
        <div class="row">
        <div class="form-group">
          <label for="form_name" class="control-label col-xs-2">Category</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.category) }}</div>
            {{ form_widget(form.category, { 'attr': { 'class': 'select-box' }}) }}
          </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
          <label for="form_name" class="control-label col-xs-2">Name</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.name) }}</div>
            {{ form_widget(form.name, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'name' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_slug" class="control-label col-xs-2">Slug</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.slug) }}</div>
          {{ form_widget(form.slug, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'slug' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_slug" class="control-label col-xs-2">Email body</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.emailBody) }}</div>
          {{ form_widget(form.emailBody, { 'attr': { 'class': 'rich-text-edit', 'placeholder': 'Content' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_position" class="control-label col-xs-2">Position</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.position) }}</div>
          {{ form_widget(form.position, { 'attr': { 'class': 'text-box single-line short', 'placeholder': 'position' }}) }}
          </div>
        </div>
    </div>

    <div class="row">
        
        <div class="form-group">
          <label for="form_upl" class="control-label col-xs-2">Change subcategory image</label>
          <div class="col-xs-10">
            <input type="file" name="upl"/>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Current image</label>
            <div class="col-xs-10">
                <img src="{{ subcategory.image.urlPath(image_url_prefix) }}" alt="" class="thumb"/>
            </div>
        </div>
</div>
          
          
    <div class="row">          
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="button-black backgound-yellow text-black" value="Save">
                <a class="button-black backgound-yellow text-black" href="{{ path('admin_subcategory_list', { 'categoryID': category.getId() }) }}">Cancel</a>
            </div>
        </div>
    </div>
    
</div>
{{ form_end(form) }}
{% endblock %}