{% block header1 %}
    {{ include('common/header1.html.twig') }}
{% endblock %}
{% block head %}{% endblock %}
{% block header2 %}
    {{ include('common/header2.html.twig') }}
{% endblock %}

{% block common %} {# common html/js stuff, eg. anbieten modals #}
    {{ render(controller('AppBundle:Common:commons')) }}
{% endblock %}

{% block paddings %}{% endblock %}

{% block home_header %}
    {{ include('common/home_header.html.twig') }}
{% endblock %}

{% block body %}{% endblock %}

{% block page_footer %}
    {{ include('common/page_footer.html.twig') }}
{% endblock %}

{% block footer %}
    {{ include('common/footer.html.twig') }}
{% endblock %}

{# 
    Put javascript in this block.
    Use <script> tags (for js editor functionality).
#}
{% block script %}{% endblock %}


</body>
</html>
