{% for eq in items %}
    <a class="text-black" href="{{ path('catchall', { 'content': eq.urlPath }) }}">
        <div class="col-md-4">
            {% if eq.images|length > 0 %}
                <div style="height: 268px; overflow: hidden;">
                <img src="{{ eq.images[0].urlPath(image_url_prefix) }}" alt="placeholder"/>
                </div>
            {% else %}
                <div style="height: 268px; overflow: hidden;">
                <img src="/img/equipment-default.jpg" alt="placeholder" style="max-height: 268px; overflow: hidden;"/>
                </div>
            {% endif %}
            {% if eq.priceBuy %}
                <img src="/img/cart.svg" alt="cart" class="cart"/>
            {% endif %}
            {#
            {% if eq.activeDiscount %}
                <div class="discount"><span>-{{ "%d"|format(eq.activeDiscount.percent) }}%</span></div>
            {% endif %}
            #}
            <div class="product-info position-relative">
                <div class="row">
                    <img src="{{ eq.user.profilePicture(false, image_url_prefix) }}" alt="cart" class="product-user product-user2"/>
                    <div class="col-xs-7">
                        {{ include('common/stars.html.twig', { rating: eq.rating }) }}
                        <p class="product-name">
                            {{ eq.name }}
                        </p>
                    </div>
                    <div class="col-xs-5">
                        <p class="price">
                            {{ "%.2f"|format(eq.activePrice) }} &#8364;
                        </p>
                        <p class="tag">
                            pro tag
                        </p>
                    </div>
                </div>
            </div>
            {% if eq.offerStatus %}
                <p class="product-list-info">{{ eq.offerStatus }}</p>
            {% endif %}
            <p class="product-list-info">{{ eq.description }}</p>
            <span class="list-desc-border"></span>
        </div>
    </a>
{% else %}
    <p>
        Keine passende Equipment gefunden
    </p>
{% endfor %}
