{% extends "base.html.twig" %}

{% block body %}
      <div class="main-header">
          <img src="/img/allgemein-final/equipment_mieten.jpg" alt="Equipment mieten" class="img-responsive max-1600 max-320"/>
          <img src="/img/allgemein-final/equipment_mieten_small.jpg" alt="Equipment mieten" class="img-responsive min-320"/>
          <div class="main-search">
            <h1 class="margin-bottom-40 text-white text-background mobile-hidden">Finde tolle Equipment-Angebote <span
                    class="text-yellow text-bold">in deiner Nähe!</span></h1>
                    <div class="mobile-headers">
                      <h1 class="text-white text-background desktop-hide-inline">Finde tolle Equipment</h1>
                    </div>
                    <div class="mobile-headers">
                      <h1 class="margin-bottom-40 text-white text-background desktop-hide-inline">Angebote <span
                                      class="text-yellow text-bold">in deiner Nähe!</span></h1>
                    </div>
            <div class="search-form mobile-kategorie-form mobile-hidden">
                <form method="post" accept-charset="utf-8" action="">
                    <div style="display:none;">
                        <input type="hidden" name="_method" value="POST"></div>
                    <select id="suche-dropdown" name="gender" class="selectpicker mobile-hidden" title="SUCHE">
                        <option value="BIETE">BIETE</option>
                    </select>
                    <select name="gender2" class="selectpickerspc">
                        <option value="S">HAUPTKATEGORIEN</option>
                        <option value="T">HAUPTKATEGORIEN</option>
                    </select>
                    <input type="submit" class="desktop-hide" value="los geht's!"></form>
                <ul class="col-xs-6 pull-right text-right kaup-select">
                    {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_EQUIPMENT') })) }}
                </ul>
            </div>
          </div>
        </div>
        <div>
            <a href="#categories"><img src="/img/down.png" class="down-icon" alt="down"/></a>
        </div>
    </header>
    <section class="main-categories">
        <div class="container">
            <span id="categories"></span>
            <nav class="crumbs">
                <ul class="col-xs-8">
                    <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
                    <li><a href="{{ path('rentme') }}" class="active-crumb">Equipment mieten</a></li>
                </ul>
            </nav>
            {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_EQUIPMENT'), 'mobile': true })) }}
          </div>
        <!-- Categories -->
        <div class="container new-header mobile-hidden">
          <div class="row">
            <div class="col-xs-12">
              <h2>Beliebtes Equipment bei <b>hey! VIENNA</b></h2>
            </div>
          </div>
        </div>
        <div class="container categories-container pages-categories">
          <div class="row">
                {% for cat in categories %}
                    <div class="col-sm-4">
                        <a href="{{ path('catchall', { 'content': cat.slug }) }}">
                            <div class="categories-names">
                                <h3>{{ cat.name }}</h3>
                            </div>
                        
                        <img src="{{ cat.imageUrl }}" alt="{{ cat.name }}"/></a>
                    </div>
                {% endfor %}
                  </div>
          </div>
        </section>
      <section class="info">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 pull-right">
                      <h4 class="heading text-bold text-yellow">Equipment mieten</h4>
                      <h4 class="heading">wie geht das?</h4>

                      <p><span class="text-bold">Finde die richtige Ausrüstung für unterschiedliche Anwendungsbereiche!</span>
                          <br><br>
                          Suchst du Camping-Ausrüstung für dein Outdoor-Wochenende, Sport-Geräte zum Testen, Werkzeug für die anstehende Renovierung, Equipment für deine Party, technische Geräte oder andere spezielle Gebrauchsgegenstände? hey! VIENNA bietet dir dein Wunsch-Equipment zur Miete anstelle einer teuren Anschaffung. 
                          <br><br>
                          Wie das genau geht
                          <a href="{{ path("hilfe_faq_euipment_mieten") }}"> findest du hier.</a></p>
                  </div>
              </div>
          </div>
      </section>
      <section class="slider container">
        <div id="owl-demo" class="owl-carousel col-xs-11">
          
            {% for t in testimonials %}
            <div class="item">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        {% if t.image %}
                            <img src="{{ t.image.urlPath(image_url_prefix) }}" class="thumb testimonialDisplayImg" alt=""/>
                        {% endif %}
                        
                    </div>
                    <div class="col-xs-7">
                        <p class="heading text-yellow">{{ t.name }}, {{ t.age }}</p>

                        <p class="heading heading-small display-table">{{ t.place }}</p>

                        <p class="testamonials">
                            {{ t.description|raw }}
                            <img src="/img/quote.png" alt="quote"/>       
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
      
        </div>
    </section>
    <section class="info lower-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="heading text-bold text-yellow">Equipment anbieten</h4>
                    <h4 class="heading">wie geht das?</h4>

                    <p>
                        <span class="text-bold">Bei hey! VIENNA ist Equipment vermieten kinderleicht!</span>
                        <br><br>
                        Du hast Equipment daheim herum stehen, dass du nur selten benutzt - Du bist ein gewerblicher Verleih, wirst mit deinem Angebot online aber nur schwer gefunden - bei hey! VIENNA hast du jetzt die Möglichkeit mehr aus deinem Equipment zu machen und dabei auch etwas dazuzuverdienen. Durch Nutzung einer selbst festgelegten Kaution ist dein Equipment für den Verleih geschützt! 
                        <br><br>
                        Mehr dazu <a href="{{ path("hilfe_faq_euipment_anbieten") }}" class="text-link"> findest du hier.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us container">
        <div class="row">
            <div class="col-md-4">
                <h4>Blog</h4>
                <a href="{{ path("blog") }}">
                    <img src="/img/allgemein-final/blog_equipment_small.jpg" alt="Blog"/>
                </a>
                <p>Interessiert an spannenden Neuigkeiten zum Thema Equipment- und Talentsharing? Besuche unseren Blog!
                    <br>
                    <a href="{{ path("blog") }}">Zum Blog</a>
                </p>

            </div>
            <div class="col-md-4">
                <h4>Talente buchen</h4>
                <a href="{{ path('bookme') }}">
                    <img src="/img/allgemein-final/talente_buchen_start_unten_small.jpg" alt="Talente buchen"/>
                </a>
                <p>Bist du auch an der Buchung von tollen Talenten aus Wien interessiert? Hier kannst du unseren Service ausprobieren.
                    <a href="{{ path('bookme') }}">Talente buchen</a>
                </p>
            </div>
            <div class="col-md-4">
                <h4>So funktioniert's!</h4>
                <a href="{{ path("hilfe_faq_euipment_mieten") }}">
                    <img src="/img/allgemein-final/so_funktionierts_small.jpg" alt="Hilfe und FAQ"/>
                </a>
                <p>Sind noch Fragen zur Buchung von Talenten oder Equipment offen? Hier erfährst du alle Details dazu. <br/>
                    <a href="{{ path("hilfe_faq_euipment_mieten") }}">Hilfe &amp; FAQ</a>
                </p>
            </div>
        </div>
    </section>
    <span class="add-margin"></span>

    <!--
        <a href="">
            <div class="col-sm-4">
                <div class="categories-names">
                    <h3></h3>
                </div>
                <a href=""></a>
            </div>
        </a>
    -->
  </div>
{% endblock %}

{% block script %}
    <script>
        $(function() {
           $("#suche-dropdown").change(function() {
                if ($(this).val() === 'BIETE') {
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        anbieten(1);
                    {% else %}
                        var url = '{{ path("rental") }}';
                        window.location = url;
                    {% endif %}
                }
           });
        });
    </script>
{% endblock %}
