{% for eq in items %}
    {% if loop.index0 % 3 == 0 %}
        <div class="row">
    {% endif %}
    
    <a class="text-black" href="{{ path('catchall', { 'content': eq.urlPath }) }}">
        <div class="col-md-4">
            {% if eq.equipmentImages|length > 0 %}
                <div class="rcatimage">
                <img src="{{ eq.equipmentImages[0].image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ eq.name }}"/>
                </div>
            {% else %}
                <div class="rcatimage">
                <img src="/img/equipment-default.jpg" alt="placeholder"/>
                </div>
            {% endif %}
            {% if eq.priceBuy %}
                <img src="/img/cart.png" alt="cart" class="cart"/>
            {% endif %}
            {#
            {% if eq.activeDiscount %}
                <div class="discount"><span>-{{ "%d"|format(eq.activeDiscount.percent) }}%</span></div>
            {% endif %}
            #}
            <div class="product-info position-relative">
                <div class="row">
                  <!-- <img src="{{ eq.user.profilePicture(false, image_url_prefix) }}" alt="cart" class="product-user product-user2"/> -->
                    <div class="col-xs-7">
                        {{ include('common/stars.html.twig', { rating: eq.rating }) }}
                        <p class="product-name">
                            {{ eq.name }}
                        </p>
                    </div>
                    <div class="col-xs-5">
                        <p class="price">
                            {{ eq.pricesLine }}&nbsp;&#8364;
                        </p>
                        <p class="tag">
                            Pr. ab: {{ eq.pricesDesc }}
                        </p>
                    </div>
                </div>
            </div>
            {% if eq.offerStatus %}
                <p class="product-list-info">{{ eq.offerStatus }}</p>
            {% endif %}
            <p class="product-list-info">{{ eq.description }}</p>
            <span class="list-desc-border"></span>
        </div>
    </a>

    {% if loop.index0 % 3 == 2 %}
        </div>
    {% endif %}
{% else %}
    <p>
        Keine Angebote gefunden - Wir arbeiten daran ;-)
    </p>
{% endfor %}
