{% extends "base.html.twig" %}

{% block head %}
	<meta property="og:url"           content="{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="{{ item.name }}" />
	<meta property="og:description"   content="{{ item.description }}" />
        {% if item.equipmentImages|length > 0 %}
            <meta property="og:image"         content="{{ item.equipmentImages[0].image.urlPath(image_url_prefix) }}" />    
        {% endif %}
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block home_header %}
    {{ include('common/home_header_bg.html.twig') }}
{% endblock %}

{% block body %}
<div class="paddings"></div>
  <section class="main-categories main-offers detail-page container left-right-border background-light-gray">
        <nav class="crumbs">
            <ul class="col-xs-7">
                <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
                <li><a href="{{ path('rentme') }}">Equipment mieten</a></li>
                <li><a href="{{ path('catchall', { 'content': category.slug }) }}">{{ category.name }}</a></li>
                <li><a href="{{ path('catchall', { 'content': item.urlPath }) }}" class="active-crumb">{{ item.name }}</a></li>
            </ul>
            <ul class="col-xs-5 pull-right text-right kaup-select">
                {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_EQUIPMENT') })) }}
                <li id="kategorie-select"><a class="active-crumb haup-ico" href="#">Hauptkategorien &nbsp;&nbsp;&nbsp;</a></li>
                <li>                    
                    <a class="active-crumb" 
                       href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}javascript:anbieten(1, {{ category.id }}){% else %}{{ path("rental-detail", { 'categoryId': category.id }) }}{% endif %}"
                       >In dieser Kategorie anbieten</a>
                </li>
            </ul>
        </nav>
        <span class="clearfix"></span>
  </section>
  <section class="product-detail container background-light-gray container">
    <div class="row">
        <div class="col-md-8 left-side">
            <div class="row">
                <div class="col-sm-8 col-xs-7"><h1>{{ item.Name }}</h1></div>
                <div class="col-sm-4 col-xs-5 detail-controls">
                    {% if prev %}
                        <a href="{{ path('catchall', { 'content': prev.urlPath }) }}" title="{{ prev.name }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('catchall', { 'content': next.urlPath }) }}" title="{{ next.name }}"><span class="right-icon"></span></a>
                    {% endif %}
                    <span class="back-icon" id="sharing-button">
                      <span id="social-share">
                        <a class="social fb" href="#"></a>
                        <a class="social flash" href="#"></a>
                        <a class="social tweet" href="#"></a>
                        <a class="social email" href="#"></a>
                      </span>
                    </span>
                </div>
            </div>
            <div class="product-info">
                {{ include('common/stars.html.twig', { rating: item.rating }) }}
            </div>
            <!-- VIDEO or GALLERY -->
            {% if item.offerStatus %}
                <span class="status">Letzer Status für dieses Angebot:</span>
                <p class="detail-notice">
                    {{ item.offerStatus }}
                </p>
            {% endif %}            
            <div class="position-relative" id="media-container">
              {% if item.priceBuy %}
                <img src="/img/cart.png" alt="cart" class="cart">
              {% endif %}
              {% if item.activeDiscount %}
                <div class="discount discount-big">
                  <span>-{{ item.activeDiscount.percent }}%</span>
                </div>
              {% endif %}
              <div id="media-content">
                    {% if item.equipmentImages|length > 0 %}
                        <img src="{{ item.equipmentImages[0].image.urlPath(image_url_prefix) }}" alt=""/>
                    {% else %}
                        <img src="/img/equipment-default.jpg" alt=""/>
                    {% endif %}
              </div>

              <div class="media-list" id="media-list">
                    {% for eimg in item.equipmentImages %}
                        <span class="media-img"><img src="{{ eimg.image.thumbnailUrlPath(image_url_prefix) }}" data-url="{{ eimg.image.urlPath(image_url_prefix) }}" alt=""/></span>
                    {% endfor %}
                    {#
                        <span><a class="videos-ico" id="3"></a><img src="/img/placeholder/video2.jpg" id="3" alt=""/>   </span>
                    #}
              </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-8 col-xs-12 product-description" id="map-sibling">
                        <p class="no-top-margin text-padding">
                            <span class="text-bold mobile-hidden">Beschreibung:</span><br class="mobile-hidden"><br class="mobile-hidden">
                            {{ item.description|nl2br }}
                        </p>
                    </div>
                    <div class="col-md-4 col-xs-12" id="googleMap"></div>
                </div>
            </div>
            <div class="panel-group" id="panel-quote-group">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panel-heading">
                        <p class="panel-title">
                           Fragen und Antworten
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div id="collapseQuote" class="panel-collapse collapse2 collapse">
                        <div class="panel-body">
                           <p class="panel-head">Das besondere an deinem Angebot?</p>
                            <p>{{ item.descType|nl2br }}</p>
                            <p class="panel-head">Bester Einsatzbereich?</p>
                            <p>{{ item.descSpecial|nl2br }}</p>
                            <p class="panel-head">Was sollte man noch darüber wissen?</p>
                            <p>{{ item.descCondition|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group desktop-hide" id="panel-quote-group2">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panel-heading1">
                        <p class="panel-title">
                            BEWERTUNGEN
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div id="collapseQuote" class="panel-collapse collapse1 collapse">
                        <div class="panel-body">
                            <div class="row user-notes">
                                
                                {% for opinion in opinions %}
                                <div class="col-md-4">
                                    <div class="product-info">
                                        <img class="user-avatar eq-details-avatar" src="{{ opinion.booking.inquiry.user.getProfilePicture(true, image_url_prefix) }}" alt="" />
                                        {{ include('common/stars.html.twig', { rating: opinion.rating }) }}
                                        <p>
                                            {{ opinion.opinion }}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                
                                <!-- row end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- notes area -->
            <div class="row user-notes mobile-hidden">
                {% for opinion in opinions %}
                <div class="col-md-4">                    
                    <div class="product-info">
                        <img class="user-avatar eq-details-avatar" src="{{ opinion.booking.inquiry.user.getProfilePicture(true, image_url_prefix) }}" alt="" />
                        {{ include('common/stars.html.twig', { rating: opinion.rating }) }}
                        <p>{{ opinion.opinion }}</p>
                    </div>
                </div>
                {% endfor %}                
                <!-- row end -->
            </div>
            <div class="row user-notes mobile-hidden">                
                <!-- row end -->
                <div class="col-xs-12">
                    <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                </div>
            </div>
        <!-- LEFT side ends -->
        </div>
        <div class="col-md-4 right-side">
            <div class="offer-dates">
                <h3>Anfrage für:</h3>
                <h4>{{ item.name }}</h4>
                
                <div class="panel-group" id="panel-quote-group">
                <div class="panel panel-default einzelstunden">
                    <div class="panel-heading" id="robert-heading">
                        <p class="panel-title">
                           PREIS PRO TAG: ab {{ item.activePrice|number_format(2, ',') }} € 
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                   
                    <div id="collapseQuote" class="panel-collapse robertcollapse collapse">
                        <div class="panel-body">
                
                <div class="date-picker">
                    <!-- Date -->
                    <div class="date-container  position-relative">
                      <p class="mobile-hidden">Beginn / Ende</p>
                      <div class="input-group date" id="datetimepicker1">
                          <input type="text" class="form-control" id="date-range" />
                      </div>
                      <div class="input-group date display-none" id="datetimepicker2">
                          <input type="text" class="form-control" id="date-range1" />
                      </div>
                    </div>
                    <!-- Time -->
                    <div class="time-container">
                        <p class="mobile-hidden">Uhrzeit</p>
                        <select id="tests" name="gender" class="selectpicker bs-select-hidden">
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 01:00">01:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 02:00">02:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 03:00">03:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 04:00">04:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 05:00">05:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 06:00">06:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 07:00">07:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 08:00">08:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 09:00">09:00 Uhr</option>
                            <option selected="selected" value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 10:00">10:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 11:00">11:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 12:00">12:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 13:00">13:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 14:00">14:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 15:00">15:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 16:00">16:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 17:00">17:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 18:00">18:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 19:00">19:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 20:00">20:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 21:00">21:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 22:00">22:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 23:00">23:00 Uhr</option>
                        </select>
                        <select id="tests2" name="gender" class="selectpicker bs-select-hidden">
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 01:00">01:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 02:00">02:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 03:00">03:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 04:00">04:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 05:00">05:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 06:00">06:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 07:00">07:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 08:00">08:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 09:00">09:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 10:00">10:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 11:00">11:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 12:00">12:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 13:00">13:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 14:00">14:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 15:00">15:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 16:00">16:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 17:00">17:00 Uhr</option>
                            <option selected="selected" value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 18:00">18:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 19:00">19:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 20:00">20:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 21:00">21:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 22:00">22:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 23:00">23:00 Uhr</option>
                        </select>
                    </div>
                    <p>Preis<span class="info-icon" data-toggle="tooltip" title="Der kalkulierte Gesamtpreis ergibt sich aus Tarif*Zeitspanne. Je nach Anfrage, kann es durch den Anbieter zu geringfügigen Mehrkosten kommen."></span></p>
                    <p class="price"><span>ab</span><b class="price-calc">{{ item.activePrice|number_format(2, ',') }}</b> <span class="euro-sign">&#8364;</span></p>
                    <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                </div>
            
                    </div>
                </div>
            </div>
                </div>
                <a id="fragestellenbut" class="green-big-button yellow question" href="#">Eine Frage stellen</a>
            </div>
            <div class="user-data">
                <h3>Details:</h3>
                <img src="{{ item.user.profilePicture(true, image_url_prefix) }}" alt="" class="user-avatar eq-details-avatar"/>
                <p class="user-name">{{ item.user.name }}</p>
                <div class="user-data-tabs">
                  <div class="user-tab euro">
                    <p>
                        ab {{ item.activePrice|number_format(2, ',') }} € pro Tag
                    </p>
                  </div>
                    {#
                    {% for key, val in featureSections %}
                        <div class="user-tab cal" title="{{ key }}">
                            <p>
                                {{ val }}
                            </p>
                        </div>
                    {% endfor %}
                    #}
                    {% if item.timeAsString %}
                        <div class="user-tab cal">
                            <p>{{ item.timeAsString }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            {% if post %}
            <div class="user-info">
                <a class="text-black" href="{{ path('blog_detail', { 'slug' : post.slug }) }}">
                    
                    {% if post.image %}
                        <img src="{{ post.image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ post.title }}" class="blogimg"/>
                    {% else %}
                        {# TODO: change default blog photo #}
                        <img src="/img/placeholder/blog2.jpg" alt="{{ post.title }}" class="blogimg"/>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-xs-9">
                            <p>
                                {{ post.title }}
                              </p>
                        </div>
                        <div class="col-xs-3 grey-info">INFO</div>
                    </div>
                </a>
                <img src="/img/info-icon.png" alt="info-icon" class="icon-info">
            </div>
            {% endif %}
            
        </div>
        <!-- End of right side -->
    </div>
  </section>
  <!-- Bottom featured items -->
  {# for now hiding section "Das könnte dich auch interessieren"
  <section class="main-categories main-offers featured-offers mobile-visible">
    <div class="container border-light-gray">
        <div class="row">
            {% if equipments %}
            <p class="see-also mobile-hidden">Das könnte dich auch interessieren:</p>           
            {{ render(controller('AppBundle:Default:renderEquipmentList', { "equipments":equipments } )) }}
            {% endif %}
            
        </div>
    </div>
  </section>
  #}
  <section class="detail-bottom container border-light-gray">
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('catchall', { 'content': category.slug }) }}" class="button-black backgound-yellow text-black">zurück zur übersicht </a>
            <div class="detail-controls">
                    {% if prev %}
                        <a href="{{ path('catchall', { 'content': prev.urlPath }) }}" title="{{ prev.name }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('catchall', { 'content': next.urlPath }) }}" title="{{ next.name }}"><span class="right-icon"></span></a>
                    {% endif %}
                <span class="back-icon" id="sharing-button2">
                      <span id="social-share-bottom">
                        <a class="social fb" href="#"></a>
                        <a class="social flash" href="#"></a>
                        <a class="social tweet" href="#"></a>
                        <a class="social email" href="#"></a>
                      </span>
                    </span>
            </div>
            <a class="add-offer" href="#" data-toggle="modal" data-target="#melden">Angebot melden</a>
        </div>
    </div>
  </section>
  <!-- Modal -->
  <div id="inquiry-modal" class="modal fade" role="dialog">
    <div class="modal-dialog rent-dialog angrafge-dialog">
    </div>
  </div>
  <div id="question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog rent-dialog angrafge-dialog">
    </div>
  </div>
  <div id="melden" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                <h4 class="modal-title">Angebot melden</h4>
                {{ render(controller('AppBundle:Common:ReportOffer', { "id": item.id, "type": type } )) }}
                
                <div id ="ReportOfferConfirmationDiv" style="display:none;" >
                    Vielen Dank für den Bericht!
                </div>
            </div>
        </div>
    </div>
  </div>
    <div id="inquiry-sent" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Vielen Dank!</p>
            <p class="delate-info">Ihre Anfrage wurde verschickt.</p>
          </div>
        </div>
      </div>
    </div>                
    <div id="question-sent" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Vielen Dank!</p>
            <p class="delate-info">Ihre Frage wurde verschickt.</p>
          </div>
        </div>
      </div>
    </div>                
  </div>
  {% if isPreview %}
  <div id="action-disabled-modal" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
      <div class="content-modal">
        
                <p class="delate-info">Diese Funktion ist in der Vorschau nicht verfügbar</p>
		 
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  
{% endblock %}


{% block script %}
  <script src="/js/vendors/moment.min.js"></script>
  <script src="/js/vendors/bootstrap-datetimepicker.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?language=de"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script> 
  <script src="/js/vendors/vimeo.js"></script>
  <script>
    function addData(tag,data) {
        var tag  = tag;
        var data = data;
        var date = data.replace('AB', '');
        $(tag).html(date);
    };
    $(document).ready(function(){
        var media = $('#media-list .media-img img');
        var mediaContainer = $('#media-content');
        
        $(media).on('click',function(e){
            var $n = $(this).parent().clone();
            var $img = $n.find("img");
            $img.on('load', function() {
              $(mediaContainer).empty().append($n);
              $(".product-detail .left-side .cart, .discount.discount-big").show();
            });
            $img.attr('src', $img.data('url'));                  
        });
        
        
        var t1 = $('#date-range').val(moment().add(1, "days").format('[AB] DD.MM.YYYY'));
        var t2 = (moment().add(2, "days").format('[BIS] DD.MM.YYYY'));

        $('#date-range').val(t1.val() + ' ' + t2);

        $('#date-range').val().replace('AB', '');
        $('#date-range1').val().replace('BIS', '');

        addData('#from-data',$('#date-range').val());
        addData('#to-data',$('#date-range1').val());

        // Date range picker
        var configObject = {
            separator : 'Bis ',
            language:'de',
            format:'DD.MM.YYYY',
            autoClose: true,
            startDate: new Date(),
            selectForward: true,
            duration: 0,
            container:'.date-container',
            singleMonth: true,
            showShortcuts: false,
            showTopbar: false,

            getValue: function()
            {
                if ($('#date-range').val() && $('#date-range1').val() )
                    //return $('#date-range').val() + ' Bis ' + $('#date-range1').val();
                //else
                    return '';
            },
            setValue: function(s,s1,s2)
            {
                $('#date-range').val('AB '+ s1);
                $('#date-range1').val('BIS '+s2);

                addData('#from-data',$('#date-range').val());
                addData('#to-data',$('#date-range1').val());

                var startData = $('#date-range').val().replace('AB', '');
                var endData   = $('#date-range1').val().replace('BIS', '');

                // split the date into days, months, years array
                var x = startData.split('.');
                var y = endData.split('.');

                var a = new Date(x[2],x[1],x[0]);
                var b = new Date(y[2],y[1],y[0]);

                var c = ( b - a );
                var d = c / (1000 * 60 * 60 * 24);

                var p = Math.round(d) * {{ item.activePrice|number_format(2, '.', '') }};
                $('.price-calc').html(p.toFixed(2).replace('.', ','));
                $('#date-range').val('AB '+ s1 + ' BIS '+s2);
            }
        };
        $('#datetimepicker1').dateRangePicker(configObject).bind('datepicker-open',function()  {
            $(this).children('input').css('background-color','#f0c814').css('color','white').addClass('calendar-icon-hover');
        }).bind('datepicker-closed',function()
        {
            $(this).children('input').css('background-color','white').css('color','black').removeClass('calendar-icon-hover');
        });

        $('#datetimepicker2').dateRangePicker(configObject).bind('datepicker-open',function()  {
            $(this).children('input').css('background-color','#f0c814').css('color','white').addClass('calendar-icon-hover');
        }).bind('datepicker-closed',function()
        {
            $(this).children('input').css('background-color','white').css('color','black').removeClass('calendar-icon-hover');
        });

        $('#tests').change(function(){
            var time1 = $(this).val();
            $('#from-time').html(time1.replace('Uhrzeit ab ',''));
            $(this).parent().find('.bootstrap-select').eq(0).find('.dropdown-toggle').text($(this).val()).prepend('<span class="caret"></span>');
        });
        $('#tests2').change(function(){
            var time1 = $(this).val();
            $('#to-time').html(time1.replace('Uhrzeit bis ',''));
            $(this).parent().find('.bootstrap-select').eq(1).find('.dropdown-toggle').text($(this).val()).prepend('<span class="caret"></span>');
        });
        
        {% if not (isPreview) %}
            $('#myVideoPlay').on('click',function(){
                $(this).hide();
            });
            $(".social.fb").off('click touchstart').on('click touchstart', function(e) {
                    e.preventDefault();
                    FB.ui({
                        method: 'share',
                        href: '{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}'
                    }, function(response){});
                });
            $(".social.flash").off('click touchstart').on('click touchstart', function(e) {
                    e.preventDefault();
                    FB.ui({
                        method: 'send',
                        link: '{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}'
                    }, function(response){});
                });
            $(".social.tweet").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                var title = '{{ item.name|escape('url') }}';
                var url = '{{ mailer_app_url_prefix|escape('url') }}{{ path('catchall', { 'content': item.urlPath })|escape('url') }}';
                window.open('http://twitter.com/home?status=' + title + '+' + url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
            });
            $(".social.email").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                var subject = encodeURIComponent('Empfohlenes Angebot auf hey! VIENNA');
                var body = encodeURIComponent('{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}');
                var url = 'mailto:?subject=' + subject + '&body=' + body;
                window.location = url;
            });
        
            
        
            {% if (loggedIn) %}
                $("a.inquiry").click(inquiry);
            {% else %}
                $("a.inquiry").click(function(){
                    if ($("a[data-target='#login']").size() > 0) {
                            $("a[data-target='#login']")[0].click();      
                        }
                });
            {% endif %}
        
        
            {% if (loggedIn) %}
                $("a.question").click(question);
            {% else %}
                $("a.question").click(function(){
                    if ($("a[data-target='#login']").size() > 0) {
                            $("a[data-target='#login']")[0].click();      
                        }
                });
            {% endif %}
        {% endif %}
            
        $('#robert-heading').on('click', function () {
            $('.robertcollapse').collapse('toggle');
            if($('#fragestellenbut').is(':hidden'))
                $('#fragestellenbut').show();
            else
                $('#fragestellenbut').hide();

        });
            
        {% if (isPreview) %}
            $('#kategorie-select').unbind("click");
            $("a").unbind("click");
            $("a").attr("data-target", "");
            $("a:not(#robert-heading a)").click(function(e){
               e.preventDefault();
               $("#action-disabled-modal").modal(); 
            });
        {% endif %}
    });
    $(window).load(function(){
        $('#tests').parent().find('.bootstrap-select').eq(0).find('.dropdown-toggle').html('Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp;   10:00').prepend('<span class="caret"></span>');
        $('#tests2').parent().find('.bootstrap-select').eq(1).find('.dropdown-toggle').html('Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp;  18:00').prepend('<span class="caret"></span>');
    });
    
    function question(e) {
        e.preventDefault();
        
        // assemble params
        var url = '{{ path('booking-question', { 'id': item.id }) }}';
                
        $("#question-modal .modal-dialog").load(url, function(data) {
            $("#question-modal").modal();
            $("#question-modal form").ajaxForm({
                target: $("#question-modal .modal-dialog"),
                success: makeQuestionAjaxForm
            });
        });
    }
    function makeQuestionAjaxForm(data, status, xhr) {
        // check response
        if (xhr.getResponseHeader('content-type').indexOf('json') > -1 && data.status === 'ok') { // form was submitted successfully
            $("#question-modal").modal('hide');
            $("#question-sent").modal('show');            
        }
        else { // make ajaxForm again (ie. attach events to new DOM elements)
            $("#question-modal form").ajaxForm({
                target: $("#question-modal .modal-dialog"),
                success: makeQuestionAjaxForm
            });
        }
    }
    
    function inquiry(e) {
        e.preventDefault();
        
        // parse datetimes
        var range = $('#date-range').val();
        var arr = range.split('BIS');
        var f = $.trim(arr[0].replace('AB', '')).split('.');                        // from date
        var t = $.trim(arr[1].replace('BIS', '')).split('.');                       // to date
        var fh = $.trim($("#tests").val().replace('Uhrzeit ab', '')).split(':');    // from hour
        var th = $.trim($("#tests2").val().replace('Uhrzeit bis', '')).split(':');  // to hour
        
        var from = new Date(f[2], f[1] - 1, f[0], fh[0], fh[1]);
        var to = new Date(t[2], t[1] - 1, t[0], th[0], th[1]);
        // update timezone offset, so toISOString yields local time
        var tzoffset = new Date().getTimezoneOffset() * 60000; // offset in milliseconds
        from = new Date(from.getTime() - tzoffset);
        to = new Date(to.getTime() - tzoffset);
        
        // assemble params
        var url = '{{ path('booking-inquiry', { 'id': item.id, 'dateFrom': ':FROM', 'dateTo': ':TO' }) }}'
                .replace(':FROM', from.toISOString())
                .replace(':TO', to.toISOString());
                
        $("#inquiry-modal .modal-dialog").load(url, function(data) {
            $("#inquiry-modal").modal();
            $("#inquiry-modal form").ajaxForm({
                target: $("#inquiry-modal .modal-dialog"),
                success: makeAjaxForm
            });
        });
    }
        
    function makeAjaxForm(data, status, xhr) {
        // check response
        if (xhr.getResponseHeader('content-type').indexOf('json') > -1 && data.status === 'ok') { // form was submitted successfully
            $("#inquiry-modal").modal('hide');
            $("#inquiry-sent").modal('show');            
        }
        else { // make ajaxForm again (ie. attach events to new DOM elements)
            $("#inquiry-modal form").ajaxForm({
                target: $("#inquiry-modal .modal-dialog"),
                success: makeAjaxForm
            });
        }
    }
    var map;
    var lat=48.209206;
    var lng=16.372778;
    var zoom=16;
    var geocoder;
    var address = 'österreich, {{ item.addrPostcode }} {{ item.addrPlace }}, {{ item.addrStreet }} {{ item.addrNumber }}';
    console.log(address);

    function init() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(48.20, 16.37);
        var mapOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
                
        geocoder.geocode({ 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: '{{ item.addrPlace }}',
                    icon: '{{ asset("img/marker.png") }}'
                });
                map.setZoom(13);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', init);

  </script>
{% endblock %}