{% extends "base.html.twig" %}

{% block body %}
    <div class="main-header">
          <img src="/img/allgemein-final/heyvienna.jpg" alt="Equipment mieten" class="img-responsive max-1600 max-320"/>
          <img src="/img/allgemein-final/heyvienna_small.jpg" alt="Equipment mieten" class="img-responsive min-320"/>
          <div class="rmainsearch main-search">
		  <div><h1 class="rhomeheader text-white text-background"><span class="text-yellow text-bold">hey!</span> VIENNA</h1></div>
            <h2 class="rhomeheader_sub text-white text-background">Geführte Touren, Workshops und Freizeit-Ausrüstung in Wien</h2>
                    <!-- <div class="mobile-headers">
                     <h1 class="text-white text-background desktop-hide-inline">Die Plattform für</h1> 
                    </div>
                    <div class="mobile-headers">
                      <h1 class="margin-bottom-40 text-white text-background desktop-hide-inline"><span
                                      class="text-yellow text-bold">Equipment, Talente und Dienstleistungen</span></h1>
                    </div>  -->
<div class="search-form mobile-kategorie-form mobile-hidden">
                <form method="post" accept-charset="utf-8" action="">
                    <div style="display:none;">
                        <input type="hidden" name="_method" value="POST"></div>
                    
                    <select name="gender2" class="selectpickerspc">
                        <option value="S">HAUPTKATEGORIEN</option>
                        <option value="T">HAUPTKATEGORIEN</option>
                    </select>
                    <input type="submit" class="desktop-hide" value="los geht's!"></form>
                <ul class="col-xs-6 pull-right text-right kaup-select">
                    {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_EQUIPMENT') })) }}
                </ul>
            </div>
          </div>
        </div>
        <div>
            <a href="#categories"><img src="/img/down.png" class="down-icon" alt="down"/></a>
        </div>
    </header>
    <section class="main-categories">
          
          <div class="container">
            <span id="categories"></span>
            <nav class="crumbs">
                <ul class="col-xs-8">
                    
                </ul>
            </nav>
              
          </div>
        {% if equipmentSc|length == 3 or talentSc|length == 3 or blogSc|length == 3 %}
             <!-- <div class="container new-header">
                <div class="row">
                    <div class="col-xs-12">
                       <h2>Neu bei <b>hey! VIENNA</b></h2>
                    </div>
                </div>
            </div>
			 -->

            <div class="container new-header rneublock main-offers">
                
			 <!--
				{% if blogSc|length == 3 %}
                    <div class="row">
                        {% for post in blogSc %}
                            <a class="text-black" href="{{ path('blog_detail', { 'slug' : post.slug }) }}">
                                <div class="col-md-4">
                                    {% if post.image %}
                                        <img src="{{ post.image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ post.title }}"/>
                                    {% else %}                                    
                                        <img src="/img/placeholder/blog2.jpg" alt="{{ post.title }}" class="blogimg"/>
                                    {% endif %}
                                    <div class="product-info">
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <p class="product-name">
                                                    {{ post.title }}
                                                  </p>
                                            </div>
                                            <div class="col-xs-3 grey-info">
                                                INFO
                                            </div>
                                        </div>
                                        <img src="/img/info-icon.png" alt="info-icon" class="icon-info"/>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                
				 -->
				
				              {% if talentSc|length == 3 %}
                    <div class="row">
                    {% for eq in talentSc %}
                        <a class="text-black" href="{{ path('catchall', { 'content': eq.urlPath }) }}">
                            <div class="col-md-4">
                                {% set images = eq.talentImages %}
                                {% if images|length > 0 %}
                                    <div class="rcatimage">
                                    <img src="{{ images[0].image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ eq.name }}"/>
                                    </div>
                                {% else %}
                                    <div class="rcatimage">
                                    <img src="/img/equipment-default.jpg" alt="placeholder"/>
                                    </div>
                                {% endif %}
                                <div class="product-info position-relative">
                                    <div class="row">                                  
                                        <div class="col-xs-7">
                                            <p class="product-name">
                                                {{ eq.name }}
                                            </p>
                                        </div>
                                        <div class="col-xs-5">
                                            {% if eq.requestPrice %}
                                                <p class="price">auf Anfr.</p>
                                            {% else %}
                                                <p class="price">
                                                    {{ eq.activePrice|number_format(2, ',') }} &#8364;
                                                </p>
                                                <p class="tag">
                                                    pro Stunde
                                                </p>
                                            {% endif %}
                                        </div>
                                        {% if eq.video %}<div class="rplay"></div>{% endif %}
                                        <img class="product-user product-user2" alt="{{ eq.user.fullName }}" src="{{ eq.user.getProfilePicture(false, image_url_prefix) }}">
                                    </div>
                                </div>
                                {% if eq.offerStatus %}
                                    <p class="product-list-info">{{ eq.offerStatus }}</p>
                                {% endif %}
                                {% if eq.featured %}<div class="featured-icon rcat"><span>FEATURED</span></div>{% endif %}
                                <p class="product-list-info">{{ eq.description }}</p>
                                <span class="list-desc-border"></span>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                {% endif %} 
				
				
                {% if equipmentSc|length == 3 %}
                    <div class="row">
                    {% for eq in equipmentSc %}
                        <a class="text-black" href="{{ path('catchall', { 'content': eq.urlPath }) }}">
                            <div class="col-md-4">
                                {% set images = eq.equipmentImages %}
                                {% if images|length > 0 %}
                                    <div class="rcatimage">
                                    <img src="{{ images[0].image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ eq.name }}"/>
                                    </div>
                                {% else %}
                                    <div class="rcatimage">
                                    <img src="/img/equipment-default.jpg" alt="placeholder"/>
                                    </div>
                                {% endif %}
                                {% if eq.priceBuy is defined and eq.priceBuy %}
                                    <img src="/img/cart.png" alt="cart" class="cart"/>
                                {% endif %}
                                <div class="product-info position-relative">
                                    <div class="row">                                  
                                        <div class="col-xs-7">
                                            {{ include('common/stars.html.twig', { rating: eq.rating }) }}
                                            <p class="product-name">
                                                {{ eq.name }}
                                            </p>
                                        </div>
                                        <div class="col-xs-5">

                                            <p class="price">{{ eq.firstTariff.pricesLine|raw }}</p>
                                            <p class="tag">{{ eq.firstTariff.pricesDesc }}</p>

                                        </div>
                                    </div>
                                </div>
                                {% if eq.offerStatus %}
                                    <p class="product-list-info">{{ eq.offerStatus }}</p>
                                {% endif %}
                                {% if eq.featured %}<div class="featured-icon rcat"><span>FEATURED</span></div>{% endif %}
                                <p class="product-list-info">{{ eq.description }}</p>
                                <span class="list-desc-border"></span>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                {% endif %}
                
    
				
				             
            </div>
        {% endif %}
          
        <!-- talent Categories -->
        <div class="container new-header mobile-hidden rhomehead">
          <div class="row">
            <div class="col-xs-12">
              <h2>Touren und Workshops</h2>
            </div>
          </div>
        </div>
        <div class="container categories-container pages-categories rpagecat">
          <div class="row">
                {% for tCat in talentCategories %}
                    <div class="col-sm-4">
                        <a href="{{ path('catchall', { 'content': tCat.slug }) }}">
                            <div class="categories-names">
                                <h3>{{ tCat.name }}</h3>
                            </div>
                        <img src="{{ tCat.imageUrl }}" alt="{{ tCat.name }}"/></a>
                    </div>
                {% endfor %}
                  </div>
          </div> 
          
        <!-- equipment Categories -->
        <div class="container new-header mobile-hidden rhomehead">
          <div class="row">
            <div class="col-xs-12">
              <h2>Freizeitausrüstung</h2>
            </div>
          </div>
        </div>
        <div class="container categories-container pages-categories rpagecat">
          <div class="row">
                {% for eCat in equipmentCategories %}
                    <div class="col-sm-4">
                        <a href="{{ path('catchall', { 'content': eCat.slug }) }}">
                            <div class="categories-names">
                                <h3>{{ eCat.name }}</h3>
                            </div>
                        
                        <img src="{{ eCat.imageUrl }}" alt="{{ eCat.name }}"/></a>
                    </div>
                {% endfor %}
                  </div>
          </div>
        </section>
      <section class="info">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 pull-right">
                      <h4 class="heading text-bold text-yellow">Angebote buchen</h4>
                      <h4 class="heading">bei hey! VIENNA</h4>

                      <p><span class="text-bold">Finde das richtige Angebot für unterschiedliche Anwendungsbereiche!</span>
                          <br><br>
                          Du hast manchmal ein Equipment (Sportgerät, Werkzeug, technisches Gerät) nicht zur Hand oder benötigst eine Dienstleistung im Privatbereich? In der hey! sharing community hast du jetzt die Möglichkeit aus einer Vielzahl toller Angebote auszuwählen und sie direkt zu buchen. 
                          <br><br>
                          Wie das genau geht
                          <a href="{{ path("hilfe_faq_faq") }}"> findest du hier.</a></p>
                  </div>
              </div>
          </div>
      </section>
      <section class="slider container">
        <div id="owl-demo" class="owl-carousel col-xs-11">
          
            {% for t in testimonials %}
            <div class="item">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        {% if t.image %}
                            <img src="{{ t.image.urlPath(image_url_prefix) }}" class="thumb testimonialDisplayImg" alt="{{ t.name }}"/>
                        {% endif %}
                        
                    </div>
                    <div class="col-xs-7">
                        <p class="heading text-yellow">{{ t.name }}, {{ t.age }}</p>

                        <p class="heading heading-small display-table">{{ t.place }}</p>

                        <p class="testamonials">
                            {{ t.description|raw }}
                            <img src="/img/quote.png" alt="quote"/>       
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
      
        </div>
    </section>
    <section class="info lower-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="heading text-bold text-yellow">Angebote einstellen</h4>
                    <h4 class="heading">bei hey! VIENNA</h4>

                    <p>
                        <span class="text-bold">Anbieten bei hey! VIENNA ist kinderleicht!</span>
                        <br><br>
                        Du möchtest deine Dienstleistung, dein Talent oder ein Equipment anbieten. Du möchtest deine Kundenbasis ausbauen und verfügst über keine oder nur sehr kleine Marketingbudgets. Auf hey! sharing community hast du jetzt die Möglichkeit ein Angebot kostenlos einzustellen und damit direkt Buchungsanfragen zu erhalten.
                        <br><br>
                        Mehr dazu <a href="{{ path("hilfe_faq_faq") }}" class="text-link"> findest du hier.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us container">
        <div class="row">
            <div class="col-md-4">
                <h4>Blog</h4>
                <a href="{{ path("blog") }}">
                    <img src="/img/allgemein-final/blog_equipment_small.jpg" alt="Blog"/>
                </a>
                <p>Interessiert an spannenden Neuigkeiten zum Thema Equipment- und Talentsharing? Besuche unseren Blog!
                    <br>
                    <a href="{{ path("blog") }}">Zum Blog</a>
                </p>

            </div>
            <div class="col-md-4">
                <h4>Video ansehen</h4>                    
                <a data-toggle="modal" data-target="#hey-video" href="#">
                    <img src="/img/allgemein-final/video_small.jpg" alt="Talente buchen"/>
                </a>
                    <p>Zu viel zum lesen? ;-) Sieh dir unser Video an um gleich mehr darüber erfahren wie hey! VIENNA funktioniert
                    <br>                    
                    <a href="#" data-target="#hey-video" data-toggle="modal">Video ansehen</a>
                </p>
            </div>
            <div class="col-md-4">
                <h4>So funktioniert´s!</h4>
                <a href="{{ path("hilfe_faq_euipment_mieten") }}">
                    <img src="/img/allgemein-final/so_funktionierts_small.jpg" alt="Hilfe und FAQ"/>
                </a>
                <p>Sind noch Fragen zur Buchung von Talenten oder Equipment offen? Hier erfährst du alle Details dazu. <br/>
                    <a href="{{ path("hilfe_faq_euipment_mieten") }}">Hilfe &amp; FAQ</a>
                </p>
            </div>
        </div>
    </section>
                
    
                
    <span class="add-margin"></span>

    <!--
        <a href="">
            <div class="col-sm-4">
                <div class="categories-names">
                    <h3></h3>
                </div>
                <a href=""></a>
            </div>
        </a>
    -->
  </div>
    
  <div id="hey-video" class="modal fade delete-offer" role="dialog">
    <div class="modal-dialog" style="max-width:1280px; max-height:720px"> 
      <!-- Modal content-->
      <div class="modal-content" style="max-width:1280px; max-height:720px">
        <div class="content-modal-video">
         <button style="color:white;" id="pause-button" type="button" class="close" data-dismiss="modal"><span class="close-start-video"></span> </button>
          <iframe id="video" class="movie" src="https://player.vimeo.com/video/133739188?api=1"  width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
        
{% endblock %}

{% block script %}
    <script>
        $(function() {
           $("#suche-dropdown").change(function() {
                if ($(this).val() === 'BIETE') {
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        anbieten(1);
                    {% else %}
                        var url = '{{ path("rental") }}';
                        window.location = url;
                    {% endif %}
                }
           });
        });
    </script>
<script src="/js/vendors/vimeo.js"></script>
<script>
        var iframe = document.getElementById('video');
        // $f == Froogaloop
        var player = $f(iframe);
        var pauseButton = document.getElementById("pause-button");
        pauseButton.addEventListener("click", function() {
            player.api("pause");
        });
		 var pauseArea = document.getElementById("hey-video");
        pauseArea.addEventListener("click", function() {
            player.api("pause");
        });
</script>
	
{% endblock %}
