{% extends "base.html.twig" %}

{% block head %}
	<meta property="og:url"           content="{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="{{ item.name }}" />
	<meta property="og:description"   content="{{ item.description }}" />
        {% if item.talentImages|length > 0 %}
            <meta property="og:image"         content="{{ item.talentImages[0].image.urlPath(image_url_prefix) }}" />    
        {% endif %}
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block home_header %}
    {{ include('common/home_header_bg.html.twig') }}
{% endblock %}

{% block body %}
<div class="paddings"></div>
  <section class="main-categories main-offers detail-page container left-right-border background-light-gray">
        <nav class="crumbs">
            <ul class="col-xs-7">
                <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
                <li><a href="{{ path('bookme') }}">Talente buchen</a></li>
                <li><a href="{{ path('catchall', { 'content': category.slug }) }}">{{ category.name }}</a></li>
                <li><a href="{{ path('catchall', { 'content': item.urlPath }) }}" class="active-crumb">{{ item.name }}</a></li>
            </ul>
            <ul class="col-xs-5 pull-right text-right kaup-select">
                {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_TALENT') })) }}
                <li id="kategorie-select"><a class="active-crumb haup-ico" href="#">Hauptkategorien &nbsp;&nbsp;&nbsp;</a></li>
                <li>                    
                    <a class="active-crumb" 
                       href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}javascript:anbieten(2, {{ category.id }}){% else %}{{ path("offer-detail", { 'categoryId': category.id }) }}{% endif %}"
                       >In dieser Kategorie anbieten</a>
                </li>
            </ul>
        </nav>
        <span class="clearfix"></span>
  </section>
  <section class="product-detail container background-light-gray container">
    <div class="row">
        <div class="col-md-8 left-side">
            <div class="row">
                <div class="col-sm-8 col-xs-7 item-name"><h1>{{ item.Name }}</h1></div>
                <div class="col-sm-4 col-xs-5 detail-controls top-detail-controls">
                    {% if prev %}
                        <a href="{{ path('catchall', { 'content': prev.urlPath }) }}" title="{{ prev.name }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('catchall', { 'content': next.urlPath }) }}" title="{{ next.name }}"><span class="right-icon"></span></a>
                    {% endif %}
                    <span class="back-icon" id="sharing-button">
                      <span id="social-share">
                        <a class="social fb" href="#"></a>
                        <a class="social flash" href="#"></a>
                        <a class="social tweet" href="#"></a>
                        <a class="social email" href="#"></a>
                      </span>
                    </span>
                </div>
            </div>
            <div class="product-info">
                {{ include('common/stars.html.twig', { rating: item.rating }) }}
            </div>
            <!-- VIDEO or GALLERY -->
            {% if item.offerStatus %}
            <span class="status">Letzer Status für dieses Angebot:</span>
            <p class="detail-notice">
                {{ item.offerStatus }}
            </p>
            {% endif %}            
            <div class="position-relative" id="media-container">
                {% if item.featured %}<div class="featured-icon mobile-hidden"><span>FEATURED</span></div>{% endif %}
                {#
              {% if item.activeDiscount %}
                <div class="discount discount-big">
                  <span>-{{ item.activeDiscount.percent }}%</span>
                </div>
              {% endif %}
                #}
              
              <div id="media-content">
                    {% if item.video %}
                        <iframe id="player" src="{{ item.video.embedUrl }}" width="100%" style="width: 100%; height: 421px; display: block;"></iframe>
                        {#<img id="player-thumb" src="{{ item.video.thumbnailUrl }}" style="width: 100%; height: 421px;" />#}
                        <div id="player-thumb" style="width: 100%; height: 421px;"></div>
                    {% else %}
                        {% if item.talentImages|length > 0 %}
                            <img src="{{ item.talentImages[0].image.urlPath(image_url_prefix) }}" alt="{{ item.name }}" {% if item.video %}style="display: none;"{% endif %}/>
                        {% endif %}
                    {% endif %}
              </div>

              <div class="media-list" id="media-list">
                    {% if item.video %}
                        <span class="media-video" data-url="{{ item.video.embedUrl }}">
                            <a class="videos-ico"></a>
                            <img src="{{ item.video.thumbnailUrl }}" alt="{{ item.name }} video" />
                        </span>
                    {% endif %}
                    {% for img in item.talentImages %}
                        <span class="media-img"><img src="{{ img.image.thumbnailUrlPath(image_url_prefix) }}" data-url="{{ img.image.urlPath(image_url_prefix) }}" alt="{{ item.name }}{% if loop.index != 1 %} {{ loop.index}}{% endif %}"/></span>
                    {% endfor %}
              </div>
            </div>
              
              
            <div class="desktop-hide right-side">
                <div class="offer-dates">
                    {{ include('default/tariffs-list.html.twig') }}
                </div>
            </div>
              
            <div>
                <div class="row">
                    <div class="col-xs-12 product-description" id="map-sibling">
                        <p class="no-top-margin text-padding">
                            <span class="text-bold mobile-hidden">Beschreibung:</span><br class="mobile-hidden"><br class="mobile-hidden">
                            {{ item.description|nl2br }}
                            {% if item.descReference %}
                                    <br/><br class="mobile-hidden"/>
                                    <span class="text-bold mobile-hidden">Abgeschlossene Ausbildungen, Zertifikate oder Referenzen</span><br class="mobile-hidden"><br class="mobile-hidden">
                                    {{ item.descReference|nl2br }}
                            {% endif %}
                        </p>
                    </div>                    
                </div>
            </div>
            {% if item.descScope or item.descTarget or item.descCondition %}         
                <div class="panel-group" id="panel-quote-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="panel-heading">
                            <p class="panel-title">
                               Fragen und Antworten
                                <span class="pull-right">
                                    <a>
                                        <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div id="collapseQuote" class="panel-collapse collapse2 collapse">
                            <div class="panel-body">
                                {% if item.descScope %}
                                    <p class="panel-head">Angebotsumfang</p>
                                    <p>{{ item.descScope|nl2br }}</p>
                                {% endif %}
                                {% if item.descTarget %}
                                    <p class="panel-head">Für wen ist dein Angebot besonders geeignet?</p>
                                    <p>{{ item.descTarget|nl2br }}</p>
                                {% endif %}
                                {% if item.descCondition %}
                                    <p class="panel-head">Spezielle Angebotskonditionen</p>
                                    <p>{{ item.descCondition|nl2br }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div style="height: 240px;" id="googleMap"></div>
            
            {% if opinions|length > 0 %}
            <div class="panel-group desktop-hide" id="panel-quote-group2">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panel-heading1">
                        <p class="panel-title">
                            BEWERTUNGEN
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div id="collapseQuote" class="panel-collapse collapse1 collapse">
                        <div class="panel-body">
                            <div class="row user-notes">
                                {% for opinion in opinions %}
                                <div class="col-md-4">
                                    <div class="product-info">
                                        <img class="user-avatar eq-details-avatar" src="{{ opinion.booking.inquiry.user.getProfilePicture(true, image_url_prefix) }}" alt="" />
                                        {{ include('common/stars.html.twig', { rating: opinion.rating }) }}
                                        <p>
                                            {{ opinion.opinion }}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                
                                <!-- row end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- notes area -->
            <div class="row user-notes mobile-hidden">
                {% for opinion in opinions %}
                <div class="col-md-4">                    
                    <div class="product-info">
                        <img class="user-avatar eq-details-avatar" src="{{ opinion.booking.inquiry.user.getProfilePicture(true, image_url_prefix) }}" alt="" />
                        {{ include('common/stars.html.twig', { rating: opinion.rating }) }}
                        <p>{{ opinion.opinion }}</p>
                    </div>
                </div>
                {% endfor %}                
                <!-- row end -->
            </div>
            <div class="row user-notes mobile-hidden">                
                <!-- row end -->
                <div class="col-xs-12">
                    <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                </div>
            </div>
        <!-- LEFT side ends -->
        </div>
        <div class="col-md-4 right-side">
            <div class="offer-dates">
                <h3>Datum wählen und buchen</h3>
                
                {{ include('default/tariffs-list.html.twig') }}
            </div>
            <div class="user-data">
                <h3>Details:</h3>
                <img src="{{ item.user.profilePicture(true, image_url_prefix) }}" class="user-avatar eq-details-avatar" alt="{{ item.name }} - {{ item.user.name }}" />
                <p class="user-name">{{ item.user.name }}</p>
                <div class="user-data-tabs">
                  <div class="user-tab euro">
                    <p>
                        {% set tariff = item.firstTariff %}
                            
                        {% if tariff.type == constant('AppBundle\\Entity\\TariffType::EINZELSTUNDEN') %}
                            {% if tariff.requestPrice %}Kosten auf Anfr.{% else %} {{ tariff.PricesLine|raw }} pro Stunde{% endif %}
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::GRUPPENSTUNDEN') %}
                            Gruppenstd. {{ tariff.PricesLine|raw }} pro Per.
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::TOUR') %}
                            Tour {{ tariff.PricesLine|raw }} pro Per.
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::WORKSHOP') %}
                            Workshop {{ tariff.PricesLine|raw }} pro Per.
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::_5ERBLOCK') %}
                            5er Block {{ tariff.PricesLine|raw }}
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::_10ERBLOCK') %}
                            10er Block {{ tariff.PricesLine|raw }}
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::_20ERBLOCK') %}
                            20er Block {{ tariff.PricesLine|raw }}
                        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::TAGESSATZ') %}
                            Tagessatz {{ tariff.PricesLine|raw }}
                        {% endif %}
                    </p>
                  </div>
                    {#
                    {% for key, val in featureSections %}
                        <div class="user-tab cal" title="{{ key }}">
                            <p>
                                {{ val }}
                            </p>
                        </div>
                    {% endfor %}
                    #}
                    <div class="user-tab cal">
                        <p>{{ item.timeAsString }}</p>
                    </div>
                    {% if item.optClient > 0 %}
                        <div class="user-tab steps">
                            <p>Treffpunkt beim Kunden</p>
                        </div>
                    {% endif %}
                    {% if item.optGroup > 0 %}
                        <div class="user-tab gruppen">
                            <p>Gruppenstunden</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            {% if post %}
            <div class="user-info">
                <a class="text-black" href="{{ path('blog_detail', { 'slug' : post.slug }) }}">
                    
                    {% if post.image %}
                        <img src="{{ post.image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ post.title }}" class="blogimg"/>
                    {% else %}
                        {# TODO: change default blog photo #}
                        <img src="/img/placeholder/blog2.jpg" alt="{{ post.title }}" class="blogimg"/>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-xs-9">
                            <p>
                                {{ post.title }}
                              </p>
                        </div>
                        <div class="col-xs-3 grey-info">INFO</div>
                    </div>
                </a>
                <img src="/img/info-icon.png" alt="info-icon" class="icon-info">
            </div>
            {% endif %}
            
        </div>
        <!-- End of right side -->
    </div>
  </section>
  <!-- Bottom featured items -->
  {# for now hiding section "Das könnte dich auch interessieren"
  <section class="main-categories main-offers featured-offers mobile-visible">
    <div class="container border-light-gray">
        <div class="row">
            {% if equipments %}
            <p class="see-also mobile-hidden">Das könnte dich auch interessieren:</p>           
            {{ render(controller('AppBundle:Default:renderEquipmentList', { "equipments":equipments } )) }}
            {% endif %}
            
        </div>
    </div>
  </section>
  #}
  <section class="detail-bottom container border-light-gray">
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('catchall', { 'content': category.slug }) }}" class="button-black backgound-yellow text-black">zurück zur übersicht </a>
            <div class="detail-controls">
                    {% if prev %}
                        <a href="{{ path('catchall', { 'content': prev.urlPath }) }}" title="{{ prev.name }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('catchall', { 'content': next.urlPath }) }}" title="{{ next.name }}"><span class="right-icon"></span></a>
                    {% endif %}
                <span class="back-icon" id="sharing-button2">
                      <span id="social-share-bottom">
                        <a class="social fb" href="#"></a>
                        <a class="social flash" href="#"></a>
                        <a class="social tweet" href="#"></a>
                        <a class="social email" href="#"></a>
                      </span>
                    </span>
            </div>
            <a class="add-offer" href="#" data-toggle="modal" data-target="#melden">Angebot melden</a>
        </div>
    </div>
  </section>
  <!-- Modal -->
  <div id="inquiry-modal" class="modal fade" role="dialog">
    <div class="modal-dialog rent-dialog angrafge-dialog">
    </div>
  </div>
  <div id="question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog rent-dialog angrafge-dialog">
    </div>
  </div>
  <div id="melden" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                <h4 class="modal-title">Angebot melden</h4>
                
                {{ render(controller('AppBundle:Common:ReportOffer', { "id": item.id, "type": type } )) }}
                
                <div id ="ReportOfferConfirmationDiv" style="display:none;" >
                    Vielen Dank für den Bericht!
                </div>
            </div>
        </div>
    </div>
  </div>
    <div id="inquiry-sent" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Vielen Dank!</p>
            <p class="delate-info">Ihre Anfrage wurde verschickt.</p>
          </div>
        </div>
      </div>
    </div>                                
    <div id="question-sent" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Vielen Dank!</p>
            <p class="delate-info">Ihre Frage wurde verschickt.</p>
          </div>
        </div>
      </div>
    </div>                
</div>
{% if isPreview %}
  <div id="action-disabled-modal" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
      <div class="content-modal">
        
                <p class="delate-info">Diese Funktion ist in der Vorschau nicht verfügbar</p>
		 
              </div>
          </div>
      </div>
  </div>
  {% endif %}
{% endblock %}


{% block script %}
  <script src="http://maps.googleapis.com/maps/api/js?language=de"></script>
  <script src="/js/vendors/moment.min.js"></script>
  <script src="/js/vendors/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/vendors/vimeo.js"></script>
  <script>    
    {% if item.video %}
        function playerWidth() {
            var pl = document.getElementById('player');
            var th = document.getElementById('player-thumb');
            var w = pl.offsetWidth;
            var h = Math.round(w * 9 / 16);
            var r = w / h;
            pl.style.height = h + 'px';
            th.style.height = h + 'px';
        }
        playerWidth();
    {% endif %}
    
      
    {% if item.video %}
        $(window).load(function() {
            //var containerHieght = $('#media-content').height();
            //$("#player").css('height',containerHieght);
            playerWidth();
        });
    {% endif %}
        
    $(function() {
        {% if item.video %}
            playerWidth();
            $(window).resize(playerWidth);
        {% endif %}
                
        $(document).on('click', "#videos-ico", function (evt) {
            $('#videos-ico').remove();
            $iframeSRC = "http://player.vimeo.com/video/133739188?api=1&player_id=player";
            $("#player").attr("src",$iframeSRC);
        });

        $('#videos-ico').show();
        //var containerHieght = $('#media-content').height();
        //$("#player").css('height',containerHieght);
        var player = $f(document.getElementById('player'));
        var media = $('#media-list .media-img img');
        var mediaContainer = $('#media-content');


        $(media).on('click',function(e){
            $("#player").remove();
            var $n = $(this).parent().clone();
            var $img = $n.find("img");
            $img.on('load', function() {
              $(mediaContainer).empty().append($n);
              $(".product-detail .left-side .cart, .discount.discount-big").show();
            });
            $img.attr('src', $img.data('url'));                  
        });

        {% if item.video %}
        $("#media-list .media-video").click(function() {
            //$('#videos-ico').remove();
            var url = $(this).data('url');
            var tmpl = '<iframe id="player" src="{{ item.video.embedUrl }}" width="100%" style="width: 100%; display: block;"></iframe>' + 
                        '<img id="player-thumb" src="{{ item.video.thumbnailUrl }}" style="width: 100%;" />';

            $("#media-content").empty().append($(tmpl));
            playerWidth();
            $(".product-detail .left-side .cart, .discount.discount-big").hide();
        });
        {% endif %}    
         
        
        $('.date-range').val(moment().add(1, 'days').format('DD.MM.YYYY'));        
        
        $(".datetimepicker").each(function(index, item) {
            $(item).dateRangePicker({
                language:'de',
                format:'DD.MM.YYYY',
                autoClose: true,
                startDate: new Date(),
                selectForward: true,
                duration: 0,
                container: $(item).parent(),
                singleMonth: true,
                showShortcuts: false,
                showTopbar: false,
                singleDate: true,
                setValue: function(date) {
                    $('.date-range').val(date);
                }
            }).bind('datepicker-open',function()  {
                $(this).children('input').css('background-color','#f0c814').css('color','white').addClass('calendar-icon-hover');
            }).bind('datepicker-closed',function()
            {
                $(this).children('input').css('background-color','white').css('color','black').removeClass('calendar-icon-hover');
            });            
        });
        
        $(".num-picker").selectpicker({
            style: 'btn-info'
        });        
        
        {% if not (isPreview) %}
            $(".social.fb").off('click touchstart').on('click touchstart', function(e) {
                    e.preventDefault();
                    FB.ui({
                        method: 'share',
                        href: '{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}'
                    }, function(response){});
                });
            $(".social.flash").off('click touchstart').on('click touchstart', function(e) {
                    e.preventDefault();
                    FB.ui({
                        method: 'send',
                        link: '{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}'
                    }, function(response){});
                });
            $(".social.tweet").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                var title = '{{ item.name|escape('js')|escape('url') }}';
                var url = '{{ mailer_app_url_prefix|escape('url') }}{{ path('catchall', { 'content': item.urlPath })|escape('url')|escape('url') }}';
                window.open('http://twitter.com/home?status=' + title + '+' + url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
            });
            $(".social.email").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                var subject = encodeURIComponent('Empfohlenes Angebot auf hey! VIENNA');
                var body = encodeURIComponent('{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}');
                var url = 'mailto:?subject=' + subject + '&body=' + body;
                window.location = url;
            });
            
        
            {% if (loggedIn) %}
                $("a.inquiry").click(inquiry);
            {% else %}
                $("a.inquiry").click(function(){
                    if ($("a[data-target='#login']").size() > 0) {
                            $("a[data-target='#login']")[0].click();      
                        }
                });
            {% endif %}

            $("a.question").click(question);
        {% endif %}
            
        {#
        $('#robert-heading').on('click', function () {
            $('.robertcollapse').collapse('toggle');
            if($('#fragestellenbut').is(':hidden'))
                $('#fragestellenbut').show();
            else
                $('#fragestellenbut').hide();

        });
        #}
       
        $('.panel-heading').on('click', function() {
            var $th = $(this);
            var $phs = $('.panel-heading');
            var l = $phs.length;
            for (var i = 0; i < l; i++) {
                var $ph = $($phs[i]);
                var $pc = $ph.next();
                if ($ph[0] === $th[0]) {
                    $pc.collapse('toggle');
                    
                    var $b = $('#fragestellenbut');
                    var $a = $ph.find('span.toggle-icon');
                    var hidden = $pc.height() === 0;
                    if (hidden) {
                        $b.hide();
                        $a.addClass('glyphicon-triangle-top').removeClass('glyphicon-triangle-bottom');
                    }
                    else {
                        $b.show();
                        $a.removeClass('glyphicon-triangle-top').addClass('glyphicon-triangle-bottom');
                    }
                }
                else {
                    $pc.collapse('hide');
                    $ph.find('span.toggle-icon').removeClass('glyphicon-triangle-top').addClass('glyphicon-triangle-bottom');
                    $ph.removeClass('accordion-yellow');
                }
            }
        });
            
        {% if (isPreview) %}
            $('#kategorie-select').unbind("click");
            $("a").unbind("click");
            $("a").attr("data-target", "");            
            $("a:not(#robert-heading a)").click(function(e){
               e.preventDefault();
               $("#action-disabled-modal").modal(); 
            });
        {% endif %}
            
        {% for tariff in tariffs %}
            {% if tariff.type == constant('AppBundle\\Entity\\TariffType::EINZELSTUNDEN') %}
                $(".panel-collapse[data-type='1'] .hour-from, .panel-collapse[data-type='1'] .hour-to").on('change', updatePrice1);
                updatePrice1();
            {% elseif tariff.type in [constant('AppBundle\\Entity\\TariffType::_5ERBLOCK'), constant('AppBundle\\Entity\\TariffType::_10ERBLOCK'), constant('AppBundle\\Entity\\TariffType::_20ERBLOCK')] %}
            {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::TAGESSATZ') or tariff.type == constant('AppBundle\\Entity\\TariffType::TOUR') or tariff.type == constant('AppBundle\\Entity\\TariffType::GRUPPENSTUNDEN') or tariff.type == constant('AppBundle\\Entity\\TariffType::WORKSHOP') %}
                $(".panel-collapse[data-type='{{ tariff.type }}'] select.num-picker").on('change', updatePrice{{ tariff.type }});
                updatePrice{{ tariff.type }}();
            {% endif %}
            
        {% endfor %}
    }); // end of document.ready
    
    function question(e) {
        e.preventDefault();
        
        // assemble params
        var url = '{{ path('talent-booking-question', { 'id': item.id }) }}';
                
        $("#question-modal .modal-dialog").load(url, function(data) {
            $("#question-modal").modal();
            $("#question-modal form").ajaxForm({
                target: $("#question-modal .modal-dialog"),
                success: makeQuestionAjaxForm
            });
        });
    }
    function makeQuestionAjaxForm(data, status, xhr) {
        // check response
        if (xhr.getResponseHeader('content-type').indexOf('json') > -1 && data.status === 'ok') { // form was submitted successfully
            $("#question-modal").modal('hide');
            $("#question-sent").modal('show');            
        }
        else { // make ajaxForm again (ie. attach events to new DOM elements)
            $("#question-modal form").ajaxForm({
                target: $("#question-modal .modal-dialog"),
                success: makeQuestionAjaxForm
            });
        }
    }
    
    {% for tariff in tariffs %}
        {% if tariff.type == constant('AppBundle\\Entity\\TariffType::EINZELSTUNDEN') %}
            function updatePrice1() {
                var $panel = $(".panel-collapse[data-type='1'] .panel-body");
                var min = {{ tariff.discountMinNum|default('null') }};
                var discount = {{ tariff.discount ? "true" : "false" }};
                var request = {{ tariff.requestPrice ? "true" : "false" }};
                var price = {{ tariff.price|number_format(2, '.') }};
                var discountPrice = {{ tariff.discountPrice|number_format(2, '.') }};
                
                if (request) {
                    $(".price-calc").text('auf Anfr.');
                    return;
                }

                var span = calculateTimespan($panel);
                var total;
                if (discount && discountPrice !== null && min !== null && span.diff >= min)
                    total = span.diff * discountPrice;
                else
                    total = span.diff * price;
                
                console.log('p1: ' + total);
                if (total !== null && !isNaN(total)) {
                    var $p = $panel.find('.price-calc');
                    $p.html( total.toFixed(2).replace('.', ',') + ' <span class="euro-sign">&euro;</span>');
                }
            }
        {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::TAGESSATZ') or tariff.type == constant('AppBundle\\Entity\\TariffType::TOUR') or tariff.type == constant('AppBundle\\Entity\\TariffType::GRUPPENSTUNDEN') or tariff.type == constant('AppBundle\\Entity\\TariffType::WORKSHOP') %}
            function updatePrice{{ tariff.type }}() {
                var $th = $(".panel-collapse[data-type='{{ tariff.type }}'] select.num-picker");
                var args = {
                    min: {{ tariff.discountMinNum|default('null') }},
                    discount: {{ tariff.discount ? "true" : "false" }},
                    price: {{ tariff.price|number_format(2, '.') }},
                    discountPrice: {{ tariff.discountPrice|number_format(2, '.') }}
                };
                updatePrice237($th, args);
            }
        {% endif %}

    {% endfor %}
    function updatePrice237($th, args) {
        var num = $th.val();

        if (typeof num === 'undefined' || num === null)
            return;

        num = parseInt(num);                
        var total;
        if (args.discount && args.discountPrice !== null && args.min !== null && num >= args.min)
            total = args.discountPrice * num;
        else
            total = args.price * num;

        //console.log('p237: ' + total);
        if (total !== null && !isNaN(total)) {
            var $p = $th.parents('.panel-body').find('.price-calc');
            $p.html(total.toFixed(2).replace('.', ',') + ' <span class="euro-sign">&euro;</span>');
        }
    }
        
    function calculateTimespan($panel) {
        var h1 = null;
        if ($panel.find('.hour-from').length > 0) {
            var fv = $panel.find('.hour-from').val();
            var fh = $.trim(fv.replace('Uhrzeit ab', '')).split(':');    // from hour
            h1 = parseInt(fh[0]);
        }
        var h2 = null;
        if ($panel.find('.hour-to').length > 0) {
            var tv = $panel.find('.hour-to').val();
            var th = $.trim(tv.replace('Uhrzeit bis', '')).split(':');  // to hour
            h2 = parseInt(th[0]);
        }
        
        var diff, total, date1, date2;
        var d = $.trim($('#date-range').val()).split('.');                        // from date

        if (h1 != null && h2 != null) {
            if (h2 > h1) {
                date1 = new Date(d[2], d[1] - 1, d[0], h1, 0);
                date2 = new Date(d[2], d[1] - 1, d[0], h2, 0);
                diff = h2 - h1;
            }
            else {
                date1 = new Date(d[2], d[1] - 1, d[0], h1, 0);
                date2 = new Date(d[2], d[1] - 1, d[0], h2, 0);
                date2.setDate(date2.getDate() + 1);
                diff = 24 - h1 + h2;
            }
        }
        else {
            date1 = new Date(d[2], d[1] - 1, d[0], 0, 0);
            date2 = null;
            diff = 0;
        }
        
        // update timezone offset, so toISOString yields local time
        var tzoffset = new Date().getTimezoneOffset() * 60000; // offset in milliseconds
        date1 = new Date(date1.getTime() - tzoffset);
        if (date2 !== null)
            date2 = new Date(date2.getTime() - tzoffset);

        return { 'h1': h1, 'h2': h2, 'date1': date1, 'date2': date2, 'diff': diff };
    }

    function inquiry(e) {
        e.preventDefault();
        var $th = $(this);
        var $panel = $(this).parents('.panel-body');
        var args = inquiryArgs($panel);        
        var url = '{{ path('talent-inquiry', { 'id': '-ID-' }) }}'.replace('-ID-', args.tariffId);
        delete args.tariffId;
                
        $("#inquiry-modal .modal-dialog").load(url, args, function(data) {
            $("#inquiry-modal").modal();
            $("#inquiry-modal form").ajaxForm({
                target: $("#inquiry-modal .modal-dialog"),
                success: makeAjaxForm
            });
        });
    }
    function inquiryArgs($panel) {
        var $pan = $panel.parents('.panel-collapse');
        var id = parseInt($pan.data('id'));
        var type = parseInt($pan.data('type'));
        var args = { 'tariffId': id };
        if (type === 1) {
            var span = calculateTimespan($panel);
            args['dateFrom'] = span.date1.toISOString();
            args['dateTo'] = span.date2.toISOString();
        }
        else if (type === 2 || type === 3 || type === 7) {
            var span = calculateTimespan($panel);
            args['dateFrom'] = span.date1.toISOString();
            args['num'] = $panel.find('.num-picker').val();
        }
        return args;
    }
        
    function makeAjaxForm(data, status, xhr) {
        // check response
        if (xhr.getResponseHeader('content-type').indexOf('json') > -1 && data.status === 'ok') { // form was submitted successfully
            $("#inquiry-modal").modal('hide');
            $("#inquiry-sent").modal('show');            
        }
        else { // make ajaxForm again (ie. attach events to new DOM elements)
            $("#inquiry-modal form").ajaxForm({
                target: $("#inquiry-modal .modal-dialog"),
                success: makeAjaxForm
            });
        }
    }
    var map;
    var lat=48.209206;
    var lng=16.372778;
    var zoom=16;
    var geocoder;
    var address = 'österreich, {{ item.addrPostcode }} {{ item.addrPlace }}, {{ item.addrStreet }} {{ item.addrNumber }}';
    //console.log(address);
    
    var draggable = $(window).width() > 480;

    function init() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(48.20, 16.37);
        var mapOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            draggable: draggable
        };
        map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
                
        geocoder.geocode({ 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: '{{ item.addrPlace }}',
                    icon: '{{ asset("img/marker.png") }}'
                });
                map.setZoom(13);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', init);


  </script>
{% endblock %}