{% extends "base.html.twig" %}

{% block head %}
	<meta property="og:url"           content="{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="{{ item.name }}" />
	<meta property="og:description"   content="{{ item.description }}" />
        {% if item.talentImages|length > 0 %}
            <meta property="og:image"         content="{{ item.talentImages[0].image.urlPath(image_url_prefix) }}" />    
        {% endif %}
{% endblock %}

{% block home_header %}
    {{ include('common/home_header_bg.html.twig') }}
{% endblock %}

{% block body %}
<div class="paddings"></div>
  <section class="main-categories main-offers detail-page container left-right-border background-light-gray">
        <nav class="crumbs">
            <ul class="col-xs-7">
                <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
                <li><a href="{{ path('bookme') }}">Talente buchen</a></li>
                <li><a href="{{ path('catchall', { 'content': category.slug }) }}">{{ category.name }}</a></li>
                <li><a href="{{ path('catchall', { 'content': item.urlPath }) }}" class="active-crumb">{{ item.name }}</a></li>
            </ul>
            <ul class="col-xs-5 pull-right text-right kaup-select">
                {{ render(controller('AppBundle:Common:categoryList', { 'type': constant('AppBundle\\Entity\\Category::TYPE_TALENT') })) }}
                <li id="kategorie-select"><a class="active-crumb haup-ico" href="#">Hauptkategorien &nbsp;&nbsp;&nbsp;</a></li>
                <li>                    
                    <a class="active-crumb" 
                       href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}javascript:anbieten(2, {{ category.id }}){% else %}{{ path("offer-detail", { 'categoryId': category.id }) }}{% endif %}"
                       >In dieser Kategorie anbieten</a>
                </li>
            </ul>
        </nav>
        <span class="clearfix"></span>
  </section>
  <section class="product-detail container background-light-gray container">
    <div class="row">
        <div class="col-md-8 left-side">
            <div class="row">
                <div class="col-sm-8 col-xs-7"><h1>{{ item.Name }}</h1></div>
                <div class="col-sm-4 col-xs-5 detail-controls">
                    {% if prev %}
                        <a href="{{ path('catchall', { 'content': prev.urlPath }) }}" title="{{ prev.name }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('catchall', { 'content': next.urlPath }) }}" title="{{ next.name }}"><span class="right-icon"></span></a>
                    {% endif %}
                    <span class="back-icon" id="sharing-button">
                      <span id="social-share">
                        <a class="social fb" href="#"></a>
                        <a class="social flash" href="#"></a>
                        <a class="social tweet" href="#"></a>
                        <a class="social email" href="#"></a>
                      </span>
                    </span>
                </div>
            </div>
            <div class="product-info">
                {{ include('common/stars.html.twig', { rating: item.rating }) }}
            </div>
            <!-- VIDEO or GALLERY -->
            {% if item.offerStatus %}
            <span class="status">Letzer Status für dieses Angebot:</span>
            <p class="detail-notice">
                {{ item.offerStatus }}
            </p>
            {% endif %}            
            <div class="position-relative" id="media-container">
                {#
              {% if item.activeDiscount %}
                <div class="discount discount-big">
                  <span>-{{ item.activeDiscount.percent }}%</span>
                </div>
              {% endif %}
                #}
              
              <div id="media-content">
                    {% if item.video %}
                        <iframe id="player" src="{{ item.video.embedUrl }}" width="100%" style="width: 100%; display: block;"></iframe>
                        <img id="player-thumb" src="{{ item.video.thumbnailUrl }}" style="width: 100%;" />
                    {% endif %}
                    {% if item.talentImages|length > 0 %}
                        <img src="{{ item.talentImages[0].image.urlPath(image_url_prefix) }}" alt="" {% if item.video %}style="display: none;"{% endif %}/>
                    {% endif %}
              </div>

              <div class="media-list" id="media-list">
                    {% if item.video %}
                        <span class="media-video" data-url="{{ item.video.embedUrl }}">
                            <a class="videos-ico"></a>
                            <img src="{{ item.video.thumbnailUrl }}" />
                        </span>
                    {% endif %}
                    {% for img in item.talentImages %}
                        <span class="media-img"><img src="{{ img.image.urlPath(image_url_prefix) }}" alt=""/></span>
                    {% endfor %}
              </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-8 col-xs-12 product-description" id="map-sibling">
                        <p class="no-top-margin text-padding">
                            <span class="text-bold mobile-hidden">Beschreibung:</span><br class="mobile-hidden"><br class="mobile-hidden">
                            {{ item.description }}
                        </p>
                    </div>
                    <div class="col-md-4 col-xs-12" id="googleMap"></div>
                </div>
            </div>
            {% if item.descReference or item.descScope or item.descTarget or item.descCondition %}         
            <div class="panel-group" id="panel-quote-group">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panel-heading">
                        <p class="panel-title">
                           Fragen und Antworten
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div id="collapseQuote" class="panel-collapse collapse2 collapse">
                        <div class="panel-body">
                            {% if item.descReference %}
                                <p class="panel-head">Abgeschlossene Ausbildungen, Zertifikate oder Referenzen</p>
                                <p>{{ item.descReference }}</p>
                            {% endif %}
                            {% if item.descScope %}
                                <p class="panel-head">Angebotsumfang</p>
                                <p>{{ item.descScope }}</p>
                            {% endif %}
                            {% if item.descTarget %}
                                <p class="panel-head">Für wen ist dein Angebot besonders geeignet?</p>
                                <p>{{ item.descTarget }}</p>
                            {% endif %}
                            {% if item.descCondition %}
                                <p class="panel-head">Spezielle Angebotskonditionen</p>
                                <p>{{ item.descCondition }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="panel-group desktop-hide" id="panel-quote-group2">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panel-heading1">
                        <p class="panel-title">
                            BEWERTUNGEN
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div id="collapseQuote" class="panel-collapse collapse1 collapse">
                        <div class="panel-body">
                            <div class="row user-notes">
                                {% for opinion in opinions %}
                                <div class="col-md-4">
                                    <div class="product-info">
                                        {{ include('common/stars.html.twig', { rating: opinion.rating }) }}
                                        <p>
                                            {{ opinion.opinion }}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-md-4">
                                    <div class="product-info">
                                        <ul>
                                            <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                            <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                            <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                            <li><span class="glyphicon glyphicon-star"></span> </li>
                                            <li><span class="glyphicon glyphicon-star"></span> </li>
                                        </ul>
                                        <p>
                                            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-info">
                                        <ul>
                                            <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                            <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                            <li><span class="marked glyphicon glyphicon-star"></span> </li>
                                            <li><span class="glyphicon glyphicon-star"></span> </li>
                                            <li><span class="glyphicon glyphicon-star"></span> </li>
                                        </ul>
                                        <p>
                                            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget.
                                        </p>
                                    </div>
                                </div>
                                <!-- row end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- notes area -->
            <div class="row user-notes mobile-hidden">
                {% for opinion in opinions %}
                <div class="col-md-4">                    
                    <div class="product-info">
                        {{ include('common/stars.html.twig', { rating: opinion.rating }) }}
                        <p>{{ opinion.opinion }}</p>
                    </div>
                </div>
                {% endfor %}                
                <!-- row end -->
            </div>
            <div class="row user-notes mobile-hidden">                
                <!-- row end -->
                <div class="col-xs-12">
                    <a class="green-big-button" href="javascript:inquiry()">Jetzt anfragen!</a>
                </div>
            </div>
        <!-- LEFT side ends -->
        </div>
        <div class="col-md-4 right-side">
            <div class="offer-dates">
                <h3>Anfrage für:</h3>
                <h4>{{ item.name }}</h4>

                <div class="panel-group" id="panel-quote-group">
                <div class="panel panel-default einzelstunden">
                    <div class="panel-heading" id="robert-heading">
                        <p class="panel-title">
                           EINZELSTUNDEN ab: {{ item.activePrice|number_format(2, ',') }} € 
                            <span class="pull-right">
                                <a>
                                    <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                   
                    <div id="collapseQuote" class="panel-collapse robertcollapse collapse">
                        <div class="panel-body">
                
                <div class="date-picker">
                    <!-- Date -->
                    <div class="date-container  position-relative">
                      <p class="mobile-hidden">Beginn / Ende</p>
                      <div class="input-group date" id="datetimepicker1">
                          <input type="text" class="form-control" id="date-range" />
                      </div>
                    </div>
                    <!-- Time -->
                    <div class="time-container">
                        <p class="mobile-hidden">Uhrzeit</p>
                        <select id="tests" name="gender" class="selectpicker bs-select-hidden">
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 01:00">01:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 02:00">02:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 03:00">03:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 04:00">04:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 05:00">05:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 06:00">06:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 07:00">07:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 08:00">08:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 09:00">09:00 Uhr</option>
                            <option selected="selected" value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 10:00">10:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 11:00">11:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 12:00">12:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 13:00">13:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 14:00">14:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 15:00">15:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 16:00">16:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 17:00">17:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 18:00">18:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 19:00">19:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 20:00">20:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 21:00">21:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 22:00">22:00 Uhr</option>
                            <option value="Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; 23:00">23:00 Uhr</option>
                        </select>
                        <select id="tests2" name="gender" class="selectpicker bs-select-hidden">
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 01:00">01:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 02:00">02:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 03:00">03:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 04:00">04:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 05:00">05:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 06:00">06:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 07:00">07:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 08:00">08:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 09:00">09:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 10:00">10:00 Uhr</option>
                            <option selected="selected" value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 11:00">11:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 12:00">12:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 13:00">13:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 14:00">14:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 15:00">15:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 16:00">16:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 17:00">17:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 18:00">18:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 19:00">19:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 20:00">20:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 21:00">21:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 22:00">22:00 Uhr</option>
                            <option value="Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; 23:00">23:00 Uhr</option>
                        </select>
                    </div>
                    <p>Preis<span class="info-icon" data-toggle="tooltip" title="Der kalkulierte Gesamtpreis ergibt sich aus Tarif*Zeitspanne. Je nach Anfrage, kann es durch den Anbieter zu geringfügigen Mehrkosten kommen."></span></p>
                    <p class="price"><span>ab</span><b class="price-calc">{{ item.activePrice|number_format(2, ',') }}</b> <span class="euro-sign">&#8364;</span></p>
                    <a class="green-big-button" href="javascript:inquiry()">Jetzt anfragen!</a>
                </div>
                    </div>
                </div>
            </div>
                </div>
                <a data-toggle="modal" data-target="#feedback-modal" id="fragestellenbut" class="green-big-button yellow" href="#">Eine Frage stellen</a>
            </div>
            <div class="user-data">
                <h3>Details:</h3>
                <img src="{{ item.user.profilePicture(true, image_url_prefix) }}" alt="" class="user-avatar eq-details-avatar"/>
                <p class="user-name">{{ item.user.name }}</p>
                <div class="user-data-tabs">
                  <div class="user-tab euro">
                    <p>
                        {{ item.activePrice|number_format(2, ',') }} € pro Stunde
                    </p>
                  </div>
                    {#
                    {% for key, val in featureSections %}
                        <div class="user-tab cal" title="{{ key }}">
                            <p>
                                {{ val }}
                            </p>
                        </div>
                    {% endfor %}
                    #}
                    <div class="user-tab cal">
                        <p>{{ item.timeAsString }}</p>
                    </div>
                    {% if item.optClient > 0 %}
                        <div class="user-tab steps">
                            <p>Treffpunkt beim Kunden</p>
                        </div>
                    {% endif %}
                    {% if item.optGroup > 0 %}
                        <div class="user-tab gruppen">
                            <p>Gruppenstunden</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            {% if post %}
            <div class="user-info">
                <a class="text-black" href="{{ path('blog_detail', { 'slug' : post.slug }) }}">
                    
                    {% if post.image %}
                        <img src="{{ post.image.urlPath(image_url_prefix) }}" alt="{{ post.title }}" class="blogimg"/>
                    {% else %}
                        {# TODO: change default blog photo #}
                        <img src="/img/placeholder/blog2.jpg" alt="{{ post.title }}" class="blogimg"/>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-xs-9">
                            <p>
                                {{ post.title }}
                              </p>
                        </div>
                        <div class="col-xs-3 grey-info">INFO</div>
                    </div>
                </a>
                <img src="/img/info-icon.png" alt="info-icon" class="icon-info">
            </div>
            {% endif %}
            
        </div>
        <!-- End of right side -->
    </div>
  </section>
  <!-- Bottom featured items -->
  {# for now hiding section "Das könnte dich auch interessieren"
  <section class="main-categories main-offers featured-offers mobile-visible">
    <div class="container border-light-gray">
        <div class="row">
            {% if equipments %}
            <p class="see-also mobile-hidden">Das könnte dich auch interessieren:</p>           
            {{ render(controller('AppBundle:Default:renderEquipmentList', { "equipments":equipments } )) }}
            {% endif %}
            
        </div>
    </div>
  </section>
  #}
  <section class="detail-bottom container border-light-gray">
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('catchall', { 'content': category.slug }) }}" class="button-black backgound-yellow text-black">zurück zur übersicht </a>
            <div class="detail-controls">
                    {% if prev %}
                        <a href="{{ path('catchall', { 'content': prev.urlPath }) }}" title="{{ prev.name }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if next %}
                        <a href="{{ path('catchall', { 'content': next.urlPath }) }}" title="{{ next.name }}"><span class="right-icon"></span></a>
                    {% endif %}
                <span class="back-icon" id="sharing-button2">
                      <span id="social-share-bottom">
                        <a class="social fb" href="#"></a>
                        <a class="social flash" href="#"></a>
                        <a class="social tweet" href="#"></a>
                        <a class="social email" href="#"></a>
                      </span>
                    </span>
            </div>
            <a class="add-offer" href="#" data-toggle="modal" data-target="#melden">Angebot melden</a>
        </div>
    </div>
  </section>
  <!-- Modal -->
  <div id="inquiry-modal" class="modal fade" role="dialog">
    <div class="modal-dialog rent-dialog angrafge-dialog">
    </div>
  </div>
  <div id="melden" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                <h4 class="modal-title">Angebot melden</h4>
                
                {{ render(controller('AppBundle:Common:ReportOffer', { "id": item.id, "type": type } )) }}
                
                <div id ="ReportOfferConfirmationDiv" style="display:none;" >
                    Vielen Dank für den Bericht!
                </div>
            </div>
        </div>
    </div>
  </div>
    <div id="inquiry-sent" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Vielen Dank!</p>
            <p class="delate-info">Ihre Anfrage wurde verschickt.</p>
          </div>
        </div>
      </div>
    </div>                                
</div>
  </div>
{% endblock %}


{% block script %}
  <script src="http://maps.googleapis.com/maps/api/js?language=de"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="/js/vendors/vimeo.js"></script>
  <script>
    $(window).load(function() {
        //var containerHieght = $('#media-content').height();
        //$("#player").css('height',containerHieght);
        playerWidth();
    });
    
    function playerWidth() {
        var $pl = $("#player");
        var $th = $("#player-thumb");
        var w = $pl.outerWidth();
        var h = Math.round(w * 9 / 16);
        $pl.height(h);
        $th.height(h);
    }
    
    $(function() {
        playerWidth();
        $(window).resize(playerWidth);

        $(document).on('click', "#videos-ico", function (evt) {
            $('#videos-ico').remove();
            $iframeSRC = "http://player.vimeo.com/video/133739188?api=1&player_id=player";
            $("#player").attr("src",$iframeSRC);
        });

        $('#videos-ico').show();
        //var containerHieght = $('#media-content').height();
        //$("#player").css('height',containerHieght);
        var player = $f(document.getElementById('player'));
        var media = $('#media-list .media-img img');
        var mediaContainer = $('#media-content');


        $(media).on('click',function(e){
            $("#player").attr("src",'');
            var vals = $(this).parent().html();
            $(mediaContainer).html(vals);
            console.log (vals);
            $(".product-detail .left-side .cart, .discount.discount-big").show();
              //var h = $('#media-content').height();
              //$("#player").css('height', h);
        });

        {% if item.video %}
        $("#media-list .media-video").click(function() {
            //$('#videos-ico').remove();
            var url = $(this).data('url');
            var tmpl = '<iframe id="player" src="{{ item.video.embedUrl }}" width="100%" style="width: 100%; display: block;"></iframe>' + 
                        '<img id="player-thumb" src="{{ item.video.thumbnailUrl }}" style="width: 100%;" />';
            
            $("#media-content").empty().append($(tmpl));
            playerWidth();
            $(".product-detail .left-side .cart, .discount.discount-big").hide();
        });
        {% endif %}    
        
        $('#date-range').val(moment().add(1, 'days').format('DD.MM.YYYY'));
        updatePrice();
        
        var config = {
            language:'de',
            format:'DD.MM.YYYY',
            autoClose: true,
            startDate: new Date(),
            selectForward: true,
            duration: 0,
            container:'.date-container',
            singleMonth: true,
            showShortcuts: false,
            showTopbar: false,
            singleDate: true,
            setValue: function(date) {
                $('#date-range').val(date);
            }
        };
        
        
        $("#datetimepicker1").dateRangePicker(config).bind('datepicker-open',function()  {
            $(this).children('input').css('background-color','#f0c814').css('color','white').addClass('calendar-icon-hover');
        }).bind('datepicker-closed',function()
        {
            $(this).children('input').css('background-color','white').css('color','black').removeClass('calendar-icon-hover');
        });
        
        $("#tests, #tests2").change(function() {
            updatePrice();
        });
        $(".social.fb").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'share',
                    href: '{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}'
                }, function(response){});
            });
        $(".social.flash").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'send',
                    link: '{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}'
                }, function(response){});
            });
        $(".social.tweet").off('click touchstart').on('click touchstart', function(e) {
            e.preventDefault();
            var title = '{{ item.name|escape('js')|escape('url') }}';
            var url = '{{ mailer_app_url_prefix|escape('url') }}{{ path('catchall', { 'content': item.urlPath })|escape('url')|escape('url') }}';
            window.open('http://twitter.com/home?status=' + title + '+' + url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
        });
        $(".social.email").off('click touchstart').on('click touchstart', function(e) {
            e.preventDefault();
            var subject = encodeURIComponent('Empfohlenes Angebot auf hey! VIENNA');
            var body = encodeURIComponent('{{ mailer_app_url_prefix }}{{ path('catchall', { 'content': item.urlPath }) }}');
            var url = 'mailto:?subject=' + subject + '&body=' + body;
            window.location = url;
        });
        $('#robert-heading').on('click', function () {
            $('.robertcollapse').collapse('toggle');
            if($('#fragestellenbut').is(':hidden'))
                $('#fragestellenbut').show();
            else
                $('#fragestellenbut').hide();
    
        });
    });
    
    function updatePrice() {
        var span = calculateTimespan();
        var total = {{ item.activePrice|number_format(2) }} * span.diff;
        console.log(span);
        $(".price-calc").text(total.toFixed(2).replace('.', ','));
    }
    function calculateTimespan() {
        var fh = $.trim($("#tests").val().replace('Uhrzeit ab', '')).split(':');    // from hour
        var th = $.trim($("#tests2").val().replace('Uhrzeit bis', '')).split(':');  // to hour
        var h1 = parseInt(fh[0]);
        var h2 = parseInt(th[0]);        
        var d = $.trim($('#date-range').val()).split('.');                        // from date
        var diff, total, date1, date2;
        if (h2 > h1) {
            date1 = new Date(d[2], d[1] - 1, d[0], h1, 0);
            date2 = new Date(d[2], d[1] - 1, d[0], h2, 0);
            diff = h2 - h1;
        }
        else {
            date1 = new Date(d[2], d[1] - 1, d[0], h1, 0);
            date2 = new Date(d[2], d[1] - 1, d[0], h2, 0);
            date2.setDate(date2.getDate() + 1);
            diff = 24 - h1 + h2;
        }
        // update timezone offset, so toISOString yields local time
        var tzoffset = new Date().getTimezoneOffset() * 60000; // offset in milliseconds
        date1 = new Date(date1.getTime() - tzoffset);
        date2 = new Date(date2.getTime() - tzoffset);

        return { 'h1': h1, 'h2': h2, 'date1': date1, 'date2': date2, 'diff': diff };
    }

    function inquiry() {
        var span = calculateTimespan();
        
        // assemble params
        var url = '{{ path('talent-inquiry', { 'id': item.id, 'dateFrom': ':FROM', 'dateTo': ':TO' }) }}'
                .replace(':FROM', span.date1.toISOString())
                .replace(':TO', span.date2.toISOString());
                
        $("#inquiry-modal .modal-dialog").load(url, function(data) {
            $("#inquiry-modal").modal();
            $("#inquiry-modal form").ajaxForm({
                target: $("#inquiry-modal .modal-dialog"),
                success: makeAjaxForm
            });
        });
    }
    function makeAjaxForm(data, status, xhr) {
        // check response
        if (xhr.getResponseHeader('content-type').indexOf('json') > -1 && data.status === 'ok') { // form was submitted successfully
            $("#inquiry-modal").modal('hide');
            $("#inquiry-sent").modal('show');            
        }
        else { // make ajaxForm again (ie. attach events to new DOM elements)
            $("#inquiry-modal form").ajaxForm({
                target: $("#inquiry-modal .modal-dialog"),
                success: makeAjaxForm
            });
        }
    }
    var map;
    var lat=48.209206;
    var lng=16.372778;
    var zoom=16;
    var geocoder;
    var address = 'österreich, {{ item.addrPostcode }} {{ item.addrPlace }}, {{ item.addrStreet }} {{ item.addrNumber }}';
    console.log(address);

    function init() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(48.20, 16.37);
        var mapOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
                
        geocoder.geocode({ 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: '{{ item.addrPlace }}',
                    icon: '{{ asset("img/marker.png") }}'
                });
                map.setZoom(13);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', init);


  </script>
{% endblock %}