{% for tal in items %}
    <a class="text-black" href="{{ path('catchall', { 'content': tal.urlPath }) }}">
        <div class="col-md-4">
            {% if tal.images|length > 0 %}
                <div style="height: 268px; overflow: hidden;">
                <img src="{{ tal.images[0].urlPath(image_url_prefix) }}" alt="placeholder"/>
                </div>
            {% else %}
                <div style="height: 268px; overflow: hidden;">
                <img src="/img/equipment-default.jpg" alt="placeholder"/>
                </div>
            {% endif %}
            {#
            {% if tal.activeDiscount %}
                <div class="discount"><span>-{{ "%d"|format(tal.activeDiscount.percent) }}%</span></div>
            {% endif %}
            #}
            <div class="product-info position-relative">
                <div class="row">
                    <div class="col-xs-7">
                        {#{{ include('common/stars.html.twig', { rating: tal.rating }) }}#}
                        <p class="product-name">
                            {{ tal.name }}
                        </p>
                    </div>
                    <div class="col-xs-5">
                        <p class="price">
                            {{ "%.2f"|format(tal.activePrice) }} &#8364;
                        </p>
                        <p class="tag">
                            pro stunde
                        </p>
                    </div>
                </div>
            </div>
            {% if tal.offerStatus %}
                <p class="product-list-info">{{ tal.offerStatus }}</p>
            {% endif %}
            <p class="product-list-info">{{ tal.description }}</p>
            <span class="list-desc-border"></span>
        </div>
    </a>
{% else %}
    <p>
        Keine passenden Talente gefunden
    </p>
{% endfor %}
