{% for tal in items %}
    {% if loop.index0 % 3 == 0 %}
        <div class="row">
    {% endif %}

    <a class="text-black" href="{{ path('catchall', { 'content': tal.urlPath }) }}">
        <div class="col-md-4">
            {% if tal.talentImages|length > 0 %}
                <div class="rcatimage">
                <img src="{{ tal.talentImages[0].image.thumbnailUrlPath(image_url_prefix) }}" alt="placeholder"/>
                </div>
            {% else %}
                <div class="rcatimage">
                <img src="/img/equipment-default.jpg" alt="placeholder"/>
                </div>
            {% endif %}
            {#
            {% if tal.activeDiscount %}
                <div class="discount"><span>-{{ "%d"|format(tal.activeDiscount.percent) }}%</span></div>
            {% endif %}
            #}
            <div class="product-info position-relative">
                <div class="row">
                    <div class="col-xs-7">
                        {#{{ include('common/stars.html.twig', { rating: tal.rating }) }}#}
                        <p class="product-name">
                            {{ tal.name }}
                        </p>
                    </div>
                    <div class="col-xs-5">
                        {% if tal.requestPrice %}
                            <p class="price">auf Anfr.</p>
                        {% else %}
                            <p class="price">
                                {{ tal.activePrice|number_format(2, ',') }} &#8364;
                            </p>
                            <p class="tag">
                                pro Stunde
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if tal.offerStatus %}
                <p class="product-list-info">{{ tal.offerStatus }}</p>
            {% endif %}
            <p class="product-list-info">{{ tal.description }}</p>
            <span class="list-desc-border"></span>
        </div>
    </a>

    {% if loop.index0 % 3 == 2 %}
        </div>
    {% endif %}
{% else %}
    <p>
        Keine passenden Talente gefunden
    </p>
{% endfor %}
