{% for tariff in tariffs %}
    <div class="panel-group" id="panel-quote-group">
        <div class="panel panel-default einzelstunden">
            <div class="panel-heading" id="robert-heading">
                <p class="panel-title">
                   {{ tariff.tariffType.name }}
                   {{ tariff.PricesLine|raw }}
                    <span class="pull-right">
                        <a>
                            <span class="toggle-icon glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                    </span>
                </p>
            </div>
            <div id="collapseQuote" class="panel-collapse robertcollapse collapse" data-id="{{ tariff.id }}" data-type="{{ tariff.type }}">
                {% if tariff.type == constant('AppBundle\\Entity\\TariffType::EINZELSTUNDEN') %}
                    <div class="panel-body">
                        <div class="date-picker">
                            <!-- Date -->
                            <div class="date-container  position-relative">
                              <p class="mobile-hidden">Beginn / Ende</p>
                              <div class="input-group date datetimepicker" id="datetimepicker1">
                                  <input type="text" class="form-control date-range" id="date-range" />
                              </div>
                            </div>
                            <!-- Time -->
                            <div class="time-container">
                                <p class="mobile-hidden">Uhrzeit
                                    {% if tariff.discount %}
                                        <br/>
                                        Ab {{ tariff.discountMinNum }} Std. nur <span style="font-weight: bold;">{{ tariff.discountPrice|number_format(2, ',') }} EUR/Std.</span>
                                    {% endif %}
                                    <br/>
                                    <br/>
                                </p>
                                <select id="tests" name="gender" class="bs-select-hidden hour-from">
                                    {% for i in range(1, 23) %}<option value="{{ "Uhrzeit ab &nbsp; &nbsp; &nbsp; &nbsp; %02d:00"|format(i)|raw }}"{% if i == 10 %} selected="selected"{% endif %}>{{ "%02d:00 Uhr"|format(i) }}</option>{% endfor %}</select>
                                <select id="tests2" name="gender" class="bs-select-hidden hour-to">
                                    {% for i in range(1, 23) %}<option value="{{ "Uhrzeit bis &nbsp; &nbsp; &nbsp; &nbsp; %02d:00"|format(i)|raw }}"{% if i == 11 %} selected="selected"{% endif %}>{{ "%02d:00 Uhr"|format(i) }}</option>{% endfor %}</select>
                            </div>

                            <p>Preis<span class="info-icon" data-toggle="tooltip" title="Der kalkulierte Gesamtpreis ergibt sich aus Tarif*Zeitspanne. Je nach Anfrage, kann es durch den Anbieter zu geringf端gigen Mehrkosten kommen."></span></p>
                            <p class="price">
                                <b class="price-calc">
                                    {% if tariff.requestPrice %}auf Anfr.{% else %}{{ tariff.price|number_format(2, ',') }} <span class="euro-sign">&#8364;</span>{% endif %}
                                </b>                         
                            </p>
                            <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                        </div>
                    </div>
                {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::TOUR') or tariff.type == constant('AppBundle\\Entity\\TariffType::GRUPPENSTUNDEN') or tariff.type == constant('AppBundle\\Entity\\TariffType::WORKSHOP') %}
                    <div class="panel-body">
                        <div class="date-picker">
                            <!-- Date -->
                            <div class="date-container  position-relative">
                              <p class="mobile-hidden">Wunschtermin*</p>
                              <div class="input-group date datetimepicker" id="datetimepicker1">
                                  <input type="text" class="form-control date-range" id="date-range" />
                              </div>
                            </div>
                            <div>
                                <p>

                                    {% if tariff.discount %}
                                        <br/>
                                        Ab {{ tariff.discountMinNum }} Per. nur <span style="font-weight: bold;">{{ tariff.discountPrice|number_format(2, ',') }} EUR/Per.</span>
                                    {% endif %}
                                    <br/>
                                    <br/>
                                    <select id="min-num" class="num-picker">
                                        {% for i in range(1, 9) %}<option value="{{ i }}">{{ i }} PER.</option>{% endfor %}
                                    </select>
                                </p>

                            </div>

                            <p>Preis<span class="info-icon" data-toggle="tooltip" title="Der kalkulierte Gesamtpreis ergibt sich aus Tarif*Zeitspanne. Je nach Anfrage, kann es durch den Anbieter zu geringf端gigen Mehrkosten kommen."></span></p>
                            <p class="price">{#<span>ab</span>#}
                                <b class="price-calc">
                                    {% if tariff.requestPrice %}auf Anfr.{% else %}{{ tariff.price|number_format(2, ',') }} <span class="euro-sign">&#8364;</span>{% endif %}
                                </b>                         
                            </p>
                            <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                        </div>
                    </div>
                {% elseif tariff.type in [constant('AppBundle\\Entity\\TariffType::_5ERBLOCK'), constant('AppBundle\\Entity\\TariffType::_10ERBLOCK'), constant('AppBundle\\Entity\\TariffType::_20ERBLOCK')] %}
                    <div class="panel-body">                
                        <div class="date-picker">

                            <p>Preis<span class="info-icon" data-toggle="tooltip" title="Der kalkulierte Gesamtpreis ergibt sich aus Tarif*Zeitspanne. Je nach Anfrage, kann es durch den Anbieter zu geringf端gigen Mehrkosten kommen."></span></p>
                            <p class="price">{#<span>ab</span>#}
                                <b class="price-calc">{{ tariff.price|number_format(2, ',') }} <span class="euro-sign">&#8364;</span></b>                         
                            </p>
                            <p>
                                Hinweis: Termine werden direkt mit dem Anbieter vereinbart.<br/>
                                Dauer einer Einheit: {{ tariff.duration|number_format(0) }} min.
                            </p>
                            <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                        </div>
                    </div>
                {% elseif tariff.type == constant('AppBundle\\Entity\\TariffType::TAGESSATZ') %}
                    <div class="panel-body">
                        <div class="date-picker">
                            <!-- Date -->
                            <div class="date-container  position-relative">
                              <p class="mobile-hidden">Wunschtermin*</p>
                              <div class="input-group date datetimepicker" id="datetimepicker1">
                                  <input type="text" class="form-control date-range" id="date-range" />
                              </div>
                            </div>
                            <div>
                                <p>

                                    {% if tariff.discount %}
                                        <br/>
                                        Ab {{ tariff.discountMinNum }} Tage nur <span style="font-weight: bold;">{{ tariff.discountPrice|number_format(2, ',') }} EUR/T</span>
                                    {% endif %}
                                    <br/>
                                    <br/>
                                    <select id="min-num" class="num-picker">
                                        {% for i in range(1, 9) %}<option value="{{ i }}">{{ i }} T</option>{% endfor %}
                                    </select>
                                </p>

                            </div>
                            <div class="user-data">
                                <p>Treffpunkt*</p>
                                <div class="user-data-tabs">
                                    <div class="user-tab steps">
                                        <p>{{ item.addressAsString }}</p>
                                    </div>
                                </div>
                            </div>

                            <p>Preis<span class="info-icon" data-toggle="tooltip" title="Der kalkulierte Gesamtpreis ergibt sich aus Tarif*Zeitspanne. Je nach Anfrage, kann es durch den Anbieter zu geringf端gigen Mehrkosten kommen."></span></p>
                            <p class="price">{#<span>ab</span>#}
                                <b class="price-calc">
                                    {% if tariff.requestPrice %}auf Anfr.{% else %}{{ tariff.price|number_format(2, ',') }} <span class="euro-sign">&#8364;</span>{% endif %}
                                </b>                         
                            </p>
                            <a class="green-big-button inquiry" href="#">Jetzt anfragen!</a>
                        </div>
                    </div>
                {% endif %}
        </div>
        </div>
    </div>
{% endfor %}

<a id="fragestellenbut" class="white-big-button yellow question" href="#">Eine Frage stellen</a>