<!DOCTYPE html>
<html>
<head>
{% block head %}
    {{ include('admin/common/admin.head.html.twig') }}
    <script src="/js/admin.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
{% endblock %}
</head>
<body>
    <header class="adm-header">
        <a class="adm-logo" href="{{ path('admin_area') }}"><img src="/img/logo.png" alt="hey! Vienna" class="adm-logo"></a>
        Administration
        <a href="{{ path('fos_user_security_logout') }}" style="margin-left: 32px; font-size: 14px;">[ ausloggen ]</a>        
    </header>
    

    <nav class="crumbs">
        <ul>
            {% block breadcrumb %}
                <li><a href="{{ path('admin_area') }}">ADMIN HOME</a></li>
            {% endblock %}
        </ul>
    </nav>

    <div class="main-content">
        {% block body %}{% endblock %}
    </div>
    
    {% block footer %}
        {{ include('admin/common/admin.footer.html.twig') }}
    {% endblock %}
    
    {% block script %}{% endblock %}
</body>
</html>

