<li id="kaup-hidden">
    <p class="display-block">{% if not equipment %}<a class="haup-link" href="{{ path('rentme') }}">Equipment mieten</a>{% else %}<a class="haup-link" href="{{ path('bookme') }}">Talente buchen</a>{% endif %}</p>
    <span id="close-haup" class="haup-close-icon"></span>
    {% for cat in cats2 %}
        <a href="{{ path('catchall', { 'content': cat.slug }) }}" style="padding: 0;">
            <p>
                <img src="{{ cat.imageUrl }}" class="category-drop-down" alt=""/>
                {{ cat.name }}
            </p>
        </a>
    {% endfor %}
    
    <span class="clearfix"></span>
    <p class="display-block">{% if equipment %}<a class="haup-link" href="{{ path('rentme') }}">Equipment mieten</a>{% else %}<a class="haup-link" href="{{ path('bookme') }}">Talente buchen</a>{% endif %}</p>
    
    {% for cat in cats1 %}
        <a href="{{ path('catchall', { 'content': cat.slug }) }}" style="padding: 0;">
            <p>
                <img src="{{ cat.imageUrl }}" class="category-drop-down" alt=""/>
                {{ cat.name }}
            </p>
        </a>
    {% endfor %}
    
    
</li>
