<div class="modal fade delete-offer" id="pls-wait" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
            <div class="content-modal">
                <p class="text-bold">Bitte warten</p>
            </div>
        </div>
    </div>
</div>

<div id="choose-offer" class="modal fade delete-offer" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>

            <div class="content-modal">
                <p class="text-bold">Willkommen bei hey! VIENNA</p>
                <p class="delate-info">
                    Was möchtest du in der Sharing Community anbieten?<br>Wähle zwischen Equipment und deinem Talent / Dienstleistung (siehe <a href="/doc/checklist.pdf" target="_blank">Checkliste</a>)
                </p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="javascript:anbieten(1)" class="button-black backgound-yellow text-black">Equipment Anbieten</a>
                {% else %}
                    <a href="{{ path('rental') }}" class="button-black backgound-yellow text-black">Equipment Anbieten</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="javascript:anbieten(2)" class="button-black backgound-yellow text-black">Talent Anbieten</a>
                {% else %}
                    <a href="{{ path('offer') }}" class="button-black backgound-yellow text-black">Talent Anbieten</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="choose-offer-detail" class="modal fade delete-offer" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
      <div class="content-modal mobile-hidden">
        <p class="text-bold">Bitte wähle eine Kategorie</p>
        <p class="delate-info">Bitte wähle eine Haupt- und Detailkategorie,
          damit wir dein Angebot zuordnen können.</p>
        <form action="provider_upload_equipment_mieten_step1.php">
          <select name="choose-cat" id="category-dropdown" class="" title="Hauptkategorie">
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
          </select>
          <select id="subcategory-dropdown" name="choose-cat" class="" title="Detailkategorie" disabled="disabled">
          </select>
          <input type="button" id="anleitung-button" class="button-black backgound-yellow text-black" value="Anleitung schicken">
          <input type="button" id="weiter-button" class="green-big-button" value="Weiter">
        </form>
      </div>
	  <div class="content-modal desktop-hide">
        <p class="text-bold">Bitte besuche dazu unsere Desktop Version</p>
        <p class="delate-info">Angebote kannst du derzeit nur in unserer Desktop Version einstellen</p>
      </div>
    </div>
  </div>
</div>
                  
<div id="hey-garantie" class="modal fade delete-offer" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
      <div class="content-modal">
         <p class="text-bold">Nutze die hey! Garantie</p>
         <p class="modal-long-text">Beim Einstellen deines Equipments fragen wir dich nach dem Wert des Equipments oder du kannst angeben, dass du über eine Original-Rechnung verfügst.<br><br> Wurde dein Equipment beschädigt und der Fall übersteigt den Wert der von dir festgelegten Kaution (z.B. Die Kaution beträgt 200,- der Schaden liegt aber bei 1.000,- €), so wende dich bitte an uns. Wir überprüfen den Fall und erstatten dir den Schadenswert bis zu 750,- € unkompliziert und schnell zurück.<br>
           <br>
           Wichtig sind dabei die saubere Dokumentation und Übermittlung des Übergabeprotokolls, Ausleihvereinbarung und entsprechenden Angaben zum Fall wie Bilder, Beschreibung des Hergangs. Wir empfehlen auch die vorherige Konsultation der Haushaltsversicherung zwecks Deckung des Schadens. <br>
           <br>
           Wir bieten diesen Service nach einem Fair-Use Prinzip an. Sollte sich bei Überprüfung herausstellen, dass ein Mißbrauch vorliegt, können wir das Service nicht anbieten. Mehr dazu findest du auch in unseren 
           <a href="{{ path("kundeninfos_agb") }}" target="_blank">AGB</a>. 
           Falls noch weitere Fragen zur Garantie bestehen schreibe uns bitte eine Mail an <a href="mailto:support@heysharing.com">support@heysharing.com</a>.</p>
       </div>
    </div>
  </div>
</div>

<div id="danke" class="modal fade delete-offer" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
      <div class="content-modal">
        <p class="text-bold">Vielen Dank!</p>
        <p class="delate-info">Wir haben dir eine Anleitung per Email geschickt.</p>
      </div>
    </div>
  </div>
</div>

{% block script %}
{# TODO: possibly move script to external .js file (watch out for the twig-logic (if's)! #}
<script>
    var ajaxFormReportOfferSubmit = function () {
            var $form = $(this);

            var options = {
                url: $form.attr("action"),
                type: $form.attr("method"),
                data: $form.serialize()
            };

            $.ajax(options).done(function (data) {    
                var $target = $("#formReportOffer");
                var $newHtml = $(data);        
                
                $target.replaceWith($newHtml);
                if (data.indexOf("Report_Offer_Saved") != -1){                    
                    $("#ReportOfferConfirmationDiv").show();                   
                }
            });

            return false;
            
        };
    
    $(function() {
        
        $("#category-dropdown, #subcategory-dropdown").selectpicker({
            style: 'btn-info',
            size: 9
        });
        
        $("#category-dropdown").change(function() {
            var id = $("#category-dropdown").val();
            if (id == null || id == "")
                return;
            var url = '{{ path('subcat', { 'id': 'CAT_ID' }) }}'.replace('CAT_ID', id.toString());           
            var subsel = $("#subcategory-dropdown");
            $.getJSON(url)
                .done(function(json) {
                    subsel.empty();
                    subsel.attr('disabled', 'disabled').selectpicker('refresh');
                    $.each(json, function(index, item) {
                        var opt = $("<option>").attr('value', item.id).text(item.name);                   
                        subsel.append(opt);
                    });
                    subsel.removeAttr('disabled').selectpicker('refresh');
                })
                .fail(function(jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log("Request Failed: " + err);
                    alert("Subcategories cannot be loaded, please try again.");
                    subsel.attr('disabled', 'disabled').selectpicker('refresh');
                })
                .always(function() {
                    refreshButtons();
                });
        });
        
        $("#subcategory-dropdown").change(refreshButtons);
        $("#choose-offer-detail").on("shown.bs.modal", refreshButtons);
        
        $("#weiter-button").click(weiterClick);
        $("#anleitung-button").click(anleitungClick);

        $(".social.fb").on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'share',
                    href: '{{ mailer_app_url_prefix }}/'
                }, function(response){});
            });
        $(".social.flash").on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'send',
                    link: '{{ mailer_app_url_prefix }}/'
                }, function(response){});
            });
        $(".social.tweet").on('click touchstart', function(e) {
            e.preventDefault();
            var title = 'hey! VIENNA';
            var url = '{{ mailer_app_url_prefix|escape('url') }}/';
            window.open('http://twitter.com/home?status=' + title + '+' + url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
        });
        $(".social.email").on('click touchstart', function(e) {
            e.preventDefault();
            var subject = encodeURIComponent('hey! VIENNA');
            var body = encodeURIComponent('{{ mailer_app_url_prefix }}/');
            var url = 'mailto:?subject=' + subject + '&body=' + body;
            window.location = url;
        });
        
    });
    
    function refreshButtons() {
        var $butt = $("#weiter-button, #anleitung-button");
        var $subSel = $("#subcategory-dropdown");
        if ($subSel.val() != '') {
            $butt.removeAttr('disabled');
            $butt.removeClass('disabled2');
        }
        else {
            $butt.attr('disabled', 'disabled');
            $butt.addClass('disabled2');
        }
    }
    var lastType = null;
    function anbieten(type, categoryId) {
        window.lastType = type;
        // load categories
        var url = '{{ path('cat', { 'type': 'XXX' }) }}'.replace('XXX', type.toString());           
        var $sel = $("#category-dropdown");
        var $subsel = $("#subcategory-dropdown");
        $.getJSON(url)
            .done(function(json) {
                $sel.empty();
                $sel.attr('disabled', 'disabled').selectpicker('refresh');
                $subsel.empty();
                $subsel.attr('disabled', 'disabled').selectpicker('refresh');
        
                $.each(json, function(index, item) {
                    var opt = $("<option>").attr('value', item.id).text(item.name);                   
                    $sel.append(opt);
                });
                $sel.removeAttr('disabled').selectpicker('refresh');

                // preselect current category
                if (typeof categoryId === 'number') {
                    $sel.val(categoryId.toString()).selectpicker('refresh');
                    $sel.change();
                    $('#weiter-button').attr('diabled', 'disabled').addClass('disabled2');                    
                }
                $("#choose-offer-detail").modal();
            })
            .fail(function(jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
                alert("Categories cannot be loaded, please try again.");
                $sel.attr('disabled', 'disabled').selectpicker('refresh');
            })
            .always(function() {
                refreshButtons();
            });
        
        
        
    }
    function weiterClick() {
        var id = $("#subcategory-dropdown").val();
        if (id !== "") {
            var url;
            if (window.lastType == 1)
                url = '{{ path('equipment-add-1', { 'subcategoryId': 'SUBCAT_ID' }) }}'.replace('SUBCAT_ID', id);
            else
                url = '{{ path('talent-add-1', { 'subcategoryId': 'SUBCAT_ID' }) }}'.replace('SUBCAT_ID', id);
            window.location = url;
        }
    }
    function anleitungClick() {
        var id = $("#subcategory-dropdown").val();
        if (id != "") {
            var url = '{{ path('rental-guidelines', { 'subcategoryId': 'SUBCAT_ID' }) }}'.replace('SUBCAT_ID', id);
            $.getJSON(url)
                .done(function(json) {
                    $("#choose-offer-detail").modal('hide');
                    $("#choose-offer").modal('hide');
                    $("#danke").modal();
                });
        }
    }
    window.cookieconsent_options = {
        message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
        dismiss: 'Ok, verstanden',
        learnMore: 'Mehr Infos',
        link: '{{ path('kundeninfos_datenschutz') }}',
        theme: 'light-floating'
    };
</script>
<!-- Start Website Tutor Cookie Plugin -->
<script type="text/javascript">
</script>
<script type="text/javascript" src="//valao.de/cookieplugin/script.js"></script>{% endblock %}
    
