  <div class="sb-slidebar sb-left sb-style-overlay">
      <a href="{{ path('start-page') }}">Home</a>
      <!--<a href="{{ path('bookme') }}">Talente buchen</a>
      <a href="{{ path('rentme') }}">Equipment mieten</a>-->
      <a href="{{ path("kundeninfos_kontakt") }}">Kontakt</a>
	  <a href="{{ path('blog') }}">Magazin</a>
	  <a href="#" data-toggle="modal" data-target="#reg-modal">Kostenlos mitmachen</a>
      <a href="#" data-toggle="modal" data-target="#login">Login</a>
	  <p class="rhinweis-mob">Hinweis: Um selbst etwas anzubieten, logge dich bitte auf einem Desktop ein.</p>
  </div>
  <!--
  <div class="sb-slidebar sb-right sb-style-overlay sb-toggle-right">
     <span id="social-shares">
     <a class="social fb" href="#"></a>
     <a class="social flash" href="#"></a>
     <a class="social tweet" href="#"></a>
     <a class="social email" href="#"></a>
         <span class="clearfix"></span>
     </span>
  </div>
  -->
  <div id="feedback" data-toggle="modal" data-target=".feed"></div>
  <!-- Modal -->
  <a id="passwordResetButton" data-dismiss="modal" data-toggle="modal" data-target="#passwordReset" class="has-account text-center" href="#"></a>
  
  <div id="feedback-modal" class="modal fade feed" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title">Feedback</h4>
                  
                  {{ render(controller('AppBundle:Common:feedback')) }}
                  
                  <div id ="FeedbackConfirmationDiv" style="display:none;" >
                    Thank you for your feedback!
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% if app.user == null %}     
  <div id="reg-modal" class="modal  register" role="dialog" aria-labelledby="reg-titile">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" ><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="reg-titile">Registrieren</h4>
                   <!--<p class="reg-promo">Jetzt registrieren und <span class="text-bold">5,- EUR Rabatt</span> für die 1. Buchung sichern! </p>-->               
                  <div id = "confirmationDiv" style="display:none;">
                      Dein Account ist jetzt registriert. Wir haben dir gerade eine Email mit Bestätigungslink geschickt um den Account zu aktivieren.
                  </div>
                  {{ render(controller('FOSUserBundle:Registration:register')) }}
                  
                   <a data-dismiss="modal" data-toggle="modal" data-target="#login" class="has-account text-center" 
                     href="#">Du hast bereits ein Konto? Melde dich an</a>              
              </div>
          </div>
      </div>
  </div>
    <div id="login" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Login</h4>

                  <a class="fb-button" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><img src="/img/fb-log.png" alt=""/></a>
                  <span class="oder">- oder -</span>

                  {{ render(controller('FOSUserBundle:Security:login')) }}
                       
                      <div class="text-center">
                        <a data-dismiss="modal" data-toggle="modal" data-target="#reg-modal" class="reg-forgot text-center" href="#">Registrieren</a>
                        <a class="reg-forgot text-center" href="#" data-dismiss="modal" data-toggle="modal" data-target="#passwordRecovery" >Passwort vergessen?</a>
                     </div>
              </div>
          </div>
      </div>
  </div>

  <div id="passwordRecovery" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Reset</h4>
                  
                  {{ render(controller('FOSUserBundle:Resetting:request')) }}
                       
                  <div class="text-center">
                    <a data-dismiss="modal" data-toggle="modal" data-target="#reg-modal" class="reg-forgot text-center" href="#">Registrieren</a>
                    <a data-dismiss="modal" data-toggle="modal" data-target="#login" class="reg-forgot text-center" href="#">Login</a>                  
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div id="reg-sent" class="modal fade delete-offer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                <div class="content-modal">
                    <p class="text-bold">Vielen Dank!</p>
                    <p class="delate-info">Dein Account ist jetzt registriert. Wir haben dir gerade eine Email mit Bestätigungslink geschickt um den Account zu aktivieren.</p>
                </div>                    
            </div>
        </div>
    </div>
                  
    
       
       
                  
    {% if token is defined and token != null %}
  <div id="passwordReset" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Reset</h4>
                  
                  {{ render(controller('FOSUserBundle:Resetting:reset', { "token":token } )) }}
                       
              </div>
          </div>
      </div>
  </div>
      {% endif %}      

  {% endif %}
  
  {% if app.user != null and confirmed is defined and confirmed != null %}  
  <a id="emailConfirmedButton" data-dismiss="modal" data-toggle="modal" data-target="#emailConfirmed" class="has-account text-center" href="#"></a>
  <div id="emailConfirmed" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Bestätigt</h4>
                 
                  
                  {{ render(controller('FOSUserBundle:Registration:confirmed' )) }}
                       
                  
              </div>
          </div>
      </div>
  </div>      
{% endif %}

{% if newsletterMessage is defined and newsletterMessage %}
    <div id="newsletter-message" class="modal fade delete-offer" role="dialog" aria-labelledby="login-title">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                    <div class="content-modal">
                    <p class="text-bold">Newsletter</p>
                    <p class="delate-info">
                        {{ newsletterMessage }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>      
{% endif %}

<script>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendors/jquery-1.11.2.min.js"><\/script>')</script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/vendors/bootstrap-select.min.css">
<script src="/js/vendors/bootstrap-select.min.js"></script>
<script src="/js/vendors/slidebars.min.js"></script>
<script src="/js/jquery.form.min.js"></script> {# http://malsup.github.io/min/jquery.form.min.js #}
<script type="text/javascript" src="//valao.de/cookieplugin/script.js"></script>
<script src="/js/build.js"></script>
<script src="/js/heysharing.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
    (window.jQuery.fn.ajaxForm === undefined) && document.write('<script src="/js/jquery.form.min.js">\x3C/script>');
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
    
    $(function(){        
            
        if (getUrlParameter("login")) {            
            $("a[data-target='#login']")[0].click();
        } else if (getUrlParameter("passwordReset")) {            
            $("#passwordResetButton").click();
        } else if (getUrlParameter("confirmed")) {               
            
            $("#emailConfirmedButton").click();            
        } else if (getUrlParameter("register")) {
            $("a[data-target='#reg-modal']")[0].rclick();
        }
        $("#emailConfirmed .close").unbind("click");
        $("#emailConfirmed .close").click(function(e){
            e.preventDefault();
            location.href = "provider/dashboard";
        });
        {% if newsletterMessage is defined and newsletterMessage %}
            $("#newsletter-message").modal();
        {% endif %}
    });
 WebFont.load({
    google: {
      families: ['Roboto Slab:300,400', 'Open Sans:400,500,600,300']
    }
  });
    
    $(function() {
        
        $("#category-dropdown, #subcategory-dropdown").selectpicker({
            style: 'btn-info',
            size: 9
        });
        
        $("#category-dropdown").change(function() {
            var id = $("#category-dropdown").val();
            if (id == null || id == "")
                return;
            var url = '{{ path('subcat', { 'id': 'CAT_ID' }) }}'.replace('CAT_ID', id.toString());           
            var subsel = $("#subcategory-dropdown");
            $.getJSON(url)
                .done(function(json) {
                    subsel.empty();
                    subsel.attr('disabled', 'disabled').selectpicker('refresh');
                    $.each(json, function(index, item) {
                        var opt = $("<option>").attr('value', item.id).text(item.name);                   
                        subsel.append(opt);
                    });
                    subsel.removeAttr('disabled').selectpicker('refresh');
                })
                .fail(function(jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log("Request Failed: " + err);
                    alert("Subcategories cannot be loaded, please try again.");
                    subsel.attr('disabled', 'disabled').selectpicker('refresh');
                })
                .always(function() {
                    refreshButtons();
                });
        });
        
        $("#subcategory-dropdown").change(refreshButtons);
        $("#choose-offer-detail").on("shown.bs.modal", refreshButtons);
        
        $("#weiter-button").click(weiterClick);
        $("#anleitung-button").click(anleitungClick);

        $(".social.fb").on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'share',
                    href: '{{ mailer_app_url_prefix }}/'
                }, function(response){});
            });
        $(".social.flash").on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'send',
                    link: '{{ mailer_app_url_prefix }}/'
                }, function(response){});
            });
        $(".social.tweet").on('click touchstart', function(e) {
            e.preventDefault();
            var title = 'hey! VIENNA';
            var url = '{{ mailer_app_url_prefix|escape('url') }}/';
            window.open('http://twitter.com/home?status=' + title + '+' + url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
        });
        $(".social.email").on('click touchstart', function(e) {
            e.preventDefault();
            var subject = encodeURIComponent('hey! VIENNA');
            var body = encodeURIComponent('{{ mailer_app_url_prefix }}/');
            var url = 'mailto:?subject=' + subject + '&body=' + body;
            window.location = url;
        });
        
    });
    
    function refreshButtons() {
        var $butt = $("#weiter-button, #anleitung-button");
        var $subSel = $("#subcategory-dropdown");
        if ($subSel.val() != '') {
            $butt.removeAttr('disabled');
            $butt.removeClass('disabled2');
        }
        else {
            $butt.attr('disabled', 'disabled');
            $butt.addClass('disabled2');
        }
    }
    var lastType = null;
    function anbieten(type, categoryId) {
        window.lastType = type;
        // load categories
        var url = '{{ path('cat', { 'type': 'XXX' }) }}'.replace('XXX', type.toString());           
        var $sel = $("#category-dropdown");
        var $subsel = $("#subcategory-dropdown");
        $.getJSON(url)
            .done(function(json) {
                $sel.empty();
                $sel.attr('disabled', 'disabled').selectpicker('refresh');
                $subsel.empty();
                $subsel.attr('disabled', 'disabled').selectpicker('refresh');
        
                $.each(json, function(index, item) {
                    var opt = $("<option>").attr('value', item.id).text(item.name);                   
                    $sel.append(opt);
                });
                $sel.removeAttr('disabled').selectpicker('refresh');

                // preselect current category
                if (typeof categoryId === 'number') {
                    $sel.val(categoryId.toString()).selectpicker('refresh');
                    $sel.change();
                    $('#weiter-button').attr('diabled', 'disabled').addClass('disabled2');                    
                }
                $("#choose-offer-detail").modal();
            })
            .fail(function(jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
                alert("Categories cannot be loaded, please try again.");
                $sel.attr('disabled', 'disabled').selectpicker('refresh');
            })
            .always(function() {
                refreshButtons();
            });
        
        
        
    }
    function weiterClick() {
        var id = $("#subcategory-dropdown").val();
        if (id !== "") {
            var url;
            if (window.lastType == 1)
                url = '{{ path('equipment-add-1', { 'subcategoryId': 'SUBCAT_ID' }) }}'.replace('SUBCAT_ID', id);
            else
                url = '{{ path('talent-add-1', { 'subcategoryId': 'SUBCAT_ID' }) }}'.replace('SUBCAT_ID', id);
            window.location = url;
        }
    }
    function anleitungClick() {
        var id = $("#subcategory-dropdown").val();
        if (id != "") {
            var url = '{{ path('rental-guidelines', { 'subcategoryId': 'SUBCAT_ID' }) }}'.replace('SUBCAT_ID', id);
            $.getJSON(url)
                .done(function(json) {
                    $("#choose-offer-detail").modal('hide');
                    $("#choose-offer").modal('hide');
                    $("#danke").modal();
                });
        }
    }
    window.cookieconsent_options = {
        message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
        dismiss: 'Ok, verstanden',
        learnMore: 'Mehr Infos',
        link: '{{ path('kundeninfos_datenschutz') }}',
        theme: 'light-floating'
    };
</script>
