  <div class="sb-slidebar sb-left sb-style-overlay">
      <a href="{{ path('start-page') }}">Home</a>
      <a href="{{ path('bookme') }}">Talente buchen</a>
      <a href="{{ path('rentme') }}">Equipment mieten</a>
      <a href="{{ path("kundeninfos_kontakt") }}">Kontakt</a>
	  <a href="{{ path('blog') }}">Magazin</a>
	  <a href="#" data-toggle="modal" data-target="#reg-modal">Kostenlos mitmachen</a>
      <a href="#" data-toggle="modal" data-target="#login">Login</a>
	  <p class="rhinweis-mob">Hinweis: Um selbst etwas anzubieten, logge dich bitte auf einem Desktop ein.</p>
  </div>
  <!--
  <div class="sb-slidebar sb-right sb-style-overlay sb-toggle-right">
     <span id="social-shares">
     <a class="social fb" href="#"></a>
     <a class="social flash" href="#"></a>
     <a class="social tweet" href="#"></a>
     <a class="social email" href="#"></a>
         <span class="clearfix"></span>
     </span>
  </div>
  -->
  <div id="feedback" data-toggle="modal" data-target=".feed"></div>
  <!-- Modal -->
  <a id="passwordResetButton" data-dismiss="modal" data-toggle="modal" data-target="#passwordReset" class="has-account text-center" href="#"></a>
  
  <div id="feedback-modal" class="modal fade feed" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title">Feedback</h4>
                  
                  {{ render(controller('AppBundle:Common:feedback')) }}
                  
                  <div id ="FeedbackConfirmationDiv" style="display:none;" >
                    Thank you for your feedback!
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% if app.user == null %}     
  <div id="reg-modal" class="modal  register" role="dialog" aria-labelledby="reg-titile">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" ><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="reg-titile">Registrieren</h4>
                   <!--<p class="reg-promo">Jetzt registrieren und <span class="text-bold">5,- EUR Rabatt</span> f체r die 1. Buchung sichern! </p>-->               
                  <div id = "confirmationDiv" style="display:none;">
                      Dein Account ist jetzt registriert. Wir haben dir gerade eine Email mit Best채tigungslink geschickt um den Account zu aktivieren.
                  </div>
                  {{ render(controller('FOSUserBundle:Registration:register')) }}
                  
                   <a data-dismiss="modal" data-toggle="modal" data-target="#login" class="has-account text-center" 
                     href="#">Du hast bereits ein Konto? Melde dich an</a>              
              </div>
          </div>
      </div>
  </div>
    <div id="login" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Login</h4>

                  <a class="fb-button" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><img src="/img/fb-log.png" alt=""/></a>
                  <span class="oder">- oder -</span>

                  {{ render(controller('FOSUserBundle:Security:login')) }}
                       
                      <div class="text-center">
                        <a data-dismiss="modal" data-toggle="modal" data-target="#reg-modal" class="reg-forgot text-center" href="#">Registrieren</a>
                        <a class="reg-forgot text-center" href="#" data-dismiss="modal" data-toggle="modal" data-target="#passwordRecovery" >Passwort vergessen?</a>
                     </div>
              </div>
          </div>
      </div>
  </div>

  <div id="passwordRecovery" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Reset</h4>
                  
                  {{ render(controller('FOSUserBundle:Resetting:request')) }}
                       
                  <div class="text-center">
                    <a data-dismiss="modal" data-toggle="modal" data-target="#reg-modal" class="reg-forgot text-center" href="#">Registrieren</a>
                    <a data-dismiss="modal" data-toggle="modal" data-target="#login" class="reg-forgot text-center" href="#">Login</a>                  
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div id="reg-sent" class="modal fade delete-offer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                <div class="content-modal">
                    <p class="text-bold">Vielen Dank!</p>
                    <p class="delate-info">Dein Account ist jetzt registriert. Wir haben dir gerade eine Email mit Best채tigungslink geschickt um den Account zu aktivieren.</p>
                </div>                    
            </div>
        </div>
    </div>
                  
    
       
       
                  
    {% if token is defined and token != null %}
  <div id="passwordReset" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Reset</h4>
                  
                  {{ render(controller('FOSUserBundle:Resetting:reset', { "token":token } )) }}
                       
              </div>
          </div>
      </div>
  </div>
      {% endif %}      

  {% endif %}
  
  {% if app.user != null and confirmed is defined and confirmed != null %}  
  <a id="emailConfirmedButton" data-dismiss="modal" data-toggle="modal" data-target="#emailConfirmed" class="has-account text-center" href="#"></a>
  <div id="emailConfirmed" class="modal  register" role="dialog" aria-labelledby="login-title">
      <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                  <h4 class="modal-title reg" id="login-title">Best채tigt</h4>
                 
                  
                  {{ render(controller('FOSUserBundle:Registration:confirmed' )) }}
                       
                  
              </div>
          </div>
      </div>
  </div>      
{% endif %}

{% if newsletterMessage is defined and newsletterMessage %}
    <div id="newsletter-message" class="modal fade delete-offer" role="dialog" aria-labelledby="login-title">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                    <div class="content-modal">
                    <p class="text-bold">Newsletter</p>
                    <p class="delate-info">
                        {{ newsletterMessage }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>      
{% endif %}

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
    
    $(function(){        
            
        if (getUrlParameter("login")) {            
            $("a[data-target='#login']")[0].click();
        } else if (getUrlParameter("passwordReset")) {            
            $("#passwordResetButton").click();
        } else if (getUrlParameter("confirmed")) {               
            
            $("#emailConfirmedButton").click();            
        } else if (getUrlParameter("register")) {
            $("a[data-target='#reg-modal']")[0].rclick();
        }
        $("#emailConfirmed .close").unbind("click");
        $("#emailConfirmed .close").click(function(e){
            e.preventDefault();
            location.href = "provider/dashboard";
        });
        {% if newsletterMessage is defined and newsletterMessage %}
            $("#newsletter-message").modal();
        {% endif %}
    });
</script>

  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/vendors/bootstrap.min.js"></script>
  <script src="/js/vendors/bootstrap-select.min.js"></script>
  <script src="/js/vendors/slidebars.min.js"></script>
  <script src="/js/build.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
