<div class="mobile-hidden">
  <header class="home-header" id="pages-header">
  <div id="heading-fixed">
      <div class="container background-light-gray no-border">
          <div class="row left-right-border">
              <div class="col-xs-6">
                  <a href="{{ path('start-page') }}"><img src="/img/logo.png" alt="logo" class="logo"/></a>
                  <a data-toggle="modal" data-target="#choose-offer" href="#" class="button-black backgound-yellow text-black">Anbieten / Vermieten</a>
                </div>
              <div class="col-xs-6 text-right">
                  {% if not app.user %}
                    <a data-toggle="modal" data-target="#reg-modal" class="button-black" href="#">Kostenlos mitmachen</a>
                    <a data-toggle="modal" data-target="#login" class="button-black" href="#">Login</a>
                  {% else %}
                      <a href="{{ path('dashboard') }}" class="button-black profilebutton">
                          <img src="{{ app.user.getProfilePicture(false, image_url_prefix) }}" class="headerProfileImage" style="max-width: 39px; max-width: 39px;"  alt=""/>
                          {{ app.user.name }}
                      </a>
                  {% endif %}
                  <a href="{{ path("kundeninfos_kontakt") }}" class="button-black">Kontakt</a>
                </div>
          </div>
      </div>
  </div>
</header>
</div>
