
  <footer id="footer">
    <div class="container">
        <div class="social-footer">
            <a class="twitter-follow-button" href="https://twitter.com/hey_sharing" data-size="false" data-show-count="false" data-show-screen-name="false">Folgen</a>
            <div class="fb-like" data-href="https://www.facebook.com/heySharingCommunity" data-layout="button_count" data-show-faces="false"></div>
        </div>
        <nav class="pull-right">
            <a href="{{ path('rentme') }}">Equipment mieten</a>            
            <a href="#">Talente buchen</a>            
            <a href="{{ path('blog') }}">Blog</a>            
            <a href="{{ path("hilfe_faq_euipment_mieten") }}">Hilfe &amp; FAQ</a>            
            <a href="{{ path("kundeninfos_agb") }}">AGB</a>            
            <a href="{{ path("kundeninfos_kontakt") }}">Kontakt</a>            
            <a class="footer-sign" id="footer-toggle">+</a>
        </nav>
    </div>
    <div class="container-fluid" id="full-footer">
        <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="border-right">
                    <li class="footer-desc"><a href="{{ path("hilfe_faq_euipment_mieten") }}">Hilfe &amp; FAQ</a> </li>
                    <li><a href="{{ path("hilfe_faq_euipment_mieten") }}">Equipment mieten</a></li>
                    <li><a href="{{ path("hilfe_faq_euipment_anbieten") }}">Equipment vermieten</a></li>
                    <li><a href="{{ path("hilfe_faq_talent_buchen") }}">Talente buchen</a></li>
                    <li><a href="{{ path("hilfe_faq_talent_anbieten") }}">Talente anbieten</a></li>
                    <li><a href="{{ path("hilfe_faq_faq") }}">FAQ</a></li>
                  
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="border-right">
                    <li class="footer-desc"><a href="{{ path("kundeninfos_presse") }}">Kundeninfos</a> </li>
                    <li><a href="{{ path("kundeninfos_presse") }}">Presse</a></li>
                    <li><a href="{{ path("kundeninfos_kontakt") }}">Kontakt</a></li>
                    <li><a href="{{ path("kundeninfos_impressum") }}">Impressum</a></li>
                    <li><a href="{{ path("kundeninfos_agb") }}">AGB</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="border-right no-border-mobile">
                    <li class="footer-desc social-heading margin-left">Finde uns</li>
                    <li><a href="https://www.facebook.com/heyTSC" target="_blank"><img src="/img/fb.png" alt="facebook"/>Facebook</a></li>
                    <li><a href="https://twitter.com/hey_tsc" target="_blank"><img src="/img/twitter.png" alt="twitter"/>Twitter</a></li>
                    <li><a href="#" target="_blank"><img src="/img/instagram.png" alt="instagram"/>Instagram</a></li>
                    <li><a href="#" target="_blank"><img src="/img/youtube.png" alt="youtube"/>Youtube</a></li>
                </ul>
            </div>
            <div class="col-md-4 mobile-hidden">
                <div class="row">
                    <ul>
                        <li class="footer-desc">Beliebte Kategorien</li>
                    </ul>
                    <ul class="col-sm-6">
                        <li><a href="#">Fahrrad mieten</a></li>
                        <li><a href="#">Sport Equipment mieten</a></li>
                        <li><a href="#">E-Bike mieten</a></li>
                        <li><a href="#">Werkzeug mieten</a></li>
                        <li><a href="#">Produkt mieten</a></li>
                    </ul>
                    <ul class="col-sm-6">
                        <li><a href="#">Babysitter Wien</a></li>
                        <li><a href="#">Sporttrainer Wien</a></li>
                        <li><a href="#">Fotograf Wien</a></li>
                        <li><a href="#">Hundesitter Wien</a></li>
                        <li><a href="#">Grafikdesigner Wien</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <!--<div style="display:hidden;" class="row footer-last-item mobile-hidden">
                <p class="last-item-heading">hey! rentme Equipment mieten</p>
                <div class="col-sm-6">
                    <p>Lore volore modo odipissi tat ea con heniam nisit ipit ip esendre eugiam zzriliquis et lummodo erit aute molestie del iuscipis adipis nostrud modit, conulputat augiam nim nim dolorpe rcipit lum er sum iure magna faccum dolorper auguer aute tionsed magnismod tat ver sustrud et exeriurerci tat wisit nisi tat at ad dolor suscil eriure dolorem zzril do consequi erosto odio exero del endre veliquat. Duiscilit, consequatie do odolese commy.</p>
                </div>
                <div class="col-sm-6">
                    <p>Lore volore modo odipissi tat ea con heniam nisit ipit ip esendre eugiam zzriliquis et lummodo erit aute molestie del iuscipis adipis nostrud modit, conulputat augiam nim nim dolorpe rcipit lum er sum iure magna faccum dolorper auguer aute tionsed magnismod tat ver sustrud et exeriurerci tat wisit nisi tat at ad dolor suscil eriure dolorem zzril do consequi erosto odio exero del endre veliquat. Duiscilit, consequatie do odolese commy.</p>
                </div>
            </div>-->
        </div>
      </div>
  </footer>
