<script src="/js/register.js"></script>
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': { 'id':'formRegister', 'class': 'fos_user_registration_register'}}) }}    

    <a id="facebookRegistration" class="fb-button" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><img src="/img/facebook-reg.png" alt=""/></a>
    
    <span class="oder">- oder -</span>             

    <div id="facebookValidation" style="color:#ff0000;display:none;">
        Please accept our AGBs first.
    </div>
    
    {{ form_errors(form) }}
    
    
    {{ form_errors(form.name) }}    
    {{ form_widget(form.name, {'attr': {'placeholder': 'VORNAME'}}) }}
    
    {{ form_errors(form.surname) }}
    {{ form_widget(form.surname, {'attr': {'placeholder': 'NACHNAME'}}) }}
    
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'placeholder': 'EMAIL'}}) }}
    
    {{ form_errors(form.plainPassword) }}
    {{ form_widget(form.plainPassword, {'attr': {'placeholder': 'PASSWORT', 'class': 'lock-icon'}}) }}
    
    
    <input type="submit" value="mit E-mail anmelden">
    <label class="agb">{{ form_widget(form.accept, { 'attr': { 'id' : 'acceptCheckBox' } }) }}
        <span>Ich akzeptiere die <a href="#">AGBs</a> von hey! sharing community</span>
    </label>
{{ form_end(form) }}


