{% extends "base.html.twig" %}
{% block body %}
    <div class="main-header ">
        <img src="/img/info.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/>
        <img src="/img/blog-rwd.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
        <div class="container rent-heading help-heading blog-heading mobile-blog-heading">
            <div class="row">
                {% if posts|length > 0 %}
                    <div class="col-md-8 text-white">
                        <h1>{{ posts[0].title }}</h1><br>
                        <a href="{{ path('blog_detail', { 'slug': posts[0].slug }) }}" class="button-black backgound-yellow text-black">artikel lesen</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
  </header>
  <div class="mobile-hidden"><select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
    <option value="/blog">HAUPKATEGORIE BLOG</option>
  </select></div>
  <section>
    <div class="container background-white rent-container no-border-bottom">
        <nav class="crumbs">
            <ul class="col-xs-8">
                <li><a href="{{ path('start-page') }}">hey! TSC</a></li>
                <li><a href="{{ path('blog') }}" class="active-crumb">Blog</a></li>
            </ul>
            <ul class="col-xs-4 pull-right text-right">
                <!-- <li id="kategorie-select"><a class="active-crumb"  href="#">Blog Kategorien &#9660;</a></li> -->
            </ul>
        </nav>
        <span class="clearfix"></span>
    </div>
  </section>
  <section class="main-offers ">
    <div class="container  background-white blog-container">
        <div class="row">
          
            {% for post in posts %}
                <a class="text-black" href="{{ path('blog_detail', { 'slug' : post.slug }) }}">
                    <div class="col-sm-4">
                        {% if post.image %}
                            <img src="{{ post.image.urlPath(image_url_prefix) }}" alt="{{ post.title }}" class="blogimg"/>
                        {% else %}
                            {# TODO: change default blog photo #}
                            <img src="/img/placeholder/blog2.jpg" alt="{{ post.title }}" class="blogimg"/>
                        {% endif %}
                        <div class="product-info">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <p class="product-name">
                                        {{ post.title }}
                                      </p>
                                </div>
                                <div class="col-xs-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
               
        </div>
    </div>
  </section>
    <span class="add-margin"></span>
  </div>
{% endblock %}

