{% extends "base.html.twig" %}

{% block head %}
	<meta property="og:url"           content="{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug }) }}" />
	<meta property="og:type"          content="article" />
	<meta property="og:title"         content="{{ post.title }}" />
	<meta property="og:description"   content="{{ post.title }}" />
	<meta property="og:image"         content="{{ post.image.urlPath(image_url_prefix) }}" />    
{% endblock %}

{% block home_header %}
    {{ include('common/home_header_bg.html.twig') }}
{% endblock %}

{% block body %}
  <section class="detail-page container left-right-border background-light-gray">
    <nav class="crumbs">
        <ul class="col-xs-8">
            <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
            <li><a href="{{ path('blog') }}">Blog</a></li>
            <li><a href="{{ path('blog_detail', { 'slug': post.slug }) }}" class="active-crumb">{{ post.title }}</a></li>
        </ul>
    </nav>
    <span class="clearfix"></span>
  </section>
  <section class="product-detail container background-light-gray container blog-detail">
    <div class="row">
        <div class="col-sm-8 left-side">
            <div class="row">
                <div class="col-md-10 col-sm-8 col-xs-8"><h1>{{ post.title }}</h1></div>
                <div class="col-md-2 col-sm-4 col-xs-4 detail-controls">
                    {% if prevPost != null %}
                        <a href="{{ path('blog_detail', { 'slug': prevPost.slug }) }}" title="{{ prevPost.title }}"><span class="left-icon"></span></a>
                    {% endif %}
                    {% if nextPost != null %}
                        <a href="{{ path('blog_detail', { 'slug':  nextPost.slug }) }}" title="{{ nextPost.title }}"><span class="right-icon"></span></a>
                    {% endif %}
                </div>
            </div>
            <p class="detail-notice"></p>
            <div class="social-container">
                <a class="social fb" href="#"></a>
                <a class="social flash" href="#"></a>
                <a class="social email" href="mailto:?subject=Empfohlener%20Artikel%20auf%20hey!%20VIENNA&body={{ mailer_app_url_prefix|escape('url') }}{{ path('blog_detail', { 'slug': post.slug })|escape('url') }}"></a>
                <a class="social tweet" href="javascript:twittButton('{{ post.title|escape('js') }}', '{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug }) }}')"></a>
                <a class="social pin" href="javascript:pinIt('{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug }) }}', '{{ post.title|escape('js') }}')"></a>
            </div>
            <div class="position-relative">
                {% if post.image %}
                    <img src="{{ post.image.urlPath(image_url_prefix) }}" alt="{{ post.title }}" class="product-user"/>
                {% else %}
                    {# TODO: change default blog photo #}
                    <img src="/img/placeholder/blog2.jpg" alt="{{ post.title }}" class="product-user"/>
                {% endif %}
            </div>
            <!-- LEFT side ends -->
            <div class="blog-content">
                
                {{ post.content | raw }}
                
            </div>
        </div>
        <div class="col-sm-4 right-side">
            {% for p in posts|slice(0, 4) %}
                <a href="{{ path('blog_detail', { 'slug': p.slug }) }}">
                <div class="user-info">
                    {% if p.image %}
                        <img src="{{ p.image.thumbnailUrlPath(image_url_prefix) }}" alt="{{ p.title }}"/>
                    {% else %}
                        {# TODO: change default blog photo #}
                        <img src="/img/placeholder/blog2.jpg" alt="{{ p.title }}"/>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-9">
                            <p>{{ p.title }}</p>
                        </div>
                        <div class="col-xs-3 grey-info">
                            INFO
                        </div>
                    </div>
                    <img src="/img/info-icon.png" alt="info-icon" class="icon-info"/>
                  </div>
                </a>
            {% endfor %}
        </div>
        <!-- End of right side -->
    </div>
  </section>
  <!-- Bottom featured items -->
  {# for now hiding "Das könnte dich auch interessieren"
  <section class="main-categories main-offers featured-offers">
    <div class="container border-light-gray">
        <div class="row">
            <p class="see-also">Das könnte dich auch interessieren:</p>
            <div class="col-sm-3">
                <div>
                    <img src="/img/placeholder/bike.png" alt="placeholder"/>
                    <img src="/img/cart-pro.png" alt="cart" class="cart"/>
                    <div class="product-info">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                </ul>
                                <p class="product-name">
                                    cannondale
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p class="price">
                                    15.00 &#8364;
                                </p>

                                <p class="tag">
                                    pro Tag
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <img src="/img/placeholder/bike2.png" alt="placeholder"/>
                    <div class="product-info">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                </ul>
                                <p class="product-name">
                                    votec
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p class="price">
                                    12.00 &#8364;
                                </p>

                                <p class="tag">
                                    statt 20 € pro Std
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <img src="/img/placeholder/bike2.png" alt="placeholder"/>
                    <div class="product-info">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                </ul>
                                <p class="product-name">
                                    specialized
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p class="price">
                                    12.00 &#8364;
                                </p>

                                <p class="tag">
                                    pro Tag
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <img src="/img/placeholder/bike2.png" alt="placeholder"/>
                    <div class="product-info">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="marked glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                    <li><span class="glyphicon glyphicon-star"></span></li>
                                </ul>
                                <p class="product-name">
                                    votec
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p class="price">
                                    12.00 &#8364;
                                </p>

                                <p class="tag">
                                    pro Tag
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  #}
    <section class="detail-bottom container border-light-gray"></section>
  </div>
    
{% endblock %}

{% block script %}
<script type="text/javascript">
  
  $(function() {
        $(".social.fb").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'share',
                    href: '{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug }) }}'
                }, function(response){});
            });
        $(".social.flash").off('click touchstart').on('click touchstart', function(e) {
                e.preventDefault();
                FB.ui({
                    method: 'send',
                    link: '{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug }) }}'
                }, function(response){});
            });
        $(".social.tweet").off('click touchstart').on('click touchstart', function(e) {
            e.preventDefault();
            var title = '{{ post.title|escape('url') }}';
            var url = '{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug })|escape('url') }}';
            window.open('http://twitter.com/home?status=' + title + '+' + url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
        });
        $(".social.email").off('click touchstart').on('click touchstart', function(e) {
            e.preventDefault();
            var subject = encodeURIComponent('Empfohlenes Artikel auf hey! VIENNA');
            var body = encodeURIComponent('{{ mailer_app_url_prefix }}{{ path('blog_detail', { 'slug': post.slug }) }}');
            var url = 'mailto:?subject=' + subject + '&body=' + body;
            window.location = url;
        });
        $(".social.pin").off('click touchstart').on('click touchstart', function(e) {
            var winTop = (screen.height / 2) - 160;
            var winLeft = (screen.width / 2) - 260;
            var url = '{{ mailer_app_url_prefix|escape('url') }}{{ path('blog_detail', { 'slug': post.slug })|escape('url') }}';
            var description = '{{ post.title|escape('url') }}';
            window.open('http://pinterest.com/pin/create/link/?url=' + url + '&description=' + description, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=520,height=320');
        });
  });
  
</script>
{% endblock %}
