{% extends 'base.html.twig' %}

{% block home_header %}
<link rel="stylesheet" href="{{ asset('css/heyrentme.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block body %}
 {% include('provider/user_nav.html.twig') %}
<section class="users container background-light-grey dashboard">
    <div class="row">
        <!-- Left side -->
        <div class="col-md-9 margin-bottom-60">
            <a href="{{ path('start-page') }}"><img src="/img/logo-small.svg" alt=""/></a>
          </div>
        <!-- Right side -->
        <div class="col-md-3 margin-rwd">
          <div class="support">            
            <p class="head">Anbieter Support</p>
            <p class="mail"><a href="mailto:support@heysharing.com">support@heysharing.com</a></p>
          </div>
        </div>
    </div>
    <div class="row ">
        
        {% if offers %}
            <div class="col-md-9 col-xs-12">
            {% for o in offers %}
                <div class="col-xs-12">
                    <div class="xol-xs-12">
                        <div class="row user-offers">
                            <div class="col-md-4 offer-detail">
                                {% if o.images|length > 0 %}
                                    <img src="{{ o.images[0].urlPath(image_url_prefix) }}" alt="placeholder" class="img-responsive"/>                       
                                {% else %}
                                    <img src="/img/equipment-default.jpg" alt="placeholder" class="img-responsive" />
                                {% endif %}


                                <div class="product-info">

                                    <div class="row">
                                        <div class="col-xs-8">
                                            <ul>
                                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                                <li><span class="glyphicon glyphicon-star"></span></li>
                                                <li><span class="glyphicon glyphicon-star"></span></li>
                                            </ul>
                                            <p class="product-name">{{ o.name }}</p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p class="price">{{ o.price }} &#8364;</p>
                                            <p class="tag">pro tag</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="buttons">
                                  <a class="button-black first-button col-xs-3" href="#" data-dismiss="modal" data-toggle="modal" data-target="#edit-offer_{{ o.id }}" >bearbeiten</a>
                                  <div id="edit-offer_{{ o.id }}" class="modal fade delete-offer" role="dialog">
                                        <div class="modal-dialog"> 
                                          <!-- Modal content-->
                                          <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                                            <div class="content-modal">
                                              <p class="text-bold">Angebot “{{ o.name }}” bearbeiten?</p>
                                              <p class="delate-info">Bitte beachte, dass dein Angebot erst von uns angesehen werden muss, bevor die Änderungen aktiv werden.</p>
                                              <a class="button-black backgound-yellow text-black" href="{{ path("equipment-edit-1", { "id": o.id } ) }}">Angebot bearbeiten</a> </div>
                                          </div>
                                        </div>
                                      </div>
                                  
                                  <a  data-toggle="modal" data-target="#confirmDelete_{{ o.id }}" class="button-black col-xs-3" href="#">entfernen</a>
                                  
                                    <div id="confirmDelete_{{ o.id }}" class="modal fade delete-offer" role="dialog" >
                                        <div class="modal-dialog" role="document">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                
                                                <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                                                
                                                <div id="deleteOffer" class="content-modal">
                                                    <p class="text-bold">Angebot "{{ o.name }}" entfernen?</p>
                                                    <p class="delate-info">
                                                        Mochest du dieses Angebot wirklich loschen?
                                                        Dieser Schritt ist nicht ruckgangig zu machen.
                                                    </p>
                                                    <a class="delete-btn button btn-danger"  href="{{ path("equipment-delete", { "id": o.id } ) }}">angebot entfernen</a>
                                                    <div class="clear"></div>
                                                </div>

                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                    


                                  <a class="button-black background-facebook col-xs-3" href="#"><img src="/img/icons/fb-new.png" /> Teilen</a>
                                  <a class="button-black backgound-yellow col-xs-3 btnSaveStatus" id="BtnSave_{{ o.id }}" >speichern</a>
                                </div>
                                <div class="clear" ></div>
                                <div>
                                    <ul id = "DivMessage_{{ o.id }}" style="display:none;"></ul>
                                    <textarea id="TxtStatus_{{ o.id }}"  class="place_black placeholderStatusDashboard"  >{{ o.offerStatus }}</textarea>                                

                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="search-form mobile-kategorie-form">
                                                <div class="select-link">
                                                    {% if o.activeDiscount %}
                                                        <input id="HiddenDiscountType_{{ o.id }}" type="hidden" value="{{o.ActiveDiscount().type()}}" />
                                                        <input id="HiddenPercent_{{ o.id }}" type="hidden" value="{{o.ActiveDiscount().percent()}}" />
                                                        <input id="HiddenDuration_{{ o.id }}" type="hidden" value="{{o.ActiveDiscount().Duration()}}" />
                                                    {% endif %}
                                                        <select id="DiscountType_{{ o.id }}" title='diskont Wählen' name="gender2" class="selectpicker bs-select-hidden ">
                                                            <option value="-1" >Diskont Wählen</option>
                                                            {% if o.IsNewOfferDiscountPossible %}
                                                            <option value="1" >Neues Angebot</option>
                                                            {% endif %}
                                                            {% if o.IsTemporaryDiscountPossible %}                                                        
                                                            <option value="2" >Zeitlich begrenzt</option>
                                                            {% endif %}
                                                        </select>                                                                                                 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1 infos">
                                            <a data-target="#discount" data-toggle="modal" href="#">
                                                <span class="info-icon"></span>
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="search-form mobile-kategorie-form">
                                                <div class="select-link">
                                                    <select id="Percent_{{ o.id }}" title="0%" name="gender2" class="selectpicker bs-select-hidden " disabled="disabled" >
                                                        <option value="-1" >0%</option>                                                                                                            
                                                        <option value="1" >-10%</option>                                                    
                                                        <option value="2" >-15%</option>                                                    
                                                        <option value="3" >-20%</option>
                                                        <option value="4" >-25%</option>                                                    
                                                        <option value="5" >-30%</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="search-form mobile-kategorie-form">
                                                <div class="select-link">
                                                    <select id="Duration_{{ o.id }}" disabled="disabled" title='Dauer' name="gender2" class="selectpicker bs-select-hidden ">
                                                        <option value = "-1">Dauer</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 id">
                                            <p>Angebot-ID: {{ o.id }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            <div class="offer" style="clear: both;">
                <a class="green-big-button" data-target="#choose-offer" data-toggle="modal" href="#">Angebot hinzufügen</a>                
            </div>
            </div>
        {% else %}
            <div class="col-md-9 offer">
                <p>Erstelle dein erstes Angebot!</p>
                <a class="green-big-button" data-target="#choose-offer" data-toggle="modal" href="#">Angebot hinzufügen</a>                
            </div>
        {% endif %}
        
        
          {{ include('provider/user_nav_small.html.twig', { 'page': 'dashboard', 'user': user }) }}
        
    </div>
    
    <div id="discount" class="modal fade delete-offer" role="dialog">
        <div class="modal-dialog"> 
          <!-- Modal content-->
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
            <div class="content-modal">
              <p class="text-bold">Discount-Optionen</p>
              <p class="modal-long-text">
              <span style="font-weight:bold">Option 1: Neues Angebot</span><br><br>
              Bist du ein neuer Anbieter bei der hey! sharing community, dann kannst du einmalig (max. 4 Wochen) oder bis du 3 Bewertungen erhälst einen Diskont anbieten um dein Angebot noch attraktiver zu machen.<br><br>
               <span style="font-weight:bold">Option 2: Zeitlich begrenzt</span><br><br>
              Möchtest du spontan potentiellen Interessenten ein Angebot machen? Bei der hey! sharing community hast 2x pro Monat die Möglichkeit einen temporären Discount anzubieten. Diese Option kann für maximal 24 Std. gesetzt werden.</p>
            </div>
          </div>
        </div>
      </div>
    
          
</section>
<script>
    var url = "{{ path("equipment-saveStatus") }}";
</script>
<script src="/js/dashboard.js"></script>
{% endblock %}