{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
    {% include('provider/user_nav.html.twig') %}
    <section class="users container background-light-grey">
      <div class="row">
          <!-- Left side -->
          <div class="col-md-9">
              <a href="{{ path('dashboard') }}"><img src="/img/logo-small.png" alt=""/></a>
              <ul class="steps">
                  <li class="step-1"><span class="counters text-bold"><span class="n-one"></span>Tarif</span></li>
                  <li class="step-2"><span id="button_2" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-two"></span>Beschreibung</span>
                  </li>
                  <li class="step-3"><span id="button_3" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-three"></span>Details</span></li>
                  <li class="step-4"><span id="button_4" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-four"></span>Fertig</span></li>
              </ul>
          </div>
          <!-- Right side -->
          <div class="col-md-3 margin-rwd">
            <div class="support">
              <p class="head">Anbieter Support</p>
              <p class="mail"><a href="mail:support@heysharing.com">support@heysharing.com</a></p>
            </div>
          </div>
      </div>
      <div class="row user-forms">
          <div class="col-md-9">
              {{ form_start(form) }}
              <div class="row">
                  <div class="col-xs-12 border-bottom-white form-head">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-md-5">
                                  <span class="number-one number-rwd"></span>
                                  <p class="form-heading">Tarif</p>
                              </div>
                              <div class="col-md-7">
                                  <span class="form-info"><strong>Ab welchen Betrag möchtest du das Equipment verleihen?</strong></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                       <div class="form-container form-input form-last-item">
                          <div class="row">
                              <div class="col-sm-7">
                                  <label for="form[name]">Angebotsname:</label>
                                  {{ form_widget(form.name, { 'attr': { 'placeholder': 'Maximal 22 Zeichen', 'class': 'normal-input' } }) }}
                                  <div class="err-msg">{{ form_errors(form.name) }}</div>
                              </div>
                               <div class="col-sm-5">
                                  <label for="form[price]">Preis pro Tag (ab):</label>
                                  {{ form_widget(form.price, { 'attr': { 'class': 'small-input', 'placeholder': '0', 'min': '10', 'max': '2500' }}) }}EUR 
                                  <div class="err-msg">{{ form_errors(form.price) }}</div>
                              </div>
                              <!--<div class="col-sm-6 text-right">
                                  <label class="chbox"><input type="checkbox"> <span> Keine Angabe</span></label>
                              </div>-->
                          </div>
                          <div class="row">
                              <div class="col-sm-5">
                                  <label for="form[priceWeek]">Preis pro Woche (ab):</label>
                                  {{ form_widget(form.priceWeek, { 'attr': { 'placeholder': '0', 'class': 'small-input' } }) }}
                                  <div class="err-msg">{{ form_errors(form.priceWeek) }}</div>
                              </div>
                               <div class="col-sm-7">
                                  <label for="form[priceMonth]">Preis pro Monat / 30 Tage (ab):</label>
                                  {{ form_widget(form.priceMonth, { 'attr': { 'class': 'small-input', 'placeholder': '0', 'min': '10', 'max': '2500' }}) }}EUR
                                  <div class="err-msg">{{ form_errors(form.priceMonth) }}</div>
                              </div>
                              <!--<div class="col-sm-6 text-right">
                                  <label class="chbox"><input type="checkbox"> <span> Keine Angabe</span></label>
                              </div>-->
                          </div>
                      </div>                      
                  </div>
                  <div class="col-xs-12 border-bottom-white form-head smaller-form">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-sm-12">
                                  <p class="form-heading">Kaution</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="form-container form-input form-last-item">
                          <div class="row">
                              <div class="col-xs-12">
                                  <p class="memo">Kaution: Du kannst hier für dein Equipment eine Kaution angeben, die vom
                                      Mieter in bar zur Übergabe mitgenommen wird.
                                    </p>

                                  <div class="kaution row">
                                      <div class="col-xs-5">
                                        <span>Original-Wert (ca.)</span>
                                        {{ form_widget(form.value, { 'attr': { 'class': 'small-input', 'placeholder': '0', 'min': '50', 'max': '50000' }}) }}EUR 
                                        <div class="err-msg">{{ form_errors(form.value) }}</div>
                                      </div>
                                      <div class="col-xs-3">
                                        <div class="search-form mobile-kategorie-form">
                                            <div class="select-link">
                                                {{ form_widget(form.ageId, { 'attr': { 'class': 'selectpicker bs-select-hidden', 'title': 'Alter (ca.)' }}) }}
                                                <div class="err-msg">{{ form_errors(form.ageId) }}</div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-xs-4">
                                        <span>Kaution</span>
                                        {{ form_widget(form.deposit, { 'attr': { 'class': 'small-input', 'placeholder': '0', 'min': '0', 'max': '1000' }}) }}EUR 
                                        <div class="err-msg">{{ form_errors(form.deposit) }}</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="chbox-holder" style="display: inline-block;">
                            {{ form_widget(form.invoice) }}
                            <label for="form_invoice"><span></span>Original-Rechnung ist vorhanden</label>
                        </div>
                        <div class="chbox-holder" style="display: inline-block;">
                            {{ form_widget(form.service) }}
                            <label for="form_service" style="margin-right: 0px;"><span></span>Equipment wird mit Dienstleistung angeboten</label>
                            <span class="info-icon" data-toggle="tooltip" title="" data-original-title="Falls du dein Equipment mit einer Dienstleistung anbieten möchtest, aktiviere bitte diese Option. Dadurch entfällt die Eingabe von Kaution und Angaben zu Preis &amp; Alter des Equipments."></span>
                        </div>

                      </div>
                  </div>
                  <div class="col-xs-8 left-offer">
                      <div class="col-sm-12 border-bottom-white form-head smaller-form medium-form">
                          <p class="form-heading medium-heading">Kaufoption - Test & Buy</p>
                      </div>
                      <div class="form-container last-form-container">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="former">
                                      <div class="row">
                                          <div class="col-xs-12">
                                              <p>Möchtest du dein Equipment auch unter “Test & Buy” anführen?
                                                  Der Mieter weiß dann, dass du dein Fahrrad auch zum
                                                  Verkauf anbieten möchtest. Den Kaufpreis kannst du direkt mit dem
                                                  Mieter vereinbaren.</p>

                                              <div class="kaution">
                                                <span>Verkaufspreis bei Kauf</span>
                                                {{ form_widget(form.priceBuy, { 'attr': { 'class': 'small-input', 'placeholder': '0', 'min': '0', 'max': '50000' }}) }}EUR 
                                                <div class="err-msg">{{ form_errors(form.priceBuy) }}</div>
                                              </div>
                                              <div>
                                                  <div class="chbox-holder" style="display: inline-block;">
                                                    {{ form_widget(form.testDrive) }}
                                                    <label for="form_testDrive" style="margin-right: 0px;"><span></span>Probefahrt</label>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-4 right-offer">
                      <div class="ad  mobile-hidden">
                          <img src="/img/allgemein-final/form_e_1.jpg" alt="ad" class="img-responsive">

                          <div class="product-info product-ad">
                              <div class="row">
                                  <div class="col-xs-12">
                                      <ul>
                                          <li><span class="marked glyphicon glyphicon-star"></span></li>
                                          <li><span class="marked glyphicon glyphicon-star"></span></li>
                                          <li><span class="marked glyphicon glyphicon-star"></span></li>
                                          <li><span class="glyphicon glyphicon-star"></span></li>
                                          <li><span class="glyphicon glyphicon-star"></span></li>
                                      </ul>
                                      <p class="product-name">
                                          PRODUKT MIT KAUFOPTION
                                      </p>
                                  </div>
                              </div>
                              <img src="/img/cart.png" alt="cart" class="cart">
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 border-bottom-white form-head smaller-form">
                      <div class="form-container">
                          <div class="row">
                              <div class="col-sm-12">
                                  <p class="form-heading">Gewerblicher Anbieter</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <div class="form-container form-input form-last-item no-margin-bottom">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="chbox-holder">
                                      {# <input type="checkbox" id="chxxx"> #}
                                      {{ form_widget(form.industrial) }}
                                      <label for="form_industrial"><span></span>Gewerbliches Angebot</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <input type="submit" class="yellow-button left-0" value="Tarif speichern &gt;&gt;">
            {{ form_end(form) }}
          </div>
          <div class="col-md-3 margin-rwd">
              <div class="support">
                  <p class="head">Dein Verdienst</p>
                  <div class="range"><input type="text" id="range_30" name="example_name" value=""/></div>
                  <p class="price">
                      {{ form.vars.value.price|default('0')|number_format(2, ',') }} €
                  </p>
                  <p class="price-info">pro Jahr bei 1 Tag Vermietung</p>
              </div>
          </div>
  </section>
    <div id="edit-offer" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Das Angebot wurde bearbeitet.</p>
            <p class="delate-info">Bitte beachte, dass dein Angebot erst von uns angesehen werden muss, bevor die Änderungen aktiv werden.</p>
        </div>
      </div>
    </div>
        
{% endblock %}

{% block script %}
  <script src="/js/vendors/ion.rangeSlider.min.js"></script>
  <script>
      var fieldsChanged = false;
      var url2 = "{{ path('equipment-edit-2', {'id': id}) }}";
      var url3 = "{{ path('equipment-edit-3', {'eqid': id}) }}";
      var url4 = "{{ path('equipment-edit-4', {'id': id}) }}";
      
      function topMenuClick(){
          
          if (!fieldsChanged || confirm('Sie haben ungesicherte Änderungen. Möchtest du fortfahren?')){
              switch($(this).attr("id").split("_")[1]){
                  case "2":
                      location.href = url2;
                      break;
                  case "3":
                      location.href = url3;
                      break;
                  case "4":
                      location.href = url4;
                      break;
              }
              
          } 
      }
      function serviceChanged() {
          var $fvd = $('#form_value, #form_deposit');
          var $fa = $('#form_ageId');
          var $fs = $('#form_service');
          if ($fs.prop('checked')) {
              $fvd.attr('readOnly', 'true').css({ 'background-color': '#aaa', 'opacity': '0.5' });
              $fa.attr('disabled', 'disabled').selectpicker('refresh');
          }
          else {
              $fvd.removeAttr('readOnly').css({ 'background-color': '#fff', 'opacity': '1.0' });
              $fa.removeAttr('disabled').selectpicker('refresh');
          }
      }
      function priceBuyChanged() {
          var val = $("#form_priceBuy").val();
          var $testDrive = $("#form_testDrive");
          var $lab = $testDrive.next('label');
          if (val !== null && val !== '' && parseInt(val) > 0) {
              $lab.attr('for', 'form_testDrive').css({ 'opacity': '1.0' });
              $testDrive.removeAttr('readOnly');
          }
          else {
              $lab.removeAttr('for').css({ 'opacity': '0.5' });
              $testDrive.prop('checked', false).attr('readOnly', 'true');
          }
      }
      $(document).ready(function () {
        {% if statusChanged %}
            $("#edit-offer").modal();
            $("#edit-offer").on("hidden.bs.modal", function() {
                window.location = '{{ path('equipment-edit-2', { 'id': id }) }}';
            });
        {% endif %}
          $("#range_30").ionRangeSlider({
              min: 1,
              max: 100
          });
          
          $("form input[type='text']").on("change", function(){
              fieldsChanged = true;
          });
          
          $(".top-menu-button").click(topMenuClick);
          
          serviceChanged();
          priceBuyChanged();
          $("#form_service").on('click change', serviceChanged);
          $("#form_priceBuy").on('click change keyup', priceBuyChanged);
      });
  </script>
  </div>
{% endblock %}