{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
    {% include('provider/user_nav.html.twig') %}
    <section class="users container background-light-grey">
      <div class="row">
          <!-- Left side -->
          <div class="col-md-9">
              <a href="{{ path('dashboard') }}"><img src="/img/logo-small.png" alt=""/></a>            <ul class="steps">
                  <li class="step-1 active-step"><span id="button_1" class="top-menu-button counters"><span class="n-one"></span>Tarif</span></li>
                  <li class="step-2 active-step"><span id="button_2" class="top-menu-button counters"><span class="n-two"></span>Beschreibung</span>
                  </li>
                  <li class="step-3"><span class="counters text-bold"><span class="n-three"></span>Details</span></li>
                  <li class="step-4"><span id="button_4" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-four"></span>Fertig</span></li>
              </ul>
          </div>

          <!-- Right side -->
          <div class="col-md-3 margin-rwd">
            <div class="support">
              <p class="head">Anbieter Support</p>
              <p class="mail"><a href="mail:support@heysharing.com">support@heysharing.com</a></p>
            </div>
          </div>
      </div>
      <div class="row user-forms">
          <form method="post">
          <div class="col-md-8">
              <div class="row">
                  <div class="col-xs-12 border-bottom-white form-head">
                      <div class="form-container form-input-border">
                          <div class="row">
                              <div class="col-sm-12">
                                  <span class="number-three number-rwd"></span>
                                  <p class="form-heading">Details!</p>
                              </div>
                          </div>
                      </div>
                  </div>
                {{ form_start(form) }}
                <div class="err-msg">{{ form_errors(form) }}</div>
<!-- Formular 3 Checkboxes -->
          <div class="col-xs-12 border-bottom-white form-head describe">
            <div class="form-container">
              <div class="row">
                <div class="col-sm-12">
                  <p>Wann wäre dir ein Treffen generell am liebsten?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-container form-input-border">
              <div class="row">
                <div class="col-xs-3">
                  <div class="chbox-holder">
                    {{ form_widget(form.timeMorning) }}
                    <label for="form_timeMorning"><span></span>Vormittags</label>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="chbox-holder">
                    {{ form_widget(form.timeAfternoon) }}
                    <label for="form_timeAfternoon"><span></span>Nachmittags</label>
                  </div>
                </div>
                 <div class="col-xs-3">
                  <div class="chbox-holder">
                    {{ form_widget(form.timeEvening) }}
                    <label for="form_timeEvening"><span></span>Abends</label>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="chbox-holder">
                    {{ form_widget(form.timeWeekend) }}
                    <label for="form_timeWeekend"><span></span>Wochenende</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
         
          
           <!-- Formular Input Text -->
          <div class="col-xs-12 border-bottom-white form-head describe">
            <div class="form-container border-bottom-white">
              <div class="row">
                <div class="col-sm-12">
                  <p>Genauer Equipment-Typ (z.B. genaue Produktbeschreibung / für Erwachsene, Kinder, Damen, Herren)</p>
                </div>
              </div>
            </div>
              <div class="form-container form-input-border padding-30">
                <div class="row">
                  <div class="col-sm-12">
                    {{ form_widget(form.descType, { 'attr': { 'placeholder': 'Maximal 500 Zeichen verfügbar' } }) }}
                    <div class="err-msg">{{ form_errors(form.descType) }}</div>
                  </div>
                </div>
              </div>
          </div>
          
		 <!-- Formular Input Text -->
          <div class="col-xs-12 border-bottom-white form-head describe">
            <div class="form-container border-bottom-white">
              <div class="row">
                <div class="col-sm-12">
                  <p>Besondere Auststattung, Extras</p>
                </div>
              </div>
            </div>
              <div class="form-container form-input-border padding-30">
                <div class="row">
                  <div class="col-sm-12">
                    {{ form_widget(form.descSpecial, { 'attr': { 'placeholder': 'Maximal 500 Zeichen verfügbar' } }) }}
                    <div class="err-msg">{{ form_errors(form.descSpecial) }}</div>
                  </div>
                </div>
              </div>
          </div>
          
          <!-- Formular Input Text -->
          <div class="col-xs-12 border-bottom-white form-head describe">
            <div class="form-container border-bottom-white">
              <div class="row">
                <div class="col-sm-12">
                  <p>Spezielle Angebotskonditionen</p>
                </div>
              </div>
            </div>
              <div class="form-container form-input-border padding-30">
                <div class="row">
                  <div class="col-sm-12">
                    {{ form_widget(form.descCondition, { 'attr': { 'placeholder': 'Schreib hier, falls du dein Angebot zu speziellen Geschäftsbedingungen anbieten möchtest. Maximal 1000 Zeichen verfügbar' } }) }}
                    <div class="err-msg">{{ form_errors(form.descCondition) }}</div>
                  </div>
                </div>
              </div>                
                  <input type="submit" class="green-big-button green-button" value="Einstellungen speichern und fertig">
                  {{ form_end(form) }}
              </div>
          </div>
          </form>
      </div>
  </section>
  </div>
{#
  <script>
    $(function() {
        $("input[type='radio']").change(function() {
            var section = $(this).attr('name');
            $("input[name='" + section + "'] + label > input[type='text']").each(function(index, item) {
                var $input = $(item);
                var $radio = $input.parent().prev();
                if ($radio.is(':checked')) {
                    $input.attr('required', 'required');
                    $input.removeAttr('disabled');
                }
                else {
                    $input.attr('disabled', 'disabled');
                    $input.val('');
                    $input.removeAttr('required');
                }
            });
        });
        $("input[type='checkbox'] + label > input[type='text']").parent().prev().change(function() {
            var $check = $(this);
            var $input = $check.next().children("input[type='text']");
            if ($check.is(':checked')) {
                $input.attr('required', 'required');
                $input.removeAttr('disabled');
            }
            else {
                $input.attr('disabled', 'disabled');
                $input.val('');
                $input.removeAttr('required');
            }
        });
    });
  </script>
  #}
    <script>
      var fieldsChanged = false;
      
      var url1 = "{{ path('equipment-edit-1', {'id': id} ) }}"
      var url2 = "{{ path('equipment-edit-2', {'id': id}) }}";      
      var url4 = "{{ path('equipment-edit-4', {'id': id }) }}";
      
      function topMenuClick(){
          
          if (!fieldsChanged || confirm('Sie haben ungesicherte Änderungen. Möchtest du fortfahren?')){
              switch($(this).attr("id").split("_")[1]){
                  case "1":
                      location.href = url1;
                      break;
                  case "2":
                      location.href = url2;
                      break;
                  case "4":
                      location.href = url4;
                      break;
              }
          } 
      }
      
      $(document).ready(function () {
          $("form input[type='text']").on("change", function(){
              fieldsChanged = true;
          });
          $("form textarea").on("change", function(){
              fieldsChanged = true;
          });
          $(".top-menu-button").click(topMenuClick);
      })
  </script>

{% endblock %}
