<script>
    var page = "{{ pageName }}";    
</script>
<script src="/js/leftmenu.js"></script>
<div class="col-sm-3 sidebar mobile-hidden">
    <nav>
        <ul>
            <li><a id="hilfe_faq_euipment_mieten" class="leftmenu"  href="{{ path("hilfe_faq_euipment_mieten") }}" >Hilfe / Equipment mieten</a></li>
            <li><a id="hilfe_faq_euipment_anbieten" class="leftmenu" href="{{ path("hilfe_faq_euipment_anbieten") }}">Hilfe / Equipment anbieten</a></li>
            <li><a id="hilfe_faq_talente_buchen" class="leftmenu" href="{{ path("hilfe_faq_talente_buchen") }}">Hilfe / Talente buchen</a></li>
            <li><a id="hilfe_faq_talente_anbieten" class="leftmenu" href="{{ path("hilfe_faq_talente_anbieten") }}">Hilfe / Talente anbieten</a></li>
            <li><a id="hilfe_faq_faq_nutzer" class="leftmenu" href="{{ path("hilfe_faq_faq_nutzer") }}">FAQ Nutzer</a></li>
            <li><a id="hilfe_faq_faq_anbieter" class="leftmenu" href="{{ path("hilfe_faq_faq_anbieter") }}">FAQ Anbieter</a></li>
        </ul>
    </nav>
</div>