{% extends 'admin/admin.base.html.twig' %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_feature_section_list', { 'featureSectionId': featureSectionId }) }}">Feature section</a></li>
    <li><a href="{{ path('admin_feature_list', { 'featureSectionId': featureSectionId }) }}" class="active-crumb">Feature</a></li>         
{% endblock %}

{% block body %}
<h1>Feature section edit</h1>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
<div class="form-horizontal">
    <div class="err-msg">{{ form_errors(form) }}</div>
    
    {{ form_widget(form.id) }}

    <div class="row">
        <div class="form-group">
          <label for="form_name" class="control-label col-xs-2">Name</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.name) }}</div>
            {{ form_widget(form.name, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'name' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_shortname" class="control-label col-xs-2">Short name</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.shortName) }}</div>
            {{ form_widget(form.shortName, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'short name' }}) }}
          </div>
        </div>
    </div>
   
    <div class="row">
        <div class="form-group">
          <label for="form_freetext" class="control-label col-xs-2">Freetext</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.freetext) }}</div>
          {{ form_widget(form.freetext, { 'attr': { 'class': 'check-box single-line' }}) }}
          </div>
        </div>
    </div>
          
    <div class="row">
        <div class="form-group">
          <label for="form_position" class="control-label col-xs-2">Position</label>
          <div class="col-xs-10">
              <div class="err-msg">{{ form_errors(form.position) }}</div>
          {{ form_widget(form.position, { 'attr': { 'class': 'text-box single-line short', 'placeholder': 'position' }}) }}
          </div>
        </div>
    </div>
   
          
    <div class="row">          
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="button-black backgound-yellow text-black" value="Save">
                <a class="button-black backgound-yellow text-black" href="{{ path('admin_feature_list', { 'featureSectionId': featureSectionId }) }}">Cancel</a>
            </div>
        </div>
    </div>
    
</div>
{{ form_end(form) }}
{% endblock %}