{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_equipment_list') }}" class="active-crumb">Equipment</a></li>
{% endblock %}

{% block body %}
    <h1>Equipment</h1>
    <a class="button-black backgound-yellow text-black" href="{{ path('admin_equipment_new') }}">New equipment</a>
    <br/>
    <br/>


    <div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover"></table>
        <div id="jqgrid-pager"></div>
    </div>
{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}

<script>    
    
    function rowActions(cellvalue, options, cellobject) {
        return '<a class="grid-icon" title="Moderate" href="' + cellobject[11] + '"><span class="glyphicon glyphicon-ok-circle"></span></a>' + 
            '<a class="grid-icon" title="Edit" href="' + cellobject[10] + '"><span class="glyphicon glyphicon-edit"></span></a>' +
            '<a class="grid-icon" title="Preview" href="' + cellobject[7] + '" target="_blank"><span class="glyphicon glyphicon-picture"></span></a>' +
            '<a class="grid-icon" title="Log" href="' + cellobject[12] + '" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a>' +
            '<a class="grid-icon delete" title="Delete" href="#" data-href="' + cellobject[18] + '"><span class="glyphicon glyphicon-remove"></span></a>';
    }
    function showcaseActions(cellvalue, options, cellobject) {
        if (cellobject[6] !== 'approved')
            return '';
        
        var s = '<input type="checkbox" class="showcase" data-type="start" data-id="' + cellobject[1] + '" title="start page"' + (cellobject[19] ? ' checked="checked" ' : '') + '/>';
        s += '&nbsp;&nbsp;';
        s += '<input type="checkbox" class="showcase" data-type="equipment" data-id="' + cellobject[1] + '" title="equipment page"' + (cellobject[20] ? ' checked="checked" ' : '') + '/>';
        return s;
    }
    function featuredActions(cellvalue, options, cellobject) {
        return '<input type="checkbox" class="featured" data-type="featured" data-id="' + cellobject[1] + '" title="featured"' + (cellobject[21] ? ' checked="checked" ' : '') + '/>';
    }
    function inquiryCcActions(cellvalue, options, cellobject) {
        return '<input type="checkbox" class="inquirycc" data-type="inquirycc" data-id="' + cellobject[1] + '" title="inquiry CC"' + (cellobject[22] ? ' checked="checked" ' : '') + '/>';
    }
    function gridComplete() {
        $('a.delete').on('click', deleteClick);
        $('input.showcase').on('change', showcaseChange);
        $('input.featured').on('change', featuredChange);
        $('input.inquirycc').on('change', inquiryCcChange);
    }
    function showcaseChange(e) {
        var ch = $(this);
        var val = ch.prop('checked') ? '1' : '0';
        var url;
        if (ch.data('type') === 'equipment')
            url = '{{ path('admin-equipment-showcase-equipment', { 'id': '-ID-', 'value': '-VALUE-' }) }}';
        else
            url = '{{ path('admin-equipment-showcase-start', { 'id': '-ID-', 'value': '-VALUE-' }) }}';
        url = url.replace('-ID-', ch.data('id')).replace('-VALUE-', val);
        $.get(url)
            .done(function(data) {
                if (data.type === 'error') {
                    ch.prop('checked', !ch.prop('checked')); // revert checkbox state
                    toastr.error(data.message, 'Failed to save');
                }
                else {
                    var f = toastr[data.type];
                    f(data.message, 'Saved');
                }
            })
            .fail(function(jqXHR) {
                ch.prop('checked', !ch.prop('checked')); // revert checkbox state
                toastr.error('Unexpected error occurred. Please try again.', 'Failed to save');
            });        
    }
    function featuredChange(e) {
        var $ch = $(this);
        var url = '{{ path('admin-equipment-featured', { 'id': '-ID-' }) }}'.replace('-ID-', $ch.data('id'));
        $.get(url)
                .done(function() {
                    toastr.info('Saved successfully');
                })
                .fail(function() {
                    $ch.prop('checked', !$ch.prop('checked')); // revert checkbox state
                    toastr.error('Unexpected error occurred. Please try again.', 'Failed to save');
                });
    }
    function inquiryCcChange(e) {
        var $ch = $(this);
        var url = '{{ path('admin-equipment-inquirycc', { 'id': '-ID-' }) }}'.replace('-ID-', $ch.data('id'));
        $.get(url)
                .done(function() {
                    toastr.info('Saved successfully');
                })
                .fail(function() {
                    $ch.prop('checked', !$ch.prop('checked')); // revert checkbox state
                    toastr.error('Unexpected error occurred. Please try again.', 'Failed to save');
                });
    }
    function deleteClick(e) {
        e.preventDefault();
        var ok = confirm('Are you sure you want to delete this item?');
        if (!ok)
            return;
        
        var url = $(this).data('href');
        $.get(url)
                .done(function() {
                    $("#jqgrid").trigger('reloadGrid');
                })
                .fail(function() {
                    alert('Unexpeted error occurred. Please try again or contact an administrator.');
                });
    }

    $(function() {
        
        var $grid = $('#jqgrid');

        if( $grid.length > 0 ) {
                var optionsStr = ":All;1:New;2:Modified;3:Approved;4:Rejected;5:Incomplete";
                $grid.jqGrid({
                        url: '{{ path('admin_equipment_jsondata') }}',
                        mtype: 'GET',
                        datatype: 'jsonp',
                        colModel:[
                                { name:'', width:130, fixed:true, editable:false, sortable:false, formatter:rowActions, search: false },
                                { name:'Id', index:'e.id', editable:false, sortable:false, hidden: true, search: false },
                                { name:'Category', index:'concat(c.name, s.name)', width: 250, editable:false, sortable:true, search: false },
                                { name:'Name', index:'e.name', width: 250, editable:false, sortable:true, search: false },
                                { name:'Price', index:'e.price', width: 80, align: "right", editable:false, sortable:true, search: false },
                                { name:'User', index:'u.username',  width: 250, editable:false, sortable:true, search: false},
                                { name:'Status', index:'e.status', width: 100, editable:false, sortable:true, stype: 'select', searchoptions:{ sopt:['eq'], value: optionsStr, clearSearch: false }},
                                { name:'Url', hidden: true },
                                { name:'Created', index: 'e.createdAt', width: 130, sortable: true, search: false },
                                { name:'Modified', index: 'e.modifiedAt', width: 130, sortable: true, search: false },
                                { name: '', hidden: true },
                                { name: '', hidden: true },
                                { name: '', hidden: true },
                                { name: 'Q', width: 40, align: 'right', sortable: false, search: false },
                                { name: 'B', width: 40, align: 'right', sortable: false, search: false },
                                { name: 'C', width: 40, align: 'right', sortable: false, search: false },
                                { name: 'R', width: 70, align: 'right', sortable: false, search: false },
                                { name: 'D', width: 50, align: 'right', sortable: false, search: false },
                                { name: 'SC', width: 50, align: 'center', fixed: true, editable: false, sortable: false, search: false, formatter: showcaseActions },
                                { name: 'F', width: 30, align: 'center', fixed: true, editable: false, sortable: false, search: false, formatter: featuredActions },
                                { name: 'CC', width: 30, align: 'center', fixed: true, editable: false, sortable: false, search: false, formatter: inquiryCcActions }
                        ],
                        height: 550,
                        rowNum: 20,
                        rowList: [20, 50, 100],
                        pager: '#jqgrid-pager',
                        sortname: 'e.status',
                        viewrecords: true,
                        sortorder: "asc",
                        multiselect: false,
                        gridComplete: gridComplete,
                        headertitles: true
                });
                $grid.jqGrid('filterToolbar', {
                    stringResult: false,
                    searchOnEnter: false,
                    defaultSearch: 'e',
                    clearSearch: false
                });
                
            // tooltips
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(14)').attr('title', 'Questions');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(15)').attr('title', 'Bookings');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(16)').attr('title', 'Cancellations');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(17)').attr('title', 'Revenue');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(18)').attr('title', 'Discount');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(19)').attr('title', 'Showcase');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(20)').attr('title', 'Featured');
            $('.ui-jqgrid-htable thead tr:first-child th:nth-child(21)').attr('title', 'Inquiry CC');
            
        }
        
        toastr.options["timeOut"] = 3000;
        toastr.options["closeButton"] = true;
        toastr.options["showDuration"] = 100;
        toastr.options["hideDuration"] = 100;

}); // end ready function
</script>    
    
{% endblock %}

