{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_equipment_list') }}" class="active-crumb">Equipment</a></li>
{% endblock %}

{% block body %}
    <h1>Equipment</h1>
    <a class="button-black backgound-yellow text-black" href="{{ path('admin_equipment_new') }}">New equipment</a>
    <br/>
    <br/>


    <div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover"></table>
        <div id="jqgrid-pager"></div>
    </div>
{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    
$(document).ready(function(){    
//*******************************************
/*	JQGRID INIT
/********************************************/


function rowActions(cellvalue, options, cellobject) {
      return   "<a title='Moderate'             href='equipment/moderate/"   +  options.rowId + "'><u>moderate</u></a>  "+
               "<a title='Preview' target='_blank' href='"   +  cellobject[7] + "'><u>preview</u></a>  "+
               "<a title='Edit'             href='equipment/edit/"   +  options.rowId + "'><u>edit</u></a>  ";
  }

var $grid = $('#jqgrid');

if( $grid.length > 0 ) {
        var optionsStr = ":All;1:New;2:Modified;3:Approved;4:Rejected;5:Incomplete";
        $grid.jqGrid({
                url: '{{ path('admin_equipment_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width:150, fixed:true, editable:false, sortable:false, formatter:rowActions, search: false },
                        { name:'Id', index:'e.id', width:0, editable:false, sortable:false, hidden: true, search: false },
                        { name:'Category', index:'concat(c.name, s.name)', width: 250, editable:false, sortable:true, search: false },
                        { name:'Name', index:'e.name', width: 250, editable:false, sortable:true, search: false },
                        { name:'Price', index:'e.price', width: 80, align: "right", editable:false, sortable:true, search: false },
                        { name:'User', index:'u.username',  width: 250, editable:false, sortable:true, search: false},
                        { name:'Status', index:'e.status', width: 100, editable:false, sortable:true, stype: 'select', searchoptions:{ sopt:['eq'], value: optionsStr, clearSearch: false }},
                        { name:'Url', hidden: true },
                        { name:'Created', index: 'e.createdAt', width: 130, sortable: true, search: false },
                        { name:'Modified', index: 'e.modifiedAt', width: 130, sortable: true, search: false }                        
                ],
                height: 550,
                rowNum: 20,
                rowList: [20, 50, 100],
                pager: '#jqgrid-pager',
                sortname: 'e.status',
                viewrecords: true,
                sortorder: "asc",
                multiselect: false
        });
        $grid.jqGrid('filterToolbar', {
            stringResult: false,
            searchOnEnter: false,
            defaultSearch: 'e',
            clearSearch: false
        });
}

}); // end ready function
</script>    
    
{% endblock %}

