{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_equipment_list') }}" class="active-crumb">Equipment</a></li>
{% endblock %}

{% block head %}
    {{ parent() }}      
{% endblock %}

{% block body %}
<h1>Equipment moderation</h1>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
<div class="form-horizontal">
    <div class="err-msg">{{ form_errors(form) }}</div>    
    {{ form_widget(form.id) }}
    <div class="page">        
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Name</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.Name }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Offer status</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.OfferStatus }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Age</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.age.name }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Preis pro Tag:</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.Price }},- € 
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Preis pro Woche:</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.PriceWeek }},- € 
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Preis pro Monat:</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.PriceMonth }},- € 
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Original-Wert (ca.)</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.value }},- € 
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Kaution</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.Deposit }},- € 
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Original-Rechnung ist vorhanden</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.invoice }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Verkaufspreis</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.priceBuy }},- € 
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Gewerbliches Angebot</label>
              <div class="col-xs-10 control-readonly">
                {{ equipment.industrial }}
              </div>
            </div>
        </div>
    </div>
          
    <div class="page" >
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Images</label>
              <div class="col-xs-10 control-readonly">
                {% for eimg in equipment.equipmentImages %}

                    <a class="thmb-link" href ="{{ eimg.image.urlPath(image_url_prefix) }}" target="_blank">
                        <img class="thmb" src="{{ eimg.image.urlPath(image_url_prefix) }}"  alt=""/>
                    </a>
                    
                {% endfor %}
              </div>
              <div class="clear"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Beschreibung</label>
              <div class="col-xs-10 control-readonly">
                 {{ equipment.description|nl2br }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">desc. #2</label>
              <div class="col-xs-10 control-readonly">
                 {{ equipment.descType|nl2br }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">desc. #3</label>
              <div class="col-xs-10 control-readonly">
                 {{ equipment.descSpecial|nl2br }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">desc #4</label>
              <div class="col-xs-10 control-readonly">
                 {{ equipment.descCondition|nl2br }}
              </div>
            </div>
        </div>
              
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">pick-up time</label>
              <div class="col-xs-10 control-readonly">
                 {{ equipment.timeAsString }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
              <label for="form_name" class="control-label col-xs-2">Address</label>
              <div class="col-xs-10 control-readonly">
                 {{ equipment.addressAsString }}
              </div>
            </div>
        </div>
    </div>
          
          
    
    <div class="row">
        <div class="form-group">
          <label for="form_name" class="control-label col-xs-2">Status</label>
          <div class="col-xs-10  control-readonly">
              <div class="err-msg">{{ form_errors(form.status) }}</div>
            {{ form_widget(form.status, { 'attr': { 'class': 'check-box single-line'}}) }}
          </div>
        </div>
    </div>
          
          
    <div class="row">
        <div class="form-group">
          <label for="form_name" class="control-label col-xs-2">Reason</label>
          <div class="col-xs-10  control-readonly">
              <div class="err-msg">{{ form_errors(form.reason) }}</div>
            {{ form_widget(form.reason, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'reason' }}) }}
          </div>
        </div>
    </div>
    <div class="row">          
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="button-black backgound-yellow text-black" value="Save">
                <a class="button-black backgound-yellow text-black" href="{{ path('admin_equipment_list') }}">Cancel</a>
                <a class="button-black backgound-yellow text-black" target="_blank" href="{{ path('preview_equipment', { "uuid":equipment.uuid }) }}">preview</a>
            </div>
        </div>
    </div>
    
</div>
{{ form_end(form) }}
{% endblock %}