<script>
    var page = "{{ pageName }}";
</script>
<script src="/js/leftmenu.js"></script>
<div class="col-sm-3 sidebar mobile-hidden">
    <nav>
        <ul>
            <li><a id="kundeninfos_agb" class="leftmenu" href="{{ path("kundeninfos_agb") }}" >AGb</a></li>
            <li><a id="kundeninfos_datenschutz" class="leftmenu" href="{{ path("kundeninfos_datenschutz") }}">Datenschutz</a></li>
            <li><a id="kundeninfos_presse" class="leftmenu" href="{{ path("kundeninfos_presse") }}">Presse</a></li>
            <li><a id="kundeninfos_kontakt" class="leftmenu" href="{{ path("kundeninfos_kontakt") }}">Kontakt</a></li>
            <li><a id="kundeninfos_impressum" class="leftmenu" href="{{ path("kundeninfos_impressum") }}">Impressum</a></li>
        </ul>
    </nav>
</div>
