<!doctype html>
<html style="overflow-x: hidden;max-width: 600px;margin: 0 auto;">
<head>
    <meta charset="utf-8">
    <title>Willkommen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:#f9f9f9;margin: 0;overflow-x: hidden;max-width: 600px;margin: 0 auto;" >

<table  style="background-color: #000000;width: 100%;max-width: 600px;">
    <tr style="height: 30px;width: 100%;max-width: 600px;">
        <td>
            <p style="color: white;color: white;width: 100%;max-width: 600px;margin: 0 auto;padding-left: 36px;font-size: 13px;font-family: helvetica, arial;padding-left: 15px;">Neuigkeiten von hey! VIENNA</p>
        </td>
    </tr>
</table>

<table border="0" style="border-spacing:0;width: 100%;max-width: 600px;background-color:#fdfdfd;">
<tr>
        <td><img style="width:100%;margin-top: -1px;" src="{{ mailer_app_url_prefix }}/img/mail/mail.jpg" alt="hey! Vienna"/></td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 0px;padding-bottom: 0px;">
            <h1 style="font-family: helvetica, arial;font-size: 34px;margin-bottom: 0px;" class="page-title">Tipps für Buchungen bei hey! VIENNA</h1>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;line-height: 22px;">Hier einige Tipps die für Buchungen bei hey! VIENNA hilfreich sein könnten! Heute geht es um den Umgang mit gemieteten Equipment.</p>
        </td>
    </tr>

    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon7.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Das Übergabeprotokoll</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Für eine reibungslose Abwicklung bei Equipment Buchungen stellt hey! VIENNA ein <a style="color: black;" href="#">Übergabeprotokoll</a> zur Verfügung. Hier wird vor Ort festgehalten, ob das Equipment bereits Schäden/Mängel aufweist und es werden Kontaktdaten zwischen Nutzer und Anbieter ausgetauscht. Sollte das Equipment nicht der Beschreibung auf unserer Plattform entsprechen oder nicht funktionstüchtig sein, kannst du als Nutzer einfach von der Buchung zurücktreten.</p>
        </td>
    </tr>
    
     <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon8.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Für die Equipment-Rückgabe zu beachten</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Die ordentliche Rückgabe deines gemieteten Equipments ist für den Anbieter, als auch für dich als Nutzer von Vorteil! Der Anbieter bekommt sein Gerät so zurück, wie er es ausgeliehen hat und du als Nutzer eine bessere Bewertung für zukünftige Buchungen. Achte daher darauf, dass du zur Rückgabe pünktlich bist und das Equipment vor der Rückgabe so reinigst wie du es erhalten hast.</p>
        </td>
    </tr>

 <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon9.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Unfall oder Diebstahl</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Hast du mit dem gemieteten Equipment während der Mietzeit einen Unfall oder wird das Gerät gestohlen, so kontaktiere bitte umgehend telefonisch den Vermieter. Kratzer und Unfälle lassen sich unkompliziert direkt mit dem Vermieter über die hinterlegte Kaution regeln. Im unglücklichen Fall, dass wirklich ein Totalschaden passiert oder das Gerät während der Buchungszeit gestohlen wird, ist die Schadensdeckung direkt mit dem Mieter zu klären. Verfügst du über eine Haushaltsversicherung, so wird sie in einigen Fällen die Schadens-Deckung für dich übernehmen.</p>
        </td>
    </tr>

    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon10.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom:13px;font-size: 18px;">Bewertungen</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Nach Buchungsende bzw. Rückgabe kannst du den Anbieter bewerten und kannst auch selbst als Nutzer bewertet werden. Erhälst du viele positive Bewertungen so wird es für dich noch leichter Equipment zu mieten und günstige Buchungen zu tätigen. Durch deine Bewertung hilfst du wiederum den Anbieter öfters Buchungsanfragen zu erhalten.</p>
        </td>
    </tr>

    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon11.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Bonuspunkte</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Für jede Buchung bei hey! VIENNA erhälst du als Nutzer oder als Anbieter Bonuspunkte. Mit Bonuspunkten erhälst du verschiedene Preise unserer Affiliate Partner oder als Talent-Anbieter ein kostenloses Portrait-Video und/oder ein persönliches Interview.</p>
        </td>
    </tr>

    <tr>
        <td>
           <p style="font-family: helvetica, arial;font-weight: 100;margin-top: 30px;font-weight: bold;font-size: 15px;margin-left: 20px;">Das waren unsere Tipps für heute!</p>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;margin-left: 20px;margin-top:-10px;">Morgen erfährst du mehr darüber wie du selbst Anbieter bei hey! VIENNA werden kannst.</p>
            
        </td>

    </tr>

    <tr>
        <td style="text-align: center;padding-bottom: 15px;"> <p style="text-align: center;"><img src="{{ mailer_app_url_prefix }}/img/mail/greetings.png" alt="hey! Vienna"/></p>
        </td>
    </tr>
</table>

<table width="100%" style="margin-bottom: 20px;max-width: 600px;">
    <tr>
        <td>
            <p style="text-align: center;font-size: 13px;font-family: helvetica, arial;">**Antworten auf diese automatische System-E-Mail werden nicht gelesen.**</p>
        </td>
    </tr>
</table>
<table style="background-color: #0e0e0e;width: 100%;max-width: 600px;padding-top: 10px;padding-bottom: 20px; text-align:center">
    <tr>
         <td style="color: #9b9b9b;font-size: 14px;font-family: helvetica, arial;">
           <p style="font-weight: bold;margin-bottom: 7px;">hey! VIENNA</p>
            <p style="margin: 0px;margin-bottom: 3px;">ist ein Service der hey! The Sharing Community GmbH</p>
            <p style="margin: 0px;margin-bottom: 3px">Zentagasse 40-42/1/17 - 1050 Wien</p>
            <p style="margin: 0px;margin-bottom: 22px"><a style="color: inherit;" href="http://www.heysharing.com">www.heysharing.com</a></p>
            <p  style="margin-bottom: 0px; margin-top:0px">Geschäftsführer: Robert Ladkani   -   Registergericht: Wien</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Sitz der Gesellschaft: Wien   -   UID: ATU 69841139</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Firmenbuchnummer: 438861i</p>
        </td>
    </tr>
</table>

</body>
</html>
