<!doctype html>
<html style="overflow-x: hidden;max-width: 600px;margin: 0 auto;">
<head>
    <meta charset="utf-8">
    <title>Willkommen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:#f9f9f9;margin: 0;overflow-x: hidden;max-width: 600px;margin: 0 auto;" >

<table  style="background-color: #000000;width: 100%;">
    <tr style="height: 30px;width: 100%;max-width: 600px;">
        <td>
            <p style="color: white;color: white;width: 100%;max-width: 640px;margin: 0 auto;padding-left: 36px;font-size: 13px;font-family: helvetica, arial;padding-left: 15px;">Neuigkeiten von hey! Vienna {# todo: - <a style="color:white" href="#">Email im Browser öffnen</a> #}</p>
        </td>
    </tr>
</table>

<table border="0" style="border-spacing:0;width: 100%;max-width: 600px;background-color:#fdfdfd;">
<tr>
        <td><img style="width:100%;margin-top: -1px;" src="{{ mailer_app_url_prefix }}/img/mail/mail.jpg" alt="hey! Vienna"/></td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 0px;padding-bottom: 0px;">
            <h1 style="font-family: helvetica, arial;font-size: 34px;margin-bottom: 0px;" class="page-title">Willkommen bei hey! VIENNA</h1>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;line-height: 22px;">Du hast Equipment (siehe <a style="color: black;" href="{{ mailer_app_url_prefix }}/doc/checklist.pdf" target="_blank">Checkliste</a>) daheim herum stehen, dass du nur selten benutzt - Du bist ein gewerblicher Verleih, wirst mit deinem Angebot online aber nur schwer gefunden - bei hey! VIENNA hast du jetzt die Möglichkeit mehr aus deinem Equipment zu machen und dabei auch etwas dazuzuverdienen!</p>
          <p style="font-family: helvetica, arial;font-weight: bold;margin-bottom: 7px;font-size: 18px;">Die Vorteile im Überblick:</p>               
<ul style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;line-height: 22px;">
<li style="margin-bottom:5px;">Verleihe ungenutztes Equipment an nette Leute in der Nachbarschaft und verdiene Geld dabei</li>
<li style="margin-bottom:5px;">Nutze die hey! Garantie von bis zu 750,- € sowie eine selbst festgelegte Kaution - Damit ist dein Equipment für den Verleih geschützt</li>
<li style="margin-bottom:5px;">Werde mit deinem bestehenden Verleih-Angebot besser online gefunden</li>
<li style="margin-bottom:5px;">Lerne neue Menschen kennen und werde teil einer wachsenden Community</li>
</ul>
<p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;line-height: 22px;">Hier ein kurzer Leitfaden für den ersten Verleih:</p>         
      </td>
    </tr>
    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon_upload_request_1.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:15px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Biete nur Equipment an, dass es auch für andere interessant sein könnte</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Auf der hey! sharing community möchten wir Equipment anbieten, dass funktionsfähig ist und sich mindestens um 10,- € pro Tag vermieten lässt.</p>
        </td>
    </tr>


 <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon_upload_request_2.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:15px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Ein Bild sagt mehr als tausend Worte</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Gute Fotos sind der Schlüssel für eine erfolgreiche Buchung! Bereite 2-3 schöne Fotos (bitte im Querformat) für deine Anzeige vor. Hier findest du dazu ein <a style="color: black;" href="{{ photoUrl }}">Tutorial</a>. 
        </td>
    </tr>


    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon_upload_request_3.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:15px">
            <p style="font-weight: bold;margin-bottom:13px;font-size: 18px;">Melde dich über Facebook an oder lade ein Profilbild hoch</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Zeige den Vermietern ein Gesicht hinter den Nachrichten. Denn was schafft mehr Vertrauen als ein nettes Lächeln?</p>
        </td>
    </tr>

    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon_upload_request_4.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:15px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Alles klar? Dann kann´s los gehen ;-)</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Equipment ausgesucht & Fotos erstellt - Dann kann es los gehen! Schon bald könnten sich die ersten Interessenten für dein Angebot melden.</p>
        </td>
    </tr>
    <tr>
        <td><a href="{{ url }}" style="background-color: #34b437;color: #FFF;text-decoration: none;margin: 0 auto;margin-top: 7px;display: block;width: 70%;max-width: 380px;padding: 9px 5px;text-align: center;font-size: 24px;border-radius: 6px;border-top-left-radius: 0px;margin-top: 35px;margin-bottom: 30px;font-family: helvetica, arial;">Jetzt Equipment anbieten</a></td>
    </tr>
    <tr>
        <td style="text-align: center;padding-bottom: 15px;"> <p style="text-align: center;"><img src="{{ mailer_app_url_prefix }}/img/mail/greetings.png" alt="hey! Vienna"/></p>
        </td>
    </tr>
</table>

<table width="100%" style="margin-bottom: 20px;">
    <tr>
        <td>
            <p style="text-align: center;font-size: 13px;font-family: helvetica, arial;">**Antworten auf diese automatische System-E-Mail werden nicht gelesen.**</p>
        </td>
    </tr>
</table>
<table style="background-color: #0e0e0e;width: 100%;margin: 0 auto;padding-top: 10px;padding-bottom: 20px; text-align:center">
    <tr>
         <td style="color: #9b9b9b;font-size: 14px;font-family: helvetica, arial;">
           <p style="font-weight: bold;margin-bottom: 7px;">hey! VIENNA</p>
            <p style="margin: 0px;margin-bottom: 3px;">ist ein Service der hey! The Sharing Community GmbH</p>
            <p style="margin: 0px;margin-bottom: 3px">Zentagasse 40-42/1/17 - 1050 Wien</p>
            <p style="margin: 0px;margin-bottom: 22px"><a style="color: inherit;" href="http://www.heysharing.com">www.heysharing.com</a></p>
            <p  style="margin-bottom: 0px; margin-top:0px">Geschäftsführer: Robert Ladkani   -   Registergericht: Wien</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Sitz der Gesellschaft: Wien   -   UID: ATU 69841139</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Firmenbuchnummer: 438861i</p>
        </td>
    </tr>
</table>

</body>
</html>
