<!doctype html>
<html style="overflow-x: hidden;max-width: 600px;margin: 0 auto;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Reminder</title>
    
</head>
<body style="background-color:#f9f9f9;margin: 0;overflow-x: hidden;max-width: 600px;margin: 0 auto;" >

<table  style="background-color: #000000;width: 100%;max-width: 600px;">
    <tr style="height: 30px;width: 100%;max-width: 600px;">
        <td>
            <p style="color: white;color: white;width: 100%;max-width: 600px;margin: 0 auto;padding-left: 36px;font-size: 13px;font-family: helvetica, arial;padding-left: 15px;">Neuigkeiten von hey! VIENNA</p>
        </td>
    </tr>
</table>


<table border="0" style="border-spacing:0;width: 100%;max-width: 600px;background-color:#fdfdfd;">
<tr><td><img style="width:100%;margin-top: -1px;" src="{{ mailer_app_url_prefix }}/img/mail/mail.jpg" alt="hey! Vienna"/></td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 0px;padding-bottom: 0px;">
            <h1 style="font-family: helvetica, arial;font-size: 34px;margin-bottom: 20px;" class="page-title">
                Hallo {% if inquiry.user %}{{ inquiry.user.name }}{% else %}{{ inquiry.name }}{% endif %},
            </h1>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;line-height: 22px;">Deine Buchung steht kurz bevor! Weiter unten findest du nochmals die Buchungsdaten und Kontaktdaten! Hier ist das <a style="color: black;" href="{{ mailer_app_url_prefix }}/doc/uebergabeprotokoll.pdf" target="_blank">Übernahmeprotokoll</a>, dass dir und dem Anbieter bei der Abwicklung helfen wird.</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 10px;">
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;font-weight: bold;margin-top: 0px;margin-bottom: 0px">Buchungsdaten:</p>
			<p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-bottom: 5px;"> <span style="font-weight: bold;">Angebotsname:</span> {{ item.name }}</p>
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-bottom: 5px;"> <span style="font-weight: bold;">Beginn:</span> {{ inquiry.fromAt|localizeddate('none', 'none', 'de_AT', null, 'cccc dd MMMM yyyy, HH:mm') }}</p>
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-top: 5px;margin-bottom: 5px;"><span style="font-weight: bold;">Ende:</span> {{ inquiry.toAt|localizeddate('none', 'none', 'de_AT', null, 'cccc dd MMMM yyyy, HH:mm') }}</span></p>
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-top: 5px;margin-bottom: 0px;"><span style="font-weight: bold;">Gesamtkosten:</span>  {{ booking.totalPrice|number_format(2, ',') }} €</p>
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-top: 5px;margin-bottom: 0px;"><span style="font-weight: bold;">Kaution:</span> {{ inquiry.deposit|number_format(2, ',') }} €</p>
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-top: 5px;margin-bottom: 0px;"><span style="font-weight: bold;">Ort:</span> {{ item.addressAsString }}</p>
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-top: 5px;margin-bottom: 0px;"><span style="font-weight: bold;">Anbieter Kontakt:</span> +43 {{ item.user.fullPhone }}</p>
            {% if discountCode %}
                <p style="font-family: helvetica, arial;font-size: 15px;line-height: 24px;font-size: 20px;margin-top: 5px;margin-bottom: 0px;"><span style="font-weight: bold;">Rabatt:</span> 5,- € (wird dem Anbieter von hey! VIENNA nach Buchungstermin überwiesen)</p>
            {% endif %}
            <p style="font-family: helvetica, arial;font-size: 15px;line-height: 22px;font-size: 15px;line-height: 22px;margin-top: 25px;margin-bottom: 0px;">Buchungsnr.: E-{{ inquiry.id }}</p>         
        </td>
    </tr>
    <tr>
        <td style="text-align: center;padding-bottom: 15px;"> <p style="text-align: center;"><img src="{{ mailer_app_url_prefix }}/img/mail/greetings.png" alt="hey! Vienna"/></p>
        </td>
    </tr>
</table>

<table width="100%" style="margin-bottom: 20px;max-width: 600px;">
    <tr>
        <td>
            <p style="text-align: center;font-size: 13px;font-family: helvetica, arial;">**Antworten auf diese automatische System-E-Mail werden nicht gelesen.**</p>
        </td>
    </tr>
</table>
<table style="background-color: #0e0e0e;width: 100%;max-width: 600px;padding-top: 10px;padding-bottom: 20px; text-align:center">
    <tr>
         <td style="color: #9b9b9b;font-size: 14px;font-family: helvetica, arial;">
           <p style="font-weight: bold;margin-bottom: 7px;">hey! VIENNA</p>
            <p style="margin: 0px;margin-bottom: 3px;">ist ein Service der hey! The Sharing Community GmbH</p>
            <p style="margin: 0px;margin-bottom: 3px">Zentagasse 40-42/1/17 - 1050 Wien</p>
            <p style="margin: 0px;margin-bottom: 22px"><a style="color: inherit;" href="http://www.heysharing.com">www.heysharing.com</a></p>
            <p  style="margin-bottom: 0px; margin-top:0px">Geschäftsführer: Robert Ladkani   -   Registergericht: Wien</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Sitz der Gesellschaft: Wien   -   UID: ATU 69841139</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Firmenbuchnummer: 438861i</p>
        </td>
    </tr>
</table>


</body>
</html>
