<!doctype html>
<html style="overflow-x: hidden;max-width: 600px;margin: 0 auto;">
<head>
    <meta charset="utf-8">
    <title>Willkommen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:#f9f9f9;margin: 0;overflow-x: hidden;max-width: 600px;margin: 0 auto;" >

<table  style="background-color: #000000;width: 100%;">
    <tr style="height: 30px;width: 100%;max-width: 600px;">
        <td>
            <p style="color: white;color: white;width: 100%;max-width: 640px;margin: 0 auto;padding-left: 36px;font-size: 13px;font-family: helvetica, arial;padding-left: 15px;">Neuigkeiten von hey! VIENNA</p>
        </td>
    </tr>
</table>

<table border="0" style="border-spacing:0;width: 100%;max-width: 600px;background-color:#fdfdfd;">
<tr>
        <td><img style="width:100%;margin-top: -1px;" src="{{ mailer_app_url_prefix }}/img/mail/mail.jpg" alt="hey! Vienna"/></td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 0px;padding-bottom: 0px;">
            <h1 style="font-family: helvetica, arial;font-size: 34px;margin-bottom: 0px;" class="page-title">Willkommen bei hey! VIENNA</h1>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 24px;margin-top: 25px;font-weight: bold;font-size: 15px;">Angebote buchen leicht gemacht!</p>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;line-height: 22px;margin-top:-10px;">Bei uns gibt es ein paar Dinge die du beachten solltest. Heute erhältst du die erste von drei E-Mails, die dich Schritt für Schritt bei hey! VIENNA einführen werden.</p>    
        </td>
    </tr>



    {% if discountCode %}
    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon5.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Nutze deine 5,-€ Startrabatt!</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Für deine erste Buchung gibt es 5,-€ Startrabatt. Füge dazu einfach diesen Code in dem Feld Rabattcode ein: <span style="font-weight: bold;">{{ discountCode.code }}</span></p>
        </td>
    </tr>
    {% endif %}

 <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon1.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Frage deinen Wunsch-Service oder <br>- Equipment früh genug an</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Sichere dir das Angebot, indem du die Anbieter frühzeitig kontaktierst. Denke immer daran, dass auch sie ihren Alltag planen müssen.</p>
        </td>
    </tr>


    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon2.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom:13px;font-size: 18px;">Schick mehrere Anfragen</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Frage mehrere Vermieter parallel an. Bei 3 angefragten Angeboten der selben Kategorie erhöht sich deine Zusagewahrscheinlichkeit auf 90%!</p>
        </td>
    </tr>





    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;margin-bottom: 20px;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon6.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 13px;font-size: 18px;">Bewirb dich um dein Wunschangebot</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Möchtest du etwas ganz bestimmtes damit erleben? Oder brauchst du das das Angebot für einen bestimmten Anlass? Schicke dem Anbeiter ein paar nette Worte zu deiner Anfrage. Reagiere schnell auf Zusagen, denn erst mit der Bezahlung ist das Angebot für dich reserviert.</p>
        </td>
    </tr>



    <tr style="max-width: 600px;width: 100%;display: block;margin: 0 auto;">
        <td style="vertical-align: top;">
            <img style="margin-left: 25px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_app_url_prefix }}/img/mail/icon4.png" alt="hey! Vienna"/>
        </td>
        <td style="font-family: helvetica, arial;padding-right:20px">
            <p style="font-weight: bold;margin-bottom: 7px;font-size: 18px;">Sage rechtzeitig ab, wenn du das Angebot doch nicht buchen möchtest</p>
            <p style="margin: 0px;margin-bottom: 3px;font-weight: 100;font-size: 15px;line-height: 22px;">Hast du die Buchung bereits durchgeführt, kannst du 24 Stunden vor Buchungsbeginn stornieren.
        </td>
    </tr>

    <tr>
        <td>
           <p style="font-family: helvetica, arial;font-weight: 100;margin-top: 30px;font-weight: bold;font-size: 15px;margin-left: 20px;">Das waren unsere Tipps für heute!</p>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 15px;margin-left: 20px;margin-top:-10px;">Morgen verraten wir dir die wichtigsten Infos zur Handhabung bei gemieteten Equipment.</p>
            
        </td>

    </tr>

    <tr>
        <td style="text-align: center;padding-bottom: 15px;"> <p style="text-align: center;"><img src="{{ mailer_app_url_prefix }}/img/mail/greetings.png" alt="hey! Vienna"/></p>
        </td>
    </tr>
</table>

<table width="100%" style="margin-bottom: 20px;">
    <tr>
        <td>
            <p style="text-align: center;font-size: 13px;font-family: helvetica, arial;">**Antworten auf diese automatische System-E-Mail werden nicht gelesen.**</p>
        </td>
    </tr>
</table>
<table style="background-color: #0e0e0e;width: 100%;margin: 0 auto;padding-top: 10px;padding-bottom: 20px; text-align:center">
    <tr>
         <td style="color: #9b9b9b;font-size: 14px;font-family: helvetica, arial;">
           <p style="font-weight: bold;margin-bottom: 7px;">hey! VIENNA</p>
            <p style="margin: 0px;margin-bottom: 3px;">ist ein Service der hey! The Sharing Community GmbH</p>
            <p style="margin: 0px;margin-bottom: 3px">Zentagasse 40-42/1/17 - 1050 Wien</p>
            <p style="margin: 0px;margin-bottom: 22px"><a style="color: inherit;" href="http://www.heysharing.com">www.heysharing.com</a></p>
            <p  style="margin-bottom: 0px; margin-top:0px">Geschäftsführer: Robert Ladkani   -   Registergericht: Wien</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Sitz der Gesellschaft: Wien   -   UID: ATU 69841139</p>
            <p  style="margin-bottom: 0px; margin-top:0px">Firmenbuchnummer: 438861i</p>
        </td>
    </tr>
</table>

</body>
</html>