
{% block body_html %}
    <!doctype html>
<html style="overflow-x: hidden;max-width: 600px;margin: 0 auto;">
<head>
    <meta charset="utf-8">
    <title>Dokument bez tytułu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/rentme/mail.css"/>
</head>

<body style="background-color:#f9f9f9;margin: 0;overflow-x: hidden;max-width: 600px;margin: 0 auto;" class="mail1">

<table style="background-color: #000000;width: 100%;">
    <tr style="height: 30px;width: 100%;max-width: 600px;">
        <td>
            <p class="paddin" style="color: white;color: white;width: 100%;max-width: 640px;margin: 0 auto;padding-left: 36px;font-size: 13px;font-family: helvetica, arial;padding-left: 92px;">Du hast eine Buchungsanfrage erhalten</p>
        </td>
    </tr>
</table>


<table border="0" style="margin:0 auto;background-color:#fdfdfd;border:1px solid #f2f2f2;border-top: none;width: 100%;max-width: 600px;">
    <tr style="height:200px">
        <td class="td-img"><img style="width:100%;margin-top: -5px;" src="{{ mailer_image_url_prefix }}img/mail/mail.jpg" class="img-header" alt="rent me !"/></td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 0px;padding-bottom: 0px;">
            <h1 style="font-family: helvetica, arial;font-size: 34px;margin-bottom: 0px;font-weight: bold;" class="page-title-sec">Vielen Dank <br> für deine Registrierung</h1>
            <p style="font-family: helvetica, arial;font-weight: 400;font-size: 24px;margin-top: 10px;">bei hey! - The Sharing Community</p>
            <p style="font-family: helvetica, arial;font-weight: 100;font-size: 24px;margin-top: 10px;font-weight: bold;font-size: 15px;">Du bist nur noch einen Klick entfernt...</p>
            <a href="{{ confirmationUrl }}" style="background-color: #f0c814;color: #000000;text-decoration: none;margin: 0 auto;margin-top: 7px;display: block;width: 70%;max-width: 380px;padding: 9px 5px;text-align: center;font-size: 24px;font-weight: bold;border-radius: 6px;border-top-left-radius: 0px;margin-top: 35px;margin-bottom: 30px;font-family: helvetica, arial;">Anmeldung hier bestätigen</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px;padding-top: 0px;">
            <p style="font-family: helvetica, arial;font-size: 15px;font-weight: 100;">Bitte klicke nun auf den Bestätigungsbutton, um deine Registrierung abzu-schließen, und deine Profildaten zu vervollständigen.</p>
            <p style="font-family: helvetica, arial;font-size: 15px;margin-top: 30px;margin-bottom: 0px;font-weight: 100;">Falls der Link dich nicht automatisch weiterleitet, kannst du folgenden Link auch direkt in dein Browserfenster kopieren:</p>
            <a style="font-size: 15px;font-family: helvetica, arial;margin-top: 30px;display: inline-block;font-weight: 100;color: #000000" href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
            <p style="font-family: helvetica, arial;font-size: 15px;margin-top: 30px;margin-bottom: 0px;font-weight: 100;">Viel Spaß wünscht,</p>

        </td>
    </tr>

    <tr>
        <td style="text-align: center;padding-bottom: 15px;">
            <p style="text-align: center;"><img src="{{ mailer_image_url_prefix }}img/mail/greetings.png" alt="rent me !"/></p>
            <a style="margin-right: 10px;margin-top: 13px;display: inline-block;" href="#" class="links"><img src="{{ mailer_image_url_prefix }}img/mail/app.png" alt="rent me !"/></a>
            <a style="margin-left: 10px;margin-top: 13px;display: inline-block;" href="#" class="links"><img src="{{ mailer_image_url_prefix }}img/mail/google.png" alt="rent me !"/></a>
        </td>
    </tr>
</table>

<table width="100%" style="margin-bottom: 35px;">
    <tr>
        <td>
            <p style="text-align: center;font-size: 13px;font-family: helvetica, arial;">**Antworten auf diese automatische System-E-Mail werden nicht gelesen.**</p>
        </td>
    </tr>
</table>

<table style="background-color: #0e0e0e;width: 100%;margin: 0 auto;padding-top: 10px;padding-bottom: 60px;">
    <tr style="width: 100%;max-width: 600px;display: block;margin: 0 auto;">
        <td style="vertical-align: top;">
            <img style="margin-left: 45px;margin-right: 27px;margin-top: 15px;" src="{{ mailer_image_url_prefix }}img/mail/logo.png" alt="rent me !"/>
        </td>
        <td style="color: #9b9b9b;font-size: 14px;font-family: helvetica, arial;">
            <p style="font-weight: bold;margin-bottom: 7px;">hey! TSC</p>
            <p style="margin: 0px;margin-bottom: 3px;">ist ein Service der hey! The Sharing Community GmbH</p>
            <p style="margin: 0px;margin-bottom: 3px">Zentagasse 40-42/1/17 - 1050 Wien</p>
            <p style="margin: 0px;margin-bottom: 22px">0043 664 180 80 21  &nbsp; -  &nbsp; <a style="color: inherit;" href="www.hey-tsc.at">www.hey-tsc.at</a></p>
            <p  style="margin-bottom: 0px;">Geschäftsführer: Robert Ladkani   -   Registergericht: Wien</p>
            <p  style="margin-top: 0px;">Sitz der Gesellschaft: Wien   -   UID: AT123456789</p>
        </td>
    </tr>
</table>

</body>
</html>

{% endblock %}
