{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_users_list') }}" class="active-crumb">Users</a></li>
{% endblock %}

{% block body %}
<h1>Users</h1>

<a class="button-black backgound-yellow text-black" href="{{ path('admin-user-add') }}">New user</a>
<br/>
<br/>

<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>

    {% if code %}
        <div id="question-modal" class="modal fade delete-offer" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
                        <div class="content-modal">
                            <p class="delate-info">
                                User <b>{{ code.user.email }}</b> has been created.
                            </p>
                            <p class="delate-info">
                                User's discount code is <b>{{ code.code }}</b>.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endif %}

{% endblock %}

{% block script %}
<script>    
$(document).ready(function(){    
    {% if code %}
        $("#question-modal").modal();                
    {% endif %}            


function rowActions(cellvalue, options, cellobject) {
    var s = '<a title="View user details" href="{{ path('admin-user-details', { 'id': ':ID:' }) }}"><u>details</u></a>';
    s += '&nbsp;&nbsp;<a title="Edit user details" href="{{ path('admin-user-edit', { 'id': ':ID:' }) }}"><u>edit</u></a> ';
    s += '&nbsp;&nbsp;<a title="Delete" href="{{ path('admin-user-delete', { 'id': ':ID:' }) }}" onclick=\"return confirm(\'Are you sure to delete?\')\"><u>delete</u></a>';
    return s.replace(/:ID:/g, options.rowId);
}

var $grid = $('#jqgrid');

if($grid.length > 0 ) {
        var optionsStr = ":ALL;1:OK;2:BLOCKED";
        $grid.jqGrid({
                url: '{{ path('admin_users_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width: 150, fixed:true, editable:false, sortable:false, formatter:rowActions, search: false },
                        { name:'Id', index:'u.id', width:0, editable:false, sortable:false, hidden: true, search: false },
                        { name:'Username/Email', index:'u.email', width: 250, editable:false, sortable:true },
                        { name:'Name', index:'u.name', width: 150, editable:false, sortable:true },
                        { name:'Surname', index:'u.surname', width: 150, editable:false, sortable:true },
                        { name:'Status', index:'u.status', width: 100, editable:false, sortable:true, stype: 'select', searchoptions:{ sopt:['eq'], value: optionsStr, clearSearch: true } },
                        { name:'Created', index:'u.createdAt', width: 130, editable:false, sortable:true, search: false },
                        { name:'Modified', index:'u.modifiedAt', width: 130, editable:false, sortable:true, search: false }             
                ],
                height: 550,
                rowNum: 20,
                rowList: [20, 50, 100],
                pager: 'jqgrid-pager',
                sortname: 'u.username',
                viewrecords: true,
                sortorder: "asc",
                multiselect: false
        });
        $grid.jqGrid('filterToolbar', {
            stringResult: false,
            searchOnEnter: false,
            defaultSearch: 'cn'
        });
}

}); // end ready function
</script>    
    
{% endblock %}
