{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_users_list') }}" class="active-crumb">Users</a></li>
{% endblock %}

{% block body %}
<h1>Users</h1>

<a class="button-black backgound-yellow text-black" href="{{ path('admin-user-add') }}">New user</a>
<br/>
<br/>

<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>


{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    
$(document).ready(function(){    
//*******************************************
/*	JQGRID INIT
/********************************************/


function rowActions(cellvalue, options, cellobject) {
    var s = '<a title="View user details" href="{{ path('admin-user-details', { 'id': ':ID:' }) }}"><u>details</u></a>';
    s += '&nbsp;&nbsp;<a title="Edit user details" href="{{ path('admin-user-edit', { 'id': ':ID:' }) }}"><u>edit</u></a> ';
    s += '&nbsp;&nbsp;<a title="Delete" href="{{ path('admin-user-delete', { 'id': ':ID:' }) }}" onclick=\"return confirm(\'Are you sure to delete?\')\"><u>delete</u></a>';
    return s.replace(/:ID:/g, options.rowId);
}

var $grid = $('#jqgrid');

if($grid.length > 0 ) {
        var optionsStr = ":All;1:ok;2:blocked;3:deleted";
        $grid.jqGrid({
                url: '{{ path('admin_users_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width:180, fixed:true, editable:false, sortable:false, formatter:rowActions, search: false },
                        { name:'Id', index:'u.id', width:1, editable:false, sortable:false, hidden: true, search: false },
                        { name:'Username', index:'u.email', width: 200, editable:false, sortable:true },
                        { name:'Name', index:'u.name', width: 200, editable:false, sortable:true },
                        { name:'Surname', index:'u.surname', width: 200, editable:false, sortable:true },
                        { name:'Status', index:'u.status', width: 100, editable:false, sortable:true, stype: 'select', searchoptions:{ sopt:['eq'], value: optionsStr, clearSearch: true } },
                        { name:'CreationDate', index:'u.createdAt', width: 120, editable:false, sortable:true, search: false },
                        { name:'ModificationDate', index:'u.modifiedAt', width: 120, editable:false, sortable:true, search: false },                        
                ],
                height: 500,
                rowNum: 50,
                rowList: [20, 50, 200],
                pager: 'jqgrid-pager',
                sortname: 'u.username',
                viewrecords: false,
                sortorder: "asc",
                caption: "Users",
                multiselect: false,
        });
        $grid.jqGrid('filterToolbar', {
            stringResult: false,
            searchOnEnter: false,
            defaultSearch: 'cn'
        });
}

}); // end ready function
</script>    
    
{% endblock %}

