{{ form_start(form) }}
    <input type="hidden" name="success" value="{{ form.vars.submitted and form.vars.valid ? "1" : "0" }}"/>
    <div class="row">
        <div class="col-sm-6">
            <label for="form_type">Einheit w채hlen:</label>
           {{ form_widget(form.type) }}
        </div>
        <div class="col-sm-6">
            <label for="form_price">Preis pro Tag ab:</label>
            {{ form_widget(form.price) }}
            {% if form.price.vars.errors|length > 0 %}<div class="err-msg">{{ form_errors(form.price) }}</div>{% endif %}
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            <p class="memo">
                Bitte gib hier Tarif (bist du Umsatzsteuerpflichtig inkl. Ust.) f체r diese Einheit an. Sollte es bei einer Buchung zu gefingf체gigen Mehrkosten kommen, kannst du das dem Kunden separat mitteilen.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="chbox-holder" style="display: inline-block;">
                {{ form_widget(form.discount) }}
                <label for="form_discount"><span></span>Mengenrabatt ab:</label>
            </div>
            {% if form.discount.vars.errors|length > 0 %}<div class="err-msg">{{ form_errors(form.discount) }}</div>{% endif %}
            {{ form_widget(form.discountMinNum) }}
            {% if form.discountMinNum.vars.errors|length > 0 %}<div class="err-msg">{{ form_errors(form.discountMinNum) }}</div>{% endif %}
        </div>
        <div class="col-sm-6">
            <label for="form_discountPrice">Preis pro Tag ab:</label>
            {{ form_widget(form.discountPrice) }}
            {% if form.discountPrice.vars.errors|length > 0 %}<div class="err-msg">{{ form_errors(form.discountPrice) }}</div>{% endif %}
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="tariff-save">Diese Tarifoption speichern</button>
            {% if tariffId %}
                <button id="tariff-delete" data-id="{{ tariffId }}">Diese Tarifoption zur체cksetzen und entrefnen</button>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}

<script>
    function discountChanged() {
        var $dcnt = $('#form_discount');
        var $dcntNum = $('#form_discountMinNum');
        var $dcntPrice = $('#form_discountPrice');
        if ($dcnt.prop('checked')) {
            $dcntPrice.removeAttr('readOnly');
            $dcntPrice.css({ 'background-color': '#fff', 'opacity': '1.0' });
            $dcntNum.prop('disabled', false);
            $dcntNum.selectpicker('refresh');
        }
        else {
            $dcntPrice.attr('readOnly', 'true');
            $dcntPrice.css({ 'background-color': '#aaa', 'opacity': '0.5' });
            $dcntNum.prop('disabled', true);
            $dcntNum.selectpicker('refresh');
        }        
    }
    $(function () {
        $("#form_discount").on('click change', discountChanged);
        window.setTimeout(discountChanged, 123); // todo: improve (call after $('.num-picker').selectpicker())
    });
</script>
