{{ form_start(form) }}
    <label for="name2">Angebotsname:*</label>
    {{ form_widget(form.name, { 'attr': { 'placeholder': 'Maximal 32 Zeichen', 'class': 'normal-input', 'maxlength': '32' } }) }}
    {% if form.name.vars.errors|length > 0 %}
        <div class="err-msg">{{ form_errors(form.name) }}</div>
    {% endif %}
    {% if form.vars.errors|length > 0 %}
        <div class="err-msg">{{ form_errors(form) }}</div>
    {% endif %}
{{ form_end(form) }}