{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
    {% include('provider/user_nav.html.twig') %}
  <section class="users container background-light-grey">
    <div class="row">
        <!-- Left side -->
        <div class="col-xs-9">
            <a href="{{ path('dashboard') }}"><img src="/img/logo-small.png" alt=""/></a>
            <ul class="steps">
               <li class="step-1"><span class="counters text-bold"><span class="n-one"></span>Tarif</span></li>
                  <li class="step-2"><span id="button_2" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-two"></span>Beschreibung</span>
                  </li>
                  <li class="step-3"><span id="button_3" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-three"></span>Details</span></li>
                  <li class="step-4"><span id="button_4" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-four"></span>Fertig</span></li>
            </ul>
        </div>
        <!-- Right side -->
         <div class="col-md-3 margin-rwd">
        <div class="support">
          <p class="head">Anbieter Support</p>
          <p class="mail"><a href="mailto:support@heysharing.com">support@heysharing.com</a></p>
        </div>
      </div>
    </div>
    <div class="row user-forms">
        <div class="col-xs-9">
            {{ form_start(form) }}
                
            <div class="row">
                <div class="col-xs-12 border-bottom-white form-head">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="number-one"></span>

                                <p class="form-heading">Tarif</p>
                            </div>
                            <div class="col-sm-6">
                                <span class="form-info">Ab welchen Tarif möchtest du anbieten?</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-container form-input form-last-item">
                        <div class="row">
                             <div class="col-sm-7">
                                  <label for="name2">Angebotsname:*</label>
                                  {#<input type="text" name="name2" placeholder="Maximal 32 Zeichen" class="normal-input " id="offer-name" maxlength="32" required>#}
                                  {{ form_widget(form.name, { 'attr': { 'placeholder': 'Maximal 32 Zeichen', 'class': 'normal-input', 'maxlength': '32' } }) }}
                                  <div class="err-msg">{{ form_errors(form.name) }}</div>
                              </div>
                               <div class="col-sm-5">
                                  <label for="form[price]">Preis pro Stunde (ab):*</label>
                                  {#<input type="number" name="name2" placeholder="0" class="small-input " id="preis_pro_tag" min="10" max="500" required>#}
                                  {{ form_widget(form.price, { 'attr': { 'class': 'small-input', 'placeholder': '0', 'min': '10', 'max': '500' }}) }}EUR
                                  <div class="err-msg">{{ form_errors(form.price) }}</div>
                                  <div class="err-msg">{{ form_errors(form) }}</div>
                              </div>
                            <!--<div class="col-sm-6">
                                <label for="name2">Preis pro Stunde:</label><input type="text" name="name2" style="width:110px" placeholder="z.B.: ab 20" class="small-input " id="name2">                                EUR
                            </div>-->
                            <!--<div class="col-sm-6 text-right">
                                <label class="chbox"><input type="checkbox"> <span> Keine Angabe</span></label>
                            </div>-->
                        </div>
                         <p class="memo">Bitte gib hier deinen Stundentarif (Bist du Umsatzsteuerpflichtig inkl. USt.) an. Sollte es bei einer Buchung zu geringfügigen Mehrkosten kommen, kannst du das deinen Kunden separat mitteilen.</p>
                        
                    </div>
                   

                </div>
                
                <div class="col-xs-12 border-bottom-white form-head">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-sm-6">
                              

                                <p class="form-heading">Optionen</p>
                            </div>
                            <div class="col-sm-6">
                                <span class="form-info">Optionale Einstellungen</span>
                            </div>
                        </div>
                    </div>
                </div>
                              
                <div class="col-xs-12">
                    <div class="form-container form-input form-last-item">
                       <!-- <div class="row">
                         <div class="col-sm-4">
                                  <label for="name2">5 Std. Block</label><input type="number" name="name2" placeholder="0" class="small-input " id="5_block" min="50" max="2500"> EUR
                              </div>
                                <div class="col-sm-4">
                                  <label for="name2">10 Std. Block</label><input type="number" name="name2" placeholder="0" class="small-input " id="10_block" min="100" max="5000"> EUR
                              </div>
                                <div class="col-sm-4">
                                  <label for="name2">20 Std. Block</label><input type="number" name="name2" placeholder="0" class="small-input " id="20_block" min="200" max="10000"> EUR
                              </div>
                              </div>                            
                          <p class="memo">Diese Optionen helfen dir dabei attraktive Angebote für deine Kunden zu schnüren. Im Normalfall werden für den 5 Std. Block 10-15%, den 10 Std. Block 15-20% und für den 20 Std. 20-25% Rabatt angeboten.</p>  -->
                           <div class="row">
                           <div class="col-sm-12">
                                <div class="chbox-holder rdisable">
                                    {{ form_widget(form.requestPrice, { 'attr': { 'disabled': 'disabled' } }) }}
                                    <label for="form_requestPrice"><span></span>Preis nur auf Anfrage (auf deine Portraitseite nicht sichtbar)</label>
                                  </div>
                                
                            </div>
                           </div> 
                           <p class="memo">Diese Option ist nur für Stundentarife ab 50,- € vorgesehen. Bestätige dazu bitte erst den Stundentarif. Bitte beachte, dass
es für deine Interessenten generell übersichtlicher ist, wenn ein Stundentarif angegeben wird.</p>  
                          </div>                     
                    </div>
                              
            </div>
            <input type="submit" class="yellow-button" value="Tarif speichern &gt;&gt;">
            {{ form_end(form) }}
          </form>
        </div>
        <!--<div class="col-xs-3">
            <div class="support">
                <p class="head">Dein Verdienst</p>
                <div class="range"><input type="text" id="range_30" name="example_name" value="" /></div>
                <p class="price">29,90 €</p>
                <p class="price-info">pro Jahr bei 50 Stunden Vermietung</p>
            </div>
        </div>-->
  </section>
  </div>

    <div id="edit-offer" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Das Angebot wurde bearbeitet.</p>
            <p class="delate-info">Bitte beachte, dass dein Angebot erst von uns angesehen werden muss, bevor die Änderungen aktiv werden.</p>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
    <script>
      var fieldsChanged = false;
      var url2 = "{{ path('talent-edit-2', {'id': id}) }}";
      var url3 = "{{ path('talent-edit-3', {'eqid': id}) }}";
      var url4 = "{{ path('talent-edit-4', {'id': id}) }}";
      
      function topMenuClick(){
          
          if (!fieldsChanged || confirm('Sie haben ungesicherte Änderungen. Möchtest du fortfahren?')){
              switch($(this).attr("id").split("_")[1]){
                  case "2":
                      location.href = url2;
                      break;
                  case "3":
                      location.href = url3;
                      break;
                  case "4":
                      location.href = url4;
                      break;
              }
              
          } 
      }
      function priceChanged() {
          var $price = $("#form_price");
          var price = parseInt($price.val());
          var $req = $("#form_requestPrice");
          var $reqHold = $req.parent(".chbox-holder");
          if (price >= 50) {
              $req.removeAttr('disabled');
              $reqHold.removeClass('rdisable');
          }
          else {
              $req.prop('checked', false);
              $req.attr('disabled', 'disabled');
              $reqHold.addClass('rdisable');
          }
      }
      function requestPriceChanged() {
          var $price = $("#form_price");
          var price = parseInt($price.val());
          var $req = $("#form_requestPrice");
          var req = $req.prop('checked');
          if (req) {
              $price.attr('readOnly', 'true');
              $price.css({ 'background-color': '#aaa', 'opacity': '0.5' });
          }
          else {
              $price.removeAttr('readOnly');
              $price.css({ 'background-color': '#fff', 'opacity': '1.0' });
          }
      }
      
      $(document).ready(function () {
          
          $("form input[type='text']").on("change", function(){
              fieldsChanged = true;
          });
          
          $(".top-menu-button").click(topMenuClick);
          $("#form_price").on('change keyup', priceChanged);
          $("#form_requestPrice").on('click change', requestPriceChanged);
          
        priceChanged();
        requestPriceChanged();  
          
        {% if statusChanged %}
            $("#edit-offer").modal();
            $("#edit-offer").on("hidden.bs.modal", function() {
                window.location = '{{ path('talent-edit-2', { 'id': id }) }}';
            });
        {% endif %}
      });
  </script>
{% endblock %}
