{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
    {% include('provider/user_nav.html.twig') %}
  <section class="users container background-light-grey">
    <div class="row">
        <!-- Left side -->
        <div class="col-xs-9">
            <a href="{{ path('dashboard') }}"><img src="/img/logo-small.png" alt=""/></a>
            <ul class="steps">
               <li class="step-1"><span class="counters text-bold"><span class="n-one"></span>Tarif</span></li>
                  <li class="step-2"><span id="button_2" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-two"></span>Beschreibung</span>
                  </li>
                  <li class="step-3"><span id="button_3" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-three"></span>Details</span></li>
                  <li class="step-4"><span id="button_4" class="{% if (complete) %}top-menu-button{% endif %} counters greyed"><span class="nh-four"></span>Fertig</span></li>
            </ul>
        </div>
        <!-- Right side -->
         <div class="col-md-3 margin-rwd">
        <div class="support">
          <p class="head">Anbieter Support</p>
          <p class="mail"><a href="mailto:support@heysharing.com">support@heysharing.com</a></p>
        </div>
      </div>
    </div>
    <div class="row user-forms">
        <div class="col-xs-9">                
            <div class="row">
                <div class="col-xs-12 border-bottom-white form-head">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="number-one"></span>

                                <p class="form-heading">Tarif</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-container form-input form-last-item">
                        <div class="row">
                             <div class="col-sm-12">
                                 <div id="basic-form">
                                    {{ render(controller('AppBundle:Talent:formBasic', { 'id': id })) }}
                                 </div>
                              </div>
                        </div>                         
                    </div>
                </div>
                
                <div class="col-xs-12 border-bottom-white form-head">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="number-two"></span>
                                <p class="form-heading">Tarifoptionen</p>
                            </div>
                        </div>
                    </div>
                </div>
                              
                <div class="col-xs-12">
                    <div class="form-container form-input form-last-item">
                        <div id="tariff-form">
                            {{ render(controller('AppBundle:Talent:formTariff', { 'id': id, 'type': type })) }}
                        </div>
                    </div>                     
                </div>                              
            </div>
            <input type="submit" id="basic-submit" class="yellow-button" value="Tarif speichern &gt;&gt;">
        </div>
        <div class="col-xs-3">
            <div class="tariff-box support" style="overflow: auto;">
                <p class="head">Tarif Reihenfolge*</p>

                <ul id="tariff-container" style="">
                    {% for tariff in tariffs %}
                        <li class="tariff" data-id="{{ tariff.id }}">{{ tariff.typeName }}</li>
                    {% endfor %}
                </ul>

                <p>Reihenfolgen ändern durch Drag &amp; Drop</p>
                <p>
                    *Wichtig: Die 1. Tarifoption erscheint auch auf deiner Angebots-Vorschau auf der Übersichtsseite!
                </p>
            </div>
        </div>
  </section>
  </div>

    <div id="edit-offer" class="modal fade delete-offer" role="dialog">
      <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"><img src="/img/close-modal.png" alt="close"/></button>
          <div class="content-modal">
            <p class="text-bold">Das Angebot wurde bearbeitet.</p>
            <p class="delate-info">Bitte beachte, dass dein Angebot erst von uns angesehen werden muss, bevor die Änderungen aktiv werden.</p>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        (window.jQuery.ui === undefined) && document.write('<script src="/js/jquery-ui.min.js">\x3C/script>');
    </script>
    <script>
        var fieldsChanged = false;
        
        $(function() {
            $("#form_type").val({{type}});
            initBasicForm();
            initTariffForm();
            $('#tariff-container').sortable({
                'containment': '.tariff-box',
                'stop': sortSave
            });
            
            $("form input[type='text']").on("change", function() {
                fieldsChanged = true;
            });
            $(".top-menu-button").click(topMenuClick);
        }); // end of ready
        
        function reloadTariffs() {
            var url = '{{ path('talent-tariffs', { 'id': id }) }}';
            $.get(url)
                    .done(function(data) {
                        var box = $('#tariff-container');
                        box.empty();
                        var l = data.list.length;
                        for (var i = 0; i < l; i++) {
                            var t = data.list[i];
                            var li = $('<li>').addClass('tariff').data('id', t.id).text(t.name);
                            box.append(li);
                        }
                    });
        }
        function initTariffForm() {
            var $tariffPicker = $("#form_type");
            $tariffPicker.selectpicker({
                width: 200,
                style: 'btn-info'
            });
            $tariffPicker.on('changed.bs.select', tariffChanged);
            $(".num-picker").selectpicker({
                width: 'fit',
                style: 'btn-info'
            });
            $("#tariff-save").click(tariffSave);
            $("#tariff-delete").click(tariffDelete);
        }
        function initBasicForm() {
            $("#basic-submit").click(basicSubmit);            
        }
        function tariffChanged() {
            var type = $("#form_type").selectpicker('val');
            var url = '{{ path('talent-detail-form', { 'id': id, 'type': '-TYPE-' }) }}';
            url = url.replace('-TYPE-', type);
            
            $("#tariff-form").load(url, function() {
                initTariffForm();
            });
        }
        function tariffSave(e) {
            e.preventDefault();
            
            var $form = $('#tariff-form form');
            if ($form[0].checkValidity())
                $form.ajaxSubmit({
                    target: $('#tariff-form'),
                    success: function() { 
                        initTariffForm();
                        reloadTariffs();
                    }
                });
            else
                $('<input type="submit">').hide().appendTo($form).click().remove();
        }
        function tariffDelete(e) {
            e.preventDefault();
            
            var id = $(this).data('id');
            var url = '{{ path('talent-tariff-delete', { 'id': '-ID-' }) }}'.replace('-ID-', id);
            $.get(url)
                    .done(function() {
                        reloadTariffs();
                        tariffChanged();
                    });
        }
        function basicSubmit(e) {
            e.preventDefault();
            
            var $form = $('#basic-form form');
            if ($form[0].checkValidity())
                $form.ajaxSubmit({
                    target: $('#basic-form'),
                    success: function(data, statusText, xhr, $newForm) { 
                        var url = '{{ path('talent-edit-2', { 'id': id }) }}';
                        // status change
                        var $f = $(data);
                        var v1 = $f.find('input[name="statusChanged"]').val();
                        var v2 = $f.find('input[name="success"]').val();
                        if (v1 === '1') {
                            $("#edit-offer").modal();
                            $("#edit-offer").on("hidden.bs.modal", function() {
                                window.location = url;
                            });
                        }
                        else if (v2 === '1')
                            window.location = url;                        
                    }
                });
            else 
                $('<input type="submit">').hide().appendTo($form).click().remove();
        }
        function sortSave() {
            var lis = $('#tariff-container li');
            var arr = [];
            for (var i = 0; i < lis.length; i++)
                arr.push($(lis[i]).data('id'));
            var ids = arr.join(',');
            var url = '{{ path('talent-tariff-order', { 'id': id, 'ids': '-IDS-' }) }}'.replace('-IDS-', ids);
            $.get(url);            
        }
        function topMenuClick() {
            if (!fieldsChanged || confirm('Sie haben ungesicherte Änderungen. Möchtest du fortfahren?')){
                switch($(this).attr("id").split("_")[1]){
                    case "2": location.href = "{{ path('talent-edit-2', {'id': id}) }}"; break;
                    case "3": location.href = "{{ path('talent-edit-3', {'eqid': id}) }}"; break;
                    case "4": location.href = "{{ path('talent-edit-4', {'id': id}) }}"; break;
                }
            } 
        }
    </script>
{% endblock %}
